.profile_setting_container .popup_edit_profile_container{
	background: rgb(40, 41, 49);
}
.profile_setting_container .get_start_container{
	background: rgb(40, 41, 49);
}
.get_start_container .main_info_container .title{
	color: rgb(255, 0, 25);
}
.svr_item_container, .svr_item_error_hint_container{
	background: rgb(40, 41, 49);
	border-color: rgba(40, 41, 49, 0.5);
}
.svr_item_container.selected{
	background: rgb(40, 41, 49);
	border-color: rgb(255, 0, 25);
}
.svr_item_container.internet{
	color: rgb(255, 0, 25);
}
.svr_item_container.active .svr_item_sub_info .vpn_status,
.svr_item_container.internet.connected .svr_item_sub_info{
	color: rgb(255, 0, 25);
}
.switch.on{
	background: rgb(255, 0, 25);
}
.checkbox.on{
	box-shadow: 0 0 0 1.5px rgba(240, 0, 28, 0.6);
	background-color: rgba(240, 0, 28, 0.6);
}
.profile_setting_item{
	background-color: rgba(0, 0, 0, 0.1);
}
.btn_item .btn_container{
	border: 1px solid rgb(255, 0, 25);
	background: rgba(255, 0, 25, 0.2);
}
.textInput:focus{
	box-shadow: 0 0 3px rgb(255, 0, 25);
	border: 1px solid rgb(255, 0, 25)
}
.custom_select_container .select_options_container{
	background: rgb(40, 41, 49);
}
.custom_select_container .select_options_container div.selected{
	color: rgb(255, 0, 25);
}
.custom_select_container .select_options_container div.selected:before{
	border-top: 2px solid rgb(255, 0, 25);
	border-right: 2px solid rgb(255, 0, 25);
}
.action_container .btn_container, .get_start_container .main_info_container .add_btn{
	background: rgba(240, 0, 28, 0.6);
}
.dropdown_select option{
	background: rgb(40, 41, 49);
}
.hidden_mask{
	background: rgb(0, 0, 0);
}
.popup_container .popup_content_container{
	background: rgb(40, 41, 49);
}
.feature_desc .title{
	color: rgb(240, 0, 28);
}
.del_profile .action_btn_container .del, .customize_alert .action_btn_container .ok{
	background: rgb(255, 0, 25);
}
.client_list_content_container .client_container{
	background-color: rgba(0, 0, 0, 0.1);
}
.client_icon_container.default_icon, .client_icon_container.user_icon{
	background-color: rgb(104, 5, 22);
	box-shadow: 0px 0px 0px 1px rgb(104, 5, 22);
}
.popup_edit_client_container .client_list_content_container::-webkit-scrollbar-track,
.custom_select_container .select_options_container::-webkit-scrollbar-track{
	border: 4px solid rgb(40, 41, 49);
	background-color: rgb(104, 5, 22);
}
.popup_edit_client_container .client_list_content_container::-webkit-scrollbar-thumb,
.custom_select_container .select_options_container::-webkit-scrollbar-thumb{
	background-color: rgb(104, 5, 22);
	border: 2px solid rgb(40, 41, 49);
}
.wan_status_container{
	background-color: rgba(0, 0, 0, 0.1);
}
.wan_status_container .connect_title:before{
	border-top: 3px solid rgba(240, 0, 28, 0.6);
}
.wan_status_container.connected .connect_status_text{
	color: rgb(255, 0, 25);
}
@media (max-width: 575px) {
	.del_profile .action_btn_container .del{
		background: inherit;
		color: rgba(255, 255, 255);
	}
	.del_profile .action_btn_container .cancel{
		color: rgba(255, 255, 255);
	}
}