.profile_setting_container .popup_edit_profile_container{
	background: rgb(38, 38, 38);
}
.profile_setting_container .get_start_container{
	background: rgb(38, 38, 38);
}
.get_start_container .main_info_container .title{
	color: rgb(255, 170, 0);
}
.svr_item_container, .svr_item_error_hint_container{
	background: rgb(38, 38, 38);
	border-color: rgba(38, 38, 38, 0.5);
}
.svr_item_container.selected{
	background: rgb(38, 38, 38);
	border-color: rgb(255, 170, 0);
}
.svr_item_container.internet{
	color: rgb(255, 170, 0);
}
.svr_item_container.active .svr_item_sub_info .vpn_status,
.svr_item_container.internet.connected .svr_item_sub_info{
	color: rgb(255, 170, 0);
}
.switch.on{
	background: rgb(255, 170, 0);
}
.checkbox.on{
	box-shadow: 0 0 0 1.5px rgb(255,165,35);
	background-color: rgb(255,165,35);
}
.checkbox.on:before, .checkbox.disable:before{
	border-top: 2px solid #000;
	border-right: 2px solid #000;
}
.profile_setting_item{
	background-color: rgba(0, 0, 0, 0.1);
}
.btn_item .btn_container{
	border: 1px solid rgb(255, 170, 0);
	background: rgba(255, 170, 0, 0.2);
}
.textInput:focus{
	box-shadow: 0 0 3px rgb(255, 170, 0);
	border: 1px solid rgb(255, 170, 0)
}
.custom_select_container .select_options_container{
	background: rgb(38, 38, 38);
}
.custom_select_container .select_options_container div.selected{
	color: rgb(255, 170, 0);
}
.custom_select_container .select_options_container div.selected:before{
	border-top: 2px solid rgb(255, 170, 0);
	border-right: 2px solid rgb(255, 170, 0);
}
.action_container .btn_container, .get_start_container .main_info_container .add_btn{
	background: rgb(255,165,35);
	color: #000;
}
.dropdown_select option{
	background: rgb(38, 38, 38);
}
.hidden_mask{
	background: rgba(38, 38, 38, 0.1);
}
.popup_container .popup_content_container{
	background: rgb(38, 38, 38);
}
.feature_desc .title{
	color: rgb(255, 170, 0);
}
.del_profile .action_btn_container .del, .customize_alert .action_btn_container .ok{
	background: rgb(255, 170, 0);
	color: #000;
}
.client_list_content_container .client_container{
	background-color: rgba(38, 38, 38, 0.1);
}
.client_icon_container.default_icon, .client_icon_container.user_icon{
	background-color: rgb(146, 101, 15);
	box-shadow: 0px 0px 0px 1px rgb(146, 101, 15);
}
.popup_edit_client_container .client_list_content_container::-webkit-scrollbar-track,
.custom_select_container .select_options_container::-webkit-scrollbar-track{
	border: 4px solid rgb(38, 38, 38);
	background-color: rgb(146, 101, 15);
}
.popup_edit_client_container .client_list_content_container::-webkit-scrollbar-thumb,
.custom_select_container .select_options_container::-webkit-scrollbar-thumb{
	background-color: rgb(146, 101, 15);
	border: 2px solid rgb(38, 38, 38);
}
.wan_status_container{
	background-color: rgba(0, 0, 0, 0.1);
}
.wan_status_container .connect_title:before{
	border-top: 3px solid rgb(255, 165, 35);
}
.wan_status_container.connected .connect_status_text{
	color: rgb(255, 170, 0);
}
@media (max-width: 575px) {
	.del_profile .action_btn_container .del{
		background: inherit;
		color: rgba(255, 255, 255);
	}
	.del_profile .action_btn_container .cancel{
		color: rgba(255, 255, 255);
	}
}