.bg{
	color: rgb(24, 24, 24);
}
.vpn_icon_all_collect{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-repeat: no-repeat;
}
.function_desc_container .title {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #181818;
}
.function_desc_container:before {
	background: #dcdcdc;
	height: 1px;
	width: 100%;
	bottom: 6px;
}
.profile_setting_container .popup_edit_profile_container{
	background: rgb(255, 255, 255);
}
.profile_setting_container .get_start_container{
	background: rgb(255, 255, 255);
	border: 0;
	box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 8%);
}
.get_start_container .main_info_container .get_start_img {
	background-image: url(/images/New_ui/VPN/get_start_white.svg);
	background-size: contain;
}
.profile_setting_container .get_start_container .main_info_container{
	background: rgb(255, 255, 255);
	border-radius: 8px 8px 0;
	/* box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%); */
}
.profile_setting_container .get_start_container .sub_info_container {
	border-top: 1px solid #dcdcdc;
}
.profile_setting_container {
	width: 100%;
	flex-grow: 1;
	margin-top: 0.5rem;
	box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 8%);
}
.server_list_container {
	width: 40%;
}
.get_start_container .main_info_container .title{
	color: rgb(0, 112, 255);
}
.get_start_container .main_info_container .desc{
	color: rgb(77 77 77);
}
.get_start_container .sub_info_container .title{
	color: rgb(0 108 225);
}
.switch.on {
	background: #10B981;
}
.profile_setting_title .title{
	color: rgb(24, 24, 24);
	width: initial;
	margin-right: 1.5rem;
}
.svr_list_title_container, .client_list_title_container{
	color:#4d4d4d;
	margin: 0;
}
.svr_list_num, .client_list_num {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 16px;
	margin-right: 16px;
	color: initial;
}
.client_list_num:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
}
.server_list_container {
	width: 60%;
}
.svr_item_container, .svr_item_error_hint_container{
	background: rgb(255, 255, 255);
	box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 8%);
	border: 0.5px solid rgb(0 0 0 / 5%);
	width: initial;
	margin-right: 1.5rem;
}
.svr_item_container.selected{
	background: rgb(255, 255, 255);
	outline: 1px solid #006ce1;
	box-shadow: 0px 0px 4px 4px #cce4ff;
}
.svr_item_text_container:before{
	border-right: 1px solid rgb(0 0 0 / 0.2);
}
.svr_item_text_container:after, .svr_item_container.internet:after{
	border-top: 2px solid rgb(0 0 0 / 0.2);
	border-right: 2px solid rgb(0 0 0 / 0.2);
}
.svr_item_main_info{
	color: #181818;
	font-size: 1rem;
	font-weight: 500;
}
.svr_item_main_info:before{
	background-position: -432px 0px;
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
}
.svr_item_container.active .svr_item_main_info:before{
	background-position: -432px -55px;
}
.svr_item_container.error_hint.active .svr_item_main_info:before{
	background-position: -432px -108px;
}
.svr_item_container.default_wan_selected .svr_item_main_info:before{
	background-position: -432px -162px
}
.svr_item_container.active.default_wan_selected .svr_item_main_info:before{
	background-position: -432px -216px
}
.svr_item_container.error_hint.active.default_wan_selected .svr_item_main_info:before{
	background-position: -432px -270px
}

.svr_item_container.internet.connected .svr_item_main_info:before{
	background-position: -486px -54px;
}
.svr_item_container.internet.disconnected .svr_item_main_info:before{
	background-position: -486px -108px;
}
.svr_item_container.internet.standby .svr_item_main_info:before{
	background-position: -486px 0px;
}
.svr_item_container.internet.connected.default_wan_selected .svr_item_main_info:before{
	background-position: -486px -216px;
}
.svr_item_container.internet.disconnected.default_wan_selected .svr_item_main_info:before{
	background-position: -486px -270px;
}
.svr_item_container.internet.standby.default_wan_selected .svr_item_main_info:before{
	background-position: -486px -162px;
}
.svr_item_sub_info{
	color: rgba(24, 24, 24, 0.87);
}
.svr_item_container.default .svr_item_sub_info:before{
	background: rgba(24, 24, 24, 0.2);
}
.svr_item_sub_info .vpn_type:before{
	background: rgba(24, 24, 24, 0.2);
}
.svr_item_sub_info .vpn_status{
	color: rgba(24, 24, 24, 0.87);
}
.svr_item_error_hint_container > div:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
}
.svr_item_container.active .svr_item_sub_info .vpn_status, .svr_item_container.internet.connected .svr_item_sub_info {
	color: #006ce1;
}
.checkbox, .checkbox.off{
	border: 1px solid rgb(0, 110, 255);
}
.checkbox.on{
	border: 1px solid rgb(0, 110, 255);
	background-color: rgb(0, 110, 255);
}
.profile_setting_item{
	background: rgb(247, 249, 252);
}
.profile_setting_item .title{
	color: rgb(26, 26, 26);
	font-weight: normal;
	flex: 0 0 40%;
	max-width: 30%;
}
.btn_item .btn_container .text{
	color: rgb(0, 112, 255);
}
.btn_item .btn_container .text.import_file:before,
.btn_item .btn_container .text.create_account:before,
.text.create_ssk_account:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-position: 0px -163px;
}
.input_container {
	flex: 0 0 60%;
	max-width: none;
	margin: initial;
}
.textInput, .custom_select_container, .textareaInput{
	color: #4d4d4d;
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.40);
}
.textInput:focus, .textareaInput:focus{
	box-shadow: 0 0 3px rgb(0, 133, 255);
	border: 1px solid rgb(0, 133, 255);
}
.custom_select_container:before, .profile_title_item.arrow_icon:after{
	border-top: 2px solid #006CE1;
	border-right: 2px solid #006CE1;
}
.custom_select_container .select_options_container{
	background: rgb(247, 249, 252);
}
.custom_select_container .select_options_container div.selected{
	color: #006CE1;
}
.custom_select_container .select_options_container div.selected:before{
	border-top: 2px solid #006CE1;
	border-right: 2px solid #006CE1;
}
.custom_select_container .select_options_container div:hover{
	background: rgb(255, 255, 255);
}
.action_container .btn_container, .get_start_container .main_info_container .add_btn{
	background: rgb(0, 110, 255);
}
.action_container .btn_container.valid_fail{
	background: #dcdcdc;
	border: 0;
	color: #4d4d4d;
}
.profile_title_item{
	color: #006CE1;
}
.profile_title_item.edit_keys_desc{
	color: rgb(24, 24, 24);
}
.popup_bg{
	background: rgb(255 255 255 / 80%);
}
.hidden_mask{
	background: rgb(255, 255, 255);
}
.popup_title_container .title{
	color: rgb(24, 24, 24);
}
.popup_container .popup_content_container{
	background: rgb(255, 255, 255);
	color: rgb(24, 24, 24);
}
.popup_container .popup_content_container .profile_setting_item{
	background: rgb(247, 249, 252);
}
.popup_container .popup_content_container .client_list_content_container .client_container,
.popup_container .popup_content_container .wan_status_container{
	background: rgb(247, 249, 252);
}
.feature_desc .title{
	color: rgb(0, 110, 255);
}
.feature_desc .desc{
	color: rgba(24, 24, 24, 0.87);
}
.feature_desc .desc:before{
	border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}
.feature_desc .step_text{
	color: rgba(24, 24, 24, 0.87);
}
.feature_desc .step_text:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-color: rgb(0, 110, 255);
}
.del_profile .title{
	color: rgb(24, 24, 24);
}
.del_profile .desc{
	color: rgba(24, 24, 24, 0.87);
}
.del_profile .action_btn_container .del, .customize_alert .action_btn_container .ok{
	background: rgb(0, 110, 255);
}
.del_profile .action_btn_container .cancel{
	border: 1px solid rgb(94 100 112 / 40%);
	color: rgba(23, 62, 103, 0.6);
}
.customize_alert .desc{
	color: rgb(24, 24, 24);
}
.validate_hint, .vpn_type_maxi_hint{
	background: initial;
}
.vpn_type_maxi_hint{
	color: rgb(0, 110, 255);
}
.client_list_content_container .client_container{
	background: rgb(247, 249, 252);
}
.client_list_content_container .client_container.no_data{
	color: rgb(0, 110, 255);
}
.client_container .client_name{
	color: rgb(24, 24, 24);
}
.client_info_container .client_ip{
	color: rgba(24, 24, 24, 0.87);
}
.wan_status_container{
	background: rgb(247, 249, 252);
	box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
}
.wan_status_container .connect_title{
	color: rgb(0, 110, 255);
}
.wan_connect_info_container .info_title{
	color: rgba(24, 24, 24, 0.87);
}
.wan_connect_info_container .info_text{
	color: rgb(24, 24, 24);
}
.item_tag_container > .item_tag {
	background: rgb(255 255 255);
	border: 1px solid #006ce1;
	box-shadow: 0px 0px 8px rgb(0 0 0 / 16%), 0px 2px 4px rgb(0 0 0 / 10%);
	color: #006ce1;
}
.switch.on {
	background: #006CE1;
}
.switch.off {
	background: #666666;
}
.switch:before{
	background: #FFFFFF;
}
@media (max-width: 992px) {
	.profile_setting_item {
		padding-bottom: 10px;
		height: fit-content;
	}
	.profile_setting_item.nowrap{
		padding-bottom: 0px;
	}
	.profile_setting_item .title {
		max-width: 100%;
	}
	.input_container {
		margin-left: 16px;
		flex: 0 0 92%;
	}
}
@media (max-width: 575px) {
	.svr_list_title_container{
		width: 100%;
	}
	.svr_item_container, .svr_item_container.active, .svr_item_container.selected{
		background: rgb(255, 255, 255);
		box-shadow: 0px 1px 2px 0px rgb(20 50 80 / 20%);
		border: 1px solid rgb(0 0 0 / 10%);
		margin-right: initial;
	}
	.action_container .btn_container.delete{
		box-shadow: 0 0 0 1px rgb(94 100 112 / 40%);
		color: rgba(23, 62, 103, 0.6);
	}
	.del_profile .action_btn_container:before{
		border-top: 1px solid rgba(84, 84, 88, 0.65);
	}
	.del_profile .action_btn_container:after{
		border-left: 1px solid rgba(84, 84, 88, 0.65);
	}
	.del_profile .action_btn_container .btn{
		font-weight: bolder;
	}
	.del_profile .action_btn_container .del{
		background: inherit;
		color: inherit;
	}
	.del_profile .action_btn_container .cancel{
		border: inherit;
		color: inherit;
	}
}
