<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/qis/qis_style.css">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<style>
.test_css{
	padding-left:10px;
	font-size:13px;
	font-weight:bolder;
	color:#FFFFFF;
}
</style>
<script type="text/JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">

var Redirect_count = 0;
var RetryCountDown_fail = 5;
var extend_autodet = 1;
var linkup_autodet = 0;
var AnnexSwitch_count = 0;
var AnnexSwitch_enable = 1;
var dslx_annex_state = '<% nvram_get("dslx_annex"); %>';
var wan_type = '<% nvram_get("dsltmp_autodet_wan_type"); %>';
var dsl_autodet_state = '<% nvram_get("dsltmp_autodet_state"); %>';
var dsl_line_state = '<% nvram_get("dsltmp_adslsyncsts"); %>';
var w_Setting = "<% nvram_get("w_Setting"); %>";

function QKDetect_load_body(){
	// left side step indication
	parent.set_step("t1");
	parent.document.title = "<#Web_Title#> - <#QKSet_detect_sanglass#>";
	setTimeout('getWANStatus();', 1000);
}

function getWANStatus(){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',

		error: function(xhr){
			--RetryCountDown_fail;
			if(RetryCountDown_fail < 1){
				alert("<#Disconnected#>!");
				refreshpage();
			}
			else
				getWANStatus();
		},
		success: function(response){
			RetryCountDown_fail = 5;
			
			if( dsl_line_state == "up") {

				if(wan_type == "PTM")
					redirect_page("PTM_manual_setting");
				else if(wan_type == "ATM" && (dslx_annex_state == 5 || dslx_annex_state == 6))
					redirect_page("manual_setting");
				else if(dsl_autodet_state == "pppoe" || dsl_autodet_state == "pppoa")
					redirect_page("ppp_cfg");
				else if(dsl_autodet_state == "dhcp")
					redirect_page("mer_cfg");
				else if(dsl_autodet_state == "Fail"){
					if(wan_type == "ATM"){
						redirect_page("manual_setting");
					}
					else{	//PTM
						redirect_page("PTM_manual_setting");
					}
				}
				else {
					AnnexSwitch_enable = 0;
					linkup_autodet = 1;

					++Redirect_count;
					if(Redirect_count >= 36){	//36*5 = 180 sec = 3 min
						if(extend_autodet == 1){ //(ATM)extend for another 3*5=15 seconds for auto detection to finish, so max 195 seconds
							extend_autodet = 0;
							Redirect_count -= 3;
						}
						else{
							if(wan_type == "ATM"){
								document.form.action = "QIS_manual_setting.htm";
								document.form.submit();
							}
							else if(wan_type == "PTM"){
								document.form.action = "QIS_PTM_manual_setting.htm";
								document.form.submit();
							}
							else{	//unknown type, detect again
								linkup_autodet = 0;
								Redirect_count = 0;
								document.redirectForm.rc_service.value = "restart_dsl_autodet";
								document.redirectForm.submit();
								set_state_info(dsl_line_state);
								setTimeout('getWANStatus();', 5000);
							}
							return;
						}
					}
					set_state_info(dsl_line_state);
					setTimeout('getWANStatus();', 5000);
				}
			}
			else if ( (dsl_line_state == "init")
				|| (dsl_line_state == "initializing")
				|| (dsl_line_state == "wait")
			) {
				if(linkup_autodet == 1) {	//up -> down, restart auto det
					linkup_autodet = 0;
					Redirect_count = 0;
					document.redirectForm.rc_service.value = "restart_dsl_autodet";
					document.redirectForm.submit();
				}
				AnnexSwitch_enable = 0;
				set_state_info(dsl_line_state);
				setTimeout('getWANStatus();', 5000);
			}
			else if ( (AnnexSwitch_enable == 1) &&
				((dsl_line_state == "down")
				|| (dsl_line_state == "Detecting")
				|| (dsl_line_state == "wait for init")
				|| (dsl_line_state == ""))
			){
				if(linkup_autodet == 1) {	//up -> down, restart auto det
					linkup_autodet = 0;
					Redirect_count = 0;
					document.redirectForm.rc_service.value = "restart_dsl_autodet";
					document.redirectForm.submit();
				}

				++AnnexSwitch_count;
				if(AnnexSwitch_count >= 18){	//18*5 = 90 sec = 1.5 min
					AnnexSwitch_count = 0;
					++parent.autodet_annex_counter;
					if(parent.autodet_annex_counter <= 3){
						if(document.redirectForm.dslx_annex.value == 4)
							document.redirectForm.dslx_annex.value = 6;
						else if(document.redirectForm.dslx_annex.value == 6)
							document.redirectForm.dslx_annex.value = 4;
						document.redirectForm.rc_service.value = "restart_dsl_setting;restart_dsl_autodet";
						document.redirectForm.submit();

						set_state_info(dsl_line_state);
						setTimeout('getWANStatus();', 5000);
					}
					else {
						parent.autodet_annex_counter = 0;
						redirect_page("annex_setting");
					}
				}
				else {
					set_state_info(dsl_line_state);
					setTimeout('getWANStatus();', 5000);
				}
			}
			else {
				set_state_info(dsl_line_state);
				setTimeout('getWANStatus();', 5000);
			}
		}	
	});
}

function set_state_info(state){
	switch(state) {				
				case "down":
								document.getElementById("LED_state").innerHTML = "<#adsl_link_sts_itemname#> : <span style=\"color:#FFCC00;\">Link down (DSL LED Off)</span><br><br>";
								document.getElementById("LED_state").style.display = "";		
								document.getElementById("no_cable").style.display = "";
								break;
				case "wait":
				case "wait for init":
								document.getElementById("LED_state").innerHTML = "<#adsl_link_sts_itemname#> : <span style=\"color:#FFCC00;\">Wait for init (DSL LED Flashing)</span><br><br>";
								document.getElementById("LED_state").style.display = "";		
								document.getElementById("no_cable").style.display = "none";
								break;
				case "init":
				case "initializing":
								document.getElementById("LED_state").innerHTML = "<#adsl_link_sts_itemname#> : <span style=\"color:#FFCC00;\">Initializing (DSL LED Flashing)</span><br><br>";
								document.getElementById("LED_state").style.display = "";		
								document.getElementById("no_cable").style.display = "none";
								break;
				case "up":
								document.getElementById("LED_state").innerHTML = "<#adsl_link_sts_itemname#> : <span style=\"color:#FFCC00;\">Link up (DSL LED On)</span><br><br>";
								document.getElementById("LED_state").style.display = "";		
								document.getElementById("no_cable").style.display = "none";
								break;
				default:
								document.getElementById("LED_state").style.display = "none";		
								document.getElementById("no_cable").style.display = "none";
								break;
								
	}
}

function redirect_page(redirect_flag){
	document.form.action = "/qis/QIS_"+redirect_flag+".htm";
	document.form.submit();
}

function gotoUserManualSet(){
	location.href = '/qis/QIS_manual_setting.htm';
}
</script>
</head>

<body onLoad="QKDetect_load_body();">
<form method="post" name="form" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get("preferred_lang"); %>">
<div class="QISmain">

		<div>
			<table width="730px">
				<tr>
					<td align="left">
						<span class="description_down"><#QKSet_detect_desc1#></span>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
  <br/><br/>
	<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
			<td align="right">
				<img src="/images/InternetScan.gif"></span>
			</td>
			<td class="test_css">
				<strong><span><#QKSet_detect_waitdesc#></span></strong>
			</td>
	  </tr>
	  <tr>
	  	<td>
			</td>
			<td class="test_css">
				<strong><span><#QKSet_detect_waitdesc1#></span></strong>	
			</td>		
		</tr>	
	  <tr>
			<td>
			</td>
			<td class="test_css">
				<strong><span id="LED_state" style="display:none;"></span></strong>
				<strong><span id="no_cable" style="color:#FFCC00;display:none;"><#QIS_NoCable_desc#></span></strong>
			</td>
	  </tr>
	</table>
	<div class="apply_gen" style="margin-top:30px">
		<!--<input type="button" value="<#Manual_Setting_btn#>" onclick="gotoUserManualSet();" class="button_gen_long" >-->
	</div>
</div>
</form>

<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="redirectForm" action="/apply.cgi" target="hidden_frame">
<input type="hidden" name="flag" value="detect">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="rc_service" value="restart_dsl_setting">
<input type="hidden" name="action_wait" value="1">
<input type="hidden" name="dslx_annex" value="<% nvram_get("dslx_annex"); %>">
</form>
</body>
