if TARGET_GW_VENTANA

config SYS_BOARD
	default "gw_ventana"

config SYS_VENDOR
	default "gateworks"

config SYS_CONFIG_NAME
	default "gw_ventana"

config CMD_EECONFIG
	bool "Enable the 'econfig' command"
	help
	  Provides access to EEPROM configuration on Gateworks Ventana

config CMD_GSC
	bool "Enable the 'gsc' command"
	help
	  Provides access to the GSC configuration:

	     gsc sleep - sleeps for a period of seconds
	     gsc wd - enables / disables the watchdog

endif
