.ui-page-theme-a .ui-panel-wrapper {
	background-color: #FFF;
}
a.ui-btn{
	height:30px;
}
a{
	cursor: pointer;
}
.filter_effect{
	-webkit-filter: blur(5px);
}
#nav_rp:hover, #nav_ap:hover, #nav_mb:hover, #nav_info:hover, #nav_express_2g:hover, #nav_express_5g:hover, #nav_back:hover{
	background-color:#555;
}
#pap_manual_band_option-button, #pap_manual_auth_option-button, #pap_ip_advanced_option-button{
	padding: 22px;
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-left{
	left:30em;
}
.desktop_left_field{
	display:none;
}
.footer_mobile{
	position:fixed;
	bottom:0;
	margin-top: 20px;
	width:100%;
	height:102px;
	background:#FFF;
	border-top: 3px solid #0ECDA4;
	z-index:2;
}
.footer_desktop{
	margin-top: 20px;
	display:none;
	color:#FFF;
	text-align:center;
}
.mobile_applyBtn{
	font-family: HelveticaNeueW10-45Ligh, Helvetica W01 Light, Arial;
	font-size:1.875em;
	color:#FFF;
	cursor:pointer
}
.mobile_abortBtn{
	font-family: HelveticaNeueW10-45Ligh, Helvetica W01 Light, Arial;
	font-size: 1.875em;
	color:#7E8593;
	cursor:pointer
}
.desktop_applyBtn{
	display: inline-block;
	width: 300px;
	border: 2px solid #27D1A4;
	border-radius: 35px;
	height: 66px;
	line-height: 66px;
	margin: 0 20px;
	font-size:1.5em;
	cursor:pointer;
	color: #FFF;
	background: #27D1A4;
}
.desktop_abortBtn{
	display: inline-block;
	width: 300px;
	border: 2px solid #27D1A4;
	border-radius: 35px;
	height: 66px;
	line-height: 66px;
	margin: 0 20px;
	font-size:1.5em;
	cursor:pointer;
	color: #27D1A4;
	background: #FFF;
}
.textInput{
	width: 95%;
	height: 55px;
	max-width: 900px;
	padding-left: 18px;
	margin-bottom: 35px;
	font-family: HelveticaNeueW10-45Ligh, Helvetica, Arial;
	font-size:1.875em;
	background: #FFF;
	border: 0px solid;
	border-bottom: 1px solid #777;
	border-radius: 0px;
}
.inputContainer{
	margin: 0px 55px 50px 30px;
}
.ui-input-text input, .ui-input-search input{
	background-color: #FFF;
	border-color: #0ECDA4;
	color: #333332;
}
.model_welcome{
	color: #000;
	font-family:Arial Bold;
	font-size:1.875em;
	background-color:rgba(79,79,79,62);
	padding-left:11px;"	
}
.pageDesc{
	font-family: Helvetica, Arial;
	font-size: 2em;
	color: #000;
	margin: 60px 0 30px 45px;
	text-align: left;
	font-weight: bolder;
	width: 90%;
	max-width: 1000px;
}
.tosDesc{
	font-family: Helvetica, Arial;
	font-size: 1.6em;
	color: #555;
	margin: 30px 0 20px 45px;
	text-align: left;
	width: 90%;
	max-width: 1000px;
}
.inputTitle{
	font-family: HelveticaNeueLT45_Light_regular, Helvetica_regular, Arial;
	font-size:1.8em;
	color:#888;
	display:table-cell;
}
.icon_eye_open{
	width:32px;
	height:32px;
	display:table-cell;
	padding-right:110px;	
}
.icon_eye_close{
	width:32px;
	height:32px;
	display:table-cell;
	padding-right:110px;	
}
.qisBackgroundIndex{
	background:url('../images/qis/asus_hive_bg.png') #FFF no-repeat;
}
.qisBackground{
	background:url('../images/qis/asus_hive_action_bar.png') #FFF no-repeat;
}
.selectBar{
	display: table-cell;
	width: 100%;
	padding-left: 12px;
	cursor: pointer;"
	color: #000;
}
.icon_logo{
	width: 130px;
	height: 38px;
	margin-left: -25px;
}
.model_image{
	height:450px;
	width:auto;
	background:url('../images/Model_product.png') no-repeat;
	background-size:450px;
	background-position:center;
	margin-top:50px;"	
}
.appIconContainer{
	display: table;
	margin-left: 480px;
	margin-top: -60px;
	position: absolute;
}
.appIcon{
	display: table-cell;
	width: 180px;
	height: 60px;
	cursor: pointer;
}
.appQR{
	background:url('../images/New_ui/asus_router_android_qr.png') no-repeat;
	width: 200px;
	height: 200px;
	background-size: contain;
	margin-right: 50px;
	border: #AAA solid;
	border-radius: 15px;
}
.googlePlay{
	background:url('../images/googleplay.png') no-repeat;
	width: 200px;
    height: 80px;
	background-size: contain;
}
.itunesStore{
	background:url('../images/AppStore.png') no-repeat;
	width: 200px;
    height: 80px;
	background-size: contain;
}
.appTable{
	margin-top: 150px;
	width: 100%;
}
.hint{
	color: #F00;
	position: absolute;
	margin-top: -25px;
	font-size: 1.4em;
	font-style: italic;
}
.tos{
    color: #000;
    font-size: 1.8em;
    text-align: left;
    padding: 10%;
	padding-left: 15%;
    padding-top: 0px;
    margin-top: 80px;
    max-width: 1000px;
}
#tosCheckbox{
	margin-top:5px;
	margin-left: -45px;
}
.footHeight{
	height: 100px;
}
#welcome{
	min-height: 1300px;
}
#static_setting{
	min-height: 1400px;	
}
.noWanPic{
	background:url('../images/qis/asus_hive_no_wan.png') center no-repeat;
	background-size: contain;
	padding: 0%;
	height: 1000px;
	text-align: center;
	margin-top: -180px;
}
.wpsPic{
	background:url('../images/qis/asus_hive_color.png') center no-repeat;
	background-size: contain;
	padding: 0%;
	height: 1000px;
	text-align: center;
	margin-top: -650px;
	z-index: 9999;
}
.flashingColor{
	width: 35%;
	border-radius: 50%;
	background-color: #FFF;
	z-index: 1;
	margin: auto;
	margin-top: 250px;
	overflow: hidden;
}
.flashingColor:after {
	content: '';
	display: block;
	margin-top: 100%; /* margin 百分比相对父元素宽度计算 */
}
.green{
	background-color: #0F0;
}
.blue{
	background-color: #0CF;
}
.appDescContainer{
	margin-top: 30px;
}
.appDesc{
	margin-top: 10px;
	font-size: 1.6em;
}
.appMobile{
	background: url('../images/qis/asus_hive_mobile.png') center no-repeat;
	background-size: contain;
	padding: 0%;
	width: 800px;
	height: 800px;
	text-align: center;
	margin-top: 100px;
	margin-left: 0px;
}
.loadingIcon{
	background: url('../images/InternetScan.gif') center no-repeat;
	width: 35px;
	height: 35px;
	background-size: contain;
	display: inline-block;
}
.AppDownloadLink{
	display: none;
}
.summaryNetwork{
	margin-top: -200px;
}
/*for Desktop*/
@media screen and (min-width: 1000px){
	.desktop_left_field{
		display:table-cell;
		width:250px;
		color:#0ECDA4;
		text-align:right;		
	}
	.wireless_field{
		display:table-cell;
		width:550px;
	}
	.wireless_field_5g{
		padding-left:30px;
	}
	.footer_mobile{
		display:none;
	}
	.footer_desktop{
		display:block;
		margin-top:30px;
		height: 120px;
	}
	#wireless_field{
		border-bottom:0px solid #0ECDA4;
	}
	.desktop_sort{
		display:table-cell;
		width:300px;
		padding-left:200px;
	}
	.googlePlayQR{
		display: block;
	}
	.itunesStoreQR{
		display: block;
	}
	.table_td{
		display:table-cell;
		width:70% !important;
		max-width: 1000px;
	}
	.tos{
		margin: auto;
		margin-top: 50px;
		width: 650px;
	}
	.tosDesc{
		width: 80%;
	}
	.pageDesc{
		min-width: 800px;
	}
	.noWanPic{
		height: 600px;
		margin-top: -50px;
	}
	.wpsPic{
		height: 600px;
		margin-top: -450px;
	}
	.model_image{
		margin-top:50px;
	}
	.appMobile{
		width: 550px;
		height: 550px;
		margin-top: -300px;
		margin-left: 450px;
	}
	.mobileView{
		display: none;
	}
	.appTable{
		width: auto;
	}
	.flashingColor{
		margin-top: 100px;
	}
	.summaryNetwork{
		margin-top: 0px;
	}
	.lyraGood{
		background:url('../images/qis/asus_hive_good.png') center no-repeat;
		background-size: contain;
		padding: 0%;
		height: 600px;
		text-align: center;
	}
}

.cssload-bell {
	margin-top: 150px;
	width: 97px;
	height: 99px;
	border-radius: 100%;
	position: absolute;
	left: calc(50% - 49px);
}

.cssload-circle {
	width: 100%;
	height: 100%;
	position: absolute;
}
.cssload-circle .cssload-inner {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 5px solid rgba(0,255,170,0.7);
	border-right: none;
	border-top: none;
	background-clip: padding;
	box-shadow: inset 0px 0px 10px rgba(0,255,170,0.15);
}

.cssload-circle:nth-of-type(0) {
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.cssload-circle:nth-of-type(0) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(1) {
	transform: rotate(70deg);
		-o-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		-moz-transform: rotate(70deg);
}
.cssload-circle:nth-of-type(1) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(2) {
	transform: rotate(140deg);
		-o-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
}
.cssload-circle:nth-of-type(2) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-bell {
	animation: cssload-spin 5.75s infinite linear;
		-o-animation: cssload-spin 5.75s infinite linear;
		-ms-animation: cssload-spin 5.75s infinite linear;
		-webkit-animation: cssload-spin 5.75s infinite linear;
		-moz-animation: cssload-spin 5.75s infinite linear;
}



@keyframes cssload-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}