Package: asusffmpeg
Architecture: mipsel
Priority: optional
Section: tool
Version: 1.0.0.5
Maintainer: ASUS
Source: http://127.0.0.1/
Description: FFmpeg is an audio/video conversion tool.
Depends: 
Suggests: 
Conflicts: 
Enabled: yes
