if TARGET_GALILEO

config SYS_BOARD
	default "galileo"

config SYS_VENDOR
	default "intel"

config SYS_SOC
	default "quark"

config SYS_CONFIG_NAME
	default "galileo"

config SYS_TEXT_BASE
	default 0xfff10000

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select X86_RESET_VECTOR
	select INTEL_QUARK
	select BOARD_ROMSIZE_KB_1024
	select SPI_FLASH_WINBOND

config SMBIOS_PRODUCT_NAME
	default "GalileoGen2"
	help
	  Override the default product name U-Boot reports in the SMBIOS
	  table, to be compatible with the Intel provided UEFI BIOS, as
	  Linux kernel drivers (drivers/mfd/intel_quark_i2c_gpio.c and
	  drivers/net/ethernet/stmicro/stmmac/stmmac_pci.c) make use of
	  it to do different board level configuration.

	  This can be "Galileo" for GEN1 Galileo board.

endif
