# SPDX-License-Identifier: GPL-2.0+
#
# (C) Copyright 2019 Broadcom Ltd
#

if BCM63148

config TARGET_BCM963148
	bool "Broadcom 63148 Reference Board"
	depends on ARCH_BCMBCA

config SYS_SOC
	default "bcm63148"

if BCMBCA_DDRC
config BCMBCA_DDR_DEF_MCBSEL
	hex "default DDR3 mcb selector value"
	default 0x421
endif

config TPL_MAX_SIZE
	default 1048576

config RSVD_USE_MAX_FROM_ENV_AND_DT 
	bool "RSVD will use max value from env and DT"
	default y

source "board/broadcom/bcmbca/Kconfig"

endif
