if TARGET_CHERRYHILL

config SYS_BOARD
	default "cherryhill"

config SYS_VENDOR
	default "intel"

config SYS_SOC
	default "braswell"

config SYS_CONFIG_NAME
	default "cherryhill"

config SYS_TEXT_BASE
	default 0xffe00000

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select X86_RESET_VECTOR
	select INTEL_BRASWELL
	select BOARD_ROMSIZE_KB_8192
	select SPI_FLASH_MACRONIX

endif
