.libs
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
config.h
config.log
config.status
libid3tag.list
libtool
compat.c
autom4te.cache
frametype.c
AUTHORS
ChangeLog
INSTALL
Makefile.in
NEWS
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
