a:link{
	color: rgb(94, 100, 112) !important;
}
.bg{
	color: rgb(94, 100, 112);
}
.vpn_icon_all_collect{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-repeat: no-repeat;
}
.profile_setting_container .popup_edit_profile_container,
.client_content_bg .client_contorl_bg{
	background: rgb(255, 255, 255);
}
.profile_setting_title .title{
	color: rgb(94, 100, 112);
}
.svr_list_title_container{
	color: rgb(94, 100, 112);
}
.svr_item_container{
	background: rgb(255, 255, 255);
	box-shadow: 0px 1px 2px 0px rgb(20 50 80 / 20%);
	border: 1px solid rgb(0 0 0 / 10%);
}
.svr_item_container.selected{
	background: rgb(255, 255, 255);
}
.svr_item_text_container:before{
	border-right: 1px solid rgb(0 0 0 / 0.2);
}
.svr_item_text_container:after{
	border-top: 2px solid rgb(0 0 0 / 0.2);
	border-right: 2px solid rgb(0 0 0 / 0.2);
}
.switch.off{
	background: rgb(0 0 0 / 0.3);
}
.checkbox, .checkbox.off{
	box-shadow: 0 0 0 1.5px rgb(0, 110, 255);
}
.checkbox.on{
	box-shadow: 0 0 0 1.5px rgb(0, 110, 255);
	background-color: rgb(0, 110, 255);
}
.profile_setting_item{
	background: rgb(247, 249, 252);
}
.profile_setting_item .title{
	color: rgb(94, 100, 112);
}
.btn_item .btn_container .text{
	color: rgb(0, 112, 255);
}
.btn_item .btn_container .text.import_file:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-position: 0px -163px;
}
.export_mode_container .desc{
	color: rgb(94, 100, 112);
}
.qr_code_container{
	border: 1px solid rgb(85 100 111);
	border-radius: 8px;
	background: initial;
}
.qr_code_container > .qr_text{
	color: rgb(94, 100, 112);
}
.notice_container .notice_desc{
	color: rgb(94, 100, 112);
}
.textInput, .custom_select_container, .textareaInput, .textView{
	color: rgb(94, 100, 112);
}
.textInput:focus, .textareaInput:focus{
	box-shadow: 0 0 3px rgb(0, 133, 255);
	border: 1px solid rgb(0, 133, 255);
}
.custom_select_container:before, .profile_title_item.arrow_icon:after{
	border-top: 2px solid rgb(0, 145, 255);
	border-right: 2px solid rgb(0, 145, 255);
}
.custom_select_container .select_options_container{
	background: rgb(247, 249, 252);
}
.custom_select_container .select_options_container div.selected{
	color: rgb(0, 112, 255);
}
.custom_select_container .select_options_container div.selected:before{
	border-top: 2px solid rgb(0, 145, 255);
	border-right: 2px solid rgb(0, 145, 255);
}
.custom_select_container .select_options_container div:hover{
	background: rgb(255, 255, 255);
}
.action_container .btn_container{
	background: rgb(0, 110, 255);
}
.action_container .btn_container.valid_fail{
	background: rgba(94, 100, 112, 0.6);
}
.profile_title_item{
	color: rgba(63, 69, 80, 0.6);
}
.popup_bg{
	background: rgb(255 255 255 / 80%);
}
.hidden_mask{
	background: rgb(255, 255, 255);
}
.popup_title_container .title{
	color: rgb(94, 100, 112);
}
.popup_container .popup_content_container{
	background: rgb(255, 255, 255);
	color: rgb(94, 100, 112);
}
.popup_container .popup_content_container .profile_setting_item{
	background: rgb(247, 249, 252);
}
.popup_container .popup_content_container .client_list_content_container .client_container{
	background: rgb(247, 249, 252);
}
.feature_desc .title{
	color: rgb(0, 110, 255);
}
.feature_desc .desc{
	color: rgba(94, 100, 112, 0.87);
}
.feature_desc .desc:before{
	border-bottom: 1px solid rgba(94, 100, 112, 0.2);
}
.feature_desc .step_text{
	color: rgba(94, 100, 112, 0.87);
}
.feature_desc .step_text:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
	background-color: rgb(0, 110, 255);
}
.customize_alert .desc{
	color: rgb(94, 100, 112);
}
.validate_hint, .vpn_type_maxi_hint, .item_hint{
	background: initial;
}
.vpn_type_maxi_hint, .item_hint, .text_yellow{
	color: rgb(0, 110, 255);
}
.client_list_content_container .client_container{
	background: rgb(247, 249, 252);
}
.client_list_content_container .client_container.no_data{
	color: rgb(0, 110, 255);
}
.svr_item_text_container .svr_type_title{
	color: rgba(63, 69, 80, 0.6);
}
.svr_item_text_container .svr_type_text{
	color: rgb(94, 100, 112);
}
.add_acc_bg .acc_num:before{
	background-image: url(/images/New_ui/VPN/vpn_icon_all_collect_white.svg);
}
.client_content_bg .client_info_bg .status_icon{
	background-color: rgb(0, 110, 255);
}
.client_content_bg .detail_icon{
	border: 2px solid rgb(0, 110, 255);
	color: rgb(0, 110, 255);
}
.client_content_bg .client_contorl_bg .contorl_btn{
	background-color: rgb(247, 249, 252);
}
.radio_options_container .radio_container,
.btn_options_container .btn_container{
	color: rgb(94, 100, 112);
}
.radio_options_container .radio_container .radio_icon{
	border: 1px solid rgba(94, 100, 112,0.4);
}
.radio_options_container .radio_container.selected,
.btn_options_container .btn_container.selected{
	background-color: initial;
	color: rgb(0, 110, 255);
}
.profile_title_item.edit_keys_desc{
	color: rgb(94, 100, 112);
}
.client_connect_info_container .connect_client_title{
	color: rgb(0, 110, 255);
}
@media (max-width: 575px) {
	.svr_item_container, .svr_item_container.selected{
		background: rgb(255, 255, 255);
		box-shadow: 0px 1px 2px 0px rgb(20 50 80 / 20%);
		border: 1px solid rgb(0 0 0 / 10%);
	}
	.action_container .btn_container.delete{
		box-shadow: 0 0 0 1px rgb(94 100 112 / 40%);
		color: rgba(23, 62, 103, 0.6);
	}
}