if TARGET_APALIS_IMX8

config SYS_BOARD
	default "apalis-imx8"

config SYS_VENDOR
	default "toradex"

config SYS_CONFIG_NAME
	default "apalis-imx8"

config TDX_CFG_BLOCK
	default y

config TDX_HAVE_MMC
	default y

config TDX_CFG_BLOCK_DEV
	default "0"

config TDX_CFG_BLOCK_PART
	default "1"

# Toradex config block in eMMC, at the end of 1st "boot sector"
config TDX_CFG_BLOCK_OFFSET
	default "-512"

source "board/toradex/common/Kconfig"

endif
