if TARGET_MPC8313ERDB_NOR

config SYS_BOARD
	default "mpc8313erdb"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "MPC8313ERDB_NOR"

endif

if TARGET_MPC8313ERDB_NAND

config SYS_BOARD
	default "mpc8313erdb"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "MPC8313ERDB_NAND"

endif
