if TARGET_ADP_AG101P

config SYS_CPU
	default "n1213"

config SYS_BOARD
	default "adp-ag101p"

config SYS_VENDOR
	default "AndesTech"

config SYS_SOC
	default "ag101"

config SYS_CONFIG_NAME
	default "adp-ag101p"

endif
