.light_effect_bg {
	width: 100%;
}
.light_effect_setting_bg {
	width: 100%;
}
.setting_enable_bg .text > span {
	color: rgb(0, 0, 0);
}
.setting_enable_bg .switch {
	background: #666666;
}
.setting_enable_bg .switch:before {
	background: rgb(255, 255, 255)
}
.setting_enable_bg .switch.on:before {
	background: rgb(255, 255, 255);
}
.setting_scheme .scheme_bg:hover:before{
	content: "";
	position: absolute;
	width: 96%;
	height: 92%;
	left: 2%;
	top: 7%;
	border-radius: 16px;
	box-shadow: 0 0 0 1px rgb(115 186 255);
}
.setting_scheme .scheme_bg.empty:hover:before{
	content: initial;
}
.scheme_list_bg #boundary_left.arrow:before {
	border-top: 0.5vh solid rgb(0 0 0 / 60%);
	border-right: 0.5vh solid rgb(0 0 0 / 60%);
}
.scheme_list_bg #boundary_right.arrow:before {
	border-top: 0.5vh solid rgb(0 0 0 / 60%);
	border-right: 0.5vh solid rgb(0 0 0 / 60%);
}
.setting_scheme .text {
	color: rgb(94, 100, 112);
}
.setting_scheme .active .text, .setting_scheme.support_hover > div:hover .text{
	color: rgb(0, 0, 0);
}
.setting_scheme #gradient .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-gradient_resting.svg);
}
.setting_scheme #gradient.active .icon, .setting_scheme.support_hover #gradient:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-gradient_active.svg);
}
.setting_scheme #static .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-static_resting.svg);
}
.setting_scheme #static.active .icon, .setting_scheme.support_hover #static:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-static_active.svg);
}
.setting_scheme #evolution .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-gradient_breathing_resting.svg);
}
.setting_scheme #evolution.active .icon, .setting_scheme.support_hover #evolution:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-gradient_breathing_active.svg);
}
.setting_scheme #breathing .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-breathing_resting.svg);
}
.setting_scheme #breathing.active .icon, .setting_scheme.support_hover #breathing:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-breathing_active.svg);
}
.setting_scheme #rainbow .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-rainbow_resting.svg);
}
.setting_scheme #rainbow.active .icon, .setting_scheme.support_hover #rainbow:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-rainbow_active.svg);
}
.setting_scheme #wave .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-wave_resting.svg);
}
.setting_scheme #wave.active .icon, .setting_scheme.support_hover #wave:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-wave_active.svg);
}
.setting_scheme #marquee .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-marquee_resting.svg);
}
.setting_scheme #marquee.active .icon, .setting_scheme.support_hover #marquee:hover .icon {
	background-image: url(/images/New_ui/light_effect/white_theme/scheme-marquee_active.svg);
}
.horizontal_line {
	background: rgb(0 0 0 / 60%);
	width: 96%;
	margin: 2px auto;
}
#default_set {
	color: rgb(0, 0, 0);
}
