[Unit]
Description=pNFS block layout mapping daemon
DefaultDependencies=no
Conflicts=umount.target
After=var-lib-nfs-rpc_pipefs.mount
Requires=var-lib-nfs-rpc_pipefs.mount

PartOf=nfs-utils.service

[Service]
Type=forking
PIDFile=/var/run/blkmapd.pid
EnvironmentFile=-/run/sysconfig/nfs-utils
ExecStart=/usr/sbin/blkmapd $BLKMAPDARGS

[Install]
WantedBy=nfs-client.target
