tree.sidebar-placesTree treechildren::-moz-tree-row(selected)
{
	background-color: #6f81a9;
	background-image: url("chrome://browser/skin/places/selected-gradient.png");
	background-repeat: repeat-x;
	background-position: bottom left;
	border-top: 1px solid #979797;
}


tree.sidebar-placesTree treechildren::-moz-tree-separator
{
	border-top: 1px solid #505d6d;
	margin: 0 10px;
}

