if ARCH_ASPEED

config SYS_ARCH
	default "arm"

config SYS_SOC
	default "aspeed"

config SYS_TEXT_BASE
	default 0x00000000

config ASPEED_AST2500
	bool "Support Aspeed AST2500 SoC"
	depends on DM_RESET
	select CPU_ARM1176
	help
	  The Aspeed AST2500 is a ARM-based SoC with arm1176 CPU.
	  It is used as Board Management Controller on many server boards,
	  which is enabled by support of LPC and eSPI peripherals.

source "arch/arm/mach-aspeed/ast2500/Kconfig"

endif
