<script type="text/JavaScript" src="mobile/js/jstz.min.js"></script>
<style>
.cfg_val{
	font-size:30px;
	color:#FC0;
}
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}
#DE_ISP_note{
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-left:30px;
	margin-top:-15px;
}
.isp_note_title{
	color:#FFCC00;
}
.isp_note_title2{
	color:#FFF;
}
.isp_note{	
	margin-top:-10px;
	line-height:100%;
	color:#FFF;
}
.isp_note_content{
	margin-left:30px;
}
.account_format{
	margin-top:5px;
	margin-left:30px;
}
.num2{
	color:#569AC7;
	font-weight: bold;
}
.num1{
	color:#CCFF00;
	font-weight: bold;
}

#iptv_manual_setting{
	font-size:24px;
	margin-left:3%;
	margin-top:-3%;
}

#ISP_table{
	font-size:22px;
	color:#FFF;
}
#specialisp{
	width: 20px;
	height: 20px;
}
.stb_msg{
	font-size:22px;
	color:#FFCC00;
	margin-left:35px;
}
.QISGeneralFont{
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	color:#66CCFF;
	font-weight:bolder;
	margin-left:35px;
	margin-top:-32px;
}

</style>
<script>
var AutoDetInfo = httpApi.nvramGet(["dsltmp_autodet_state", "dsltmp_autodet_vpi", "dsltmp_autodet_vci", "dsltmp_autodet_encap","dsltmp_autodet_wan_type","dslx_transmode"]);
var ISP_List = [<% get_isp_list("/www/ISP_List.txt"); %>];
var ISP_List_IPTV = [<% get_isp_list("/www/ISP_List_IPTV.txt"); %>];

var detect_status = AutoDetInfo.dsltmp_autodet_state;
var prctl_str = "default";
var prctl_val = "";
var vpi_val = AutoDetInfo.dsltmp_autodet_vpi;
var vci_val = AutoDetInfo.dsltmp_autodet_vci;
var encap_val = AutoDetInfo.dsltmp_autodet_encap;
var wan_type = AutoDetInfo.dsltmp_autodet_wan_type;

if(detect_status == "pppoa") {
	prctl_str = "PPPoA";
	prctl_val = "1";
}
else {
	prctl_str = "PPPoE";
	prctl_val = "0";
}

var encap_str = "LLC";
if (encap_val == "1") encap_str = "VC-Mux";

//Brazil timezone GMT-03:00
//India timezone GMT+05:30
var timezone = jstz.determine_timezone();
var timez = timezone.offset();

if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoe" && timez == "-03:00"){
	//Brazil - GVT
	gvt_note = "<br><br>" + "(<#isp_br_gvt_note#>)"
	$('#hint_msg').text(gvt_note);
}

function DE_ISP_note_detect(){
	if(wan_type == "ATM" && vpi_val == "1" && vci_val == "32" && prctl_str == "PPPoE" && encap_str == "LLC"){
		//ATM, VPI: 1/ VCI: 32/ Protocol: PPPoE/ Encap: LLC 
		$("#DE_ISP_note").show();
		$("#DE_ISP_title1").show();
		$("#Deutsche_Telekom").show();
		$("#Deutsche_1n1_ATM").show();
		$("#DE_ISP_title2").hide();
		$("#Deutsche_NetCologne").hide();
			
	}
	else if(wan_type == "ATM" && vpi_val == "8" && vci_val == "35" && prctl_str == "PPPoE" && encap_str == "LLC"){
		//ATM, VPI: 8/ VCI: 35/ Protocol: PPPoE/ Encap: LLC	
		$("#DE_ISP_note").show();
		$("#DE_ISP_title1").hide();
		$("#Deutsche_Telekom").hide();
		$("#Deutsche_1n1_ATM").hide();
		$("#DE_ISP_title2").show();
		$("#Deutsche_NetCologne").show();
	}
	else
		$("#DE_ISP_note").hide();
}

</script>

<div class="headerBar">
	<table style="width:100%">
		<tr>
			<td style="padding:0;width:17px;">
				<div style="margin-right:20px;">
					<a href="#navigation">
						<div class="icon_menu" style="width:17px;height:17px;display:none"></div>
					</a>
				</div>
			</td>
			<td style="padding:0;width:130px;">
				<div>
					<div class="icon_logo"></div>
				</div>
			</td>
			<td style="padding:0;">
				<div class="model_welcome"></div>
			</td>
		</tr>
	</table>
</div>
<div class="tableContainer">
	<div class="desktop_left_field">
		<div>
			<div class="titleMain">PPPoE / PPPoA</div>
			<div class="titleSub"><#Settings#></div>
		</div>
	</div>
	<div class="table_td">
		<div class="pageDesc"><#Layer3Forwarding_x_ConnectionType_itemname#>: <span id="detect_WanType" class="cfg_val"></span>, VPI/VCI: <span id="detect_val" class="cfg_val"></span>
		</div>
		<div class="pageDesc"><#PPP_cfg_usersel_desc#></div>
		<div id="hint_msg"></div>

		<div id="DE_ISP_note" style="display:none;">
			<div id="DE_ISP_title1" style="display:none;"><span class="isp_note_title">Notice (specifically for Germany ISP Telekom / 1&1):</span><br><span class="isp_note_title2">Bitte geben Sie diese Zugangsdaten in folgendem Format ein.</span><br><br></div>
			<div class="isp_note" id="Deutsche_Telekom" style="display:none;">
				Für Telekom ADSL und VDSL Anschlüsse :<br>
				<div class="isp_note_content">
					Bei einer 12-stelligen Zugangsnummer (Neue Zugangsdaten)<br>
					<div class="account_format">Anschlusskennung<span class="num1">Zugangsnummer</span><span class="num2">Mitbenutzernummer</span>@t-online.de</div><br>
					Bei einer Zugangsnummer mit weniger als 12 Stellen (Alte Zugangsdaten)<br>
					<div class="account_format">Anschlusskennung<span class="num1">Zugangsnummer</span>#<span class="num2">Mitbenutzernummer</span>@t-online.de</div><br>
				</div>
			</div>			
			<div class="isp_note" id="Deutsche_1n1_ATM" style="display:none;">
				Bei einem 1&1 ADSL Anschluss :<br>
				<div class="isp_note_content">
					<div class="account_format">1und1/<span class="num1">benutzername</span>@online.de (1&1 Internetzugangs-Kennung)</div>
				</div>
			</div>
			<div id="DE_ISP_title2" style="display:none;"><span class="isp_note_title">Notice (specifically for Germany ISP NetCologne):</span><br><span class="isp_note_title2">Bitte geben Sie diese Zugangsdaten in folgendem Format ein.</span><br><br></div>
			<div class="isp_note" id="Deutsche_NetCologne" style="display:none;">
				<div class="isp_note_content"><div class="account_format">nc-<span class="num1">username</span>@netcologne.de</div></div>
			</div>
		</div>

		<div id="pppoe_field">
			<div>
				<div class="inputTitleContainer">
					<div class="inputTitle"><#Username#></div>
				</div>
				<div class="inputContainer">
					<input id="dsltmp_qis_pppoe_username" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64" class="textInput pppInput" data-role="none" value="" data-clear-btn="true" />
				</div>
			</div>
			<div>
				<div class="inputTitleContainer">
					<div class="inputTitle"><#PPPConnection_Password_itemname#></div>
					<div class="secureInput icon_eye_close" for="dsltmp_qis_pppoe_passwd"></div>
				</div>
				<div class="inputContainer">
					<input id="dsltmp_qis_pppoe_passwd" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64" class="textInput pppInput" data-role="none" value="" data-clear-btn="true" />
				</div>
			</div>

			<div id="iptvContainer" style="display:none">
				<div class="inputTitleContainer">
					<div class="inputTitle"><#BOP_isp_heart_item#></div>
				</div>
				<div class="inputContainer">
					<input id="wan_heartbeat_x" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64" class="textInput pppInput" data-role="none" value="" data-clear-btn="true" />
				</div>
			</div>
			<div id="pppoe_iptv_checkbox"></div>
		</div>

		<div>
		<table id="iptv_manual_setting" width="92%" border="0" align="left" cellpadding="3" cellspacing="0">
			<tr>
				<td>
					<input type="checkbox" id="specialisp" name="specialisp">
					<label for="specialisp">
						<div class="QISGeneralFont"><#PPPConnection_x_HostNameForISP_sectionname#> ( IPTV Service )</div>
					</label>
				</td>
			</tr>
		</table>
		</div>

		<div style="margin-top:160px;">
			<div class="footer_desktop">
				<div class="desktop_abortBtn" id="desktop_abortBtn" onclick="abort.ppp_cfg(wan_type)"><#Manual_Setting_btn#></div>
				<div class="desktop_applyBtn btn_wireless_apply" onclick="apply.ppp_cfg()"><#CTL_next#></div>
			</div>
			<div class="footer_mobile">
				<table style="width:100%;" cellpadding="0" cellspacing="0">
					<tr>
						<td class="mobileAbort" id="mobile_abortBtn" style="width:50%" onclick="abort.ppp_cfg(wan_type)">
							<div class="mobile_abortBtn"><#Manual_Setting_btn#></div>
						</td>
						<td class="mobileApply" onclick="apply.ppp_cfg()">
							<div class="mobile_applyBtn btn_wireless_apply"><#CTL_next#></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class='footerPadding'></div>

<script>

	function haveIPTVService() {
		//compare detection result with isp list
		for(var i = 0; i < ISP_List.length; i++){
			if(wan_type == "ATM") {
				if(vpi_val == ISP_List[i][6]	//vpi
					&& vci_val == ISP_List[i][7]	//vci
					&& prctl_val == ISP_List[i][8]	//proto
					&& encap_val == ISP_List[i][9]	//encap
					&& (ISP_List[i][12] != "" || ISP_List[i][13] != "")	//mr, iptv idx
				) {
					return true;
				}
			}
			else {	//PTM
				if(prctl_val == ISP_List[i][8]	//proto
					&& vlanid_val == ISP_List[i][10]	//vlan id
					&& (ISP_List[i][12] != "" || ISP_List[i][13] != "")	//mr, iptv idx
				) {
					return true;
				}
			}
		}

		return false;
	}

	//--------initial-------------------------------------------

	$("#detect_WanType").html(prctl_str);
	$("#detect_val").html(vpi_val+" / "+vci_val+", "+encap_str);

	$(".secureInput")
		.unbind("click")
		.click(checkPasswd);

	if(haveIPTVService()) {
		$("#iptv_manual_setting").show();
	}
	else {
		$("#iptv_manual_setting").hide();
	}
	$("#STBPortMsg").hide();

	DE_ISP_note_detect();

	postDataModel.insert(dsltmpQISObj);
	postDataModel.insert(dsl_wanObj.atm_dslObj);
	postDataModel.insert(dsl_wanObj.PPPOEObj);
	//--------initial-------------------------------------------

	apply.ppp_cfg = function(){

		// dsltmp --------------------------------
		qisPostData.dslx_transmode = (wan_type=="PTM")? "ptm": "atm";
		qisPostData.dsltmp_transmode = qisPostData.dslx_transmode;
		// -------------------------------- dsltmp

		// dslObj --------------------------------------------------------
 		qisPostData.dsl_vpi = vpi_val;
 		qisPostData.dsl_vci = vci_val;
 		qisPostData.dsl_proto = (detect_status == "pppoa")?"pppoa":"pppoe";
 		qisPostData.dsl_encap = encap_val;
 		//qisPostData.dsl0_dot1q = "";	// If vid with value then set dot1q=1	
 		//qisPostData.dsl0_vid = "";   // Matched ISP List that vid with value
 		qisPostData.dsl_svc_cat = "0";
 		qisPostData.dsl_pcr = "0";
 		qisPostData.dsl_scr = "0";
 		qisPostData.dsl_mbs = "0";
 		// -------------------------------------------------------- dslObj

 		// atmPPPOEObj ------------------------------------------------------
		if(hasBlank([$("#dsltmp_qis_pppoe_username"), $("#dsltmp_qis_pppoe_passwd")])) return false;		
			
		qisPostData.dsl_pppoe_username = $("#dsltmp_qis_pppoe_username").val();
		qisPostData.dsl_pppoe_passwd = $("#dsltmp_qis_pppoe_passwd").val();
		qisPostData.dsl_pppoe_mtu = "1492";
		qisPostData.dsl_pppoe_mru = "1492";
		qisPostData.dsl_pppoe_idletime = "0";
		qisPostData.dsl_pppoe_service = "";
		qisPostData.dsl_pppoe_options = "";


		if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoe" && timez == "+05:30"){	
			//India - BSNL (PPPOE). This will also change Dada Infosys and HCL Infinet Ltd's MTU to 1442, but it's ok.
			qisPostData.dsltmp_qis_pppoe_mtu = "1442";
		}
		else if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoa" && timez == "+05:30"){
			//India - BSNL (PPPOA)
			qisPostData.dsltmp_qis_pppoe_mtu = "1442";
		}
		else if (vpi_val == "0" && vci_val == "32" && encap_val == "0" && detect_status == "pppoe" && timez == "+05:30"){
			//India - MTNL (PPPOE)
			qisPostData.dsltmp_qis_pppoe_mtu = "1442";
		}
		else if (vpi_val == "0" && vci_val == "32" && encap_val == "0" && detect_status == "pppoa" && timez == "+05:30"){
			//India - MTNL (PPPOA)
			qisPostData.dsltmp_qis_pppoe_mtu = "1442";
		}
		// ------------------------------------------------------ atmPPPOEObj

		// dslIPTVObj--------------------------------------------------------

		if($("#specialisp").is(":checked")){
			goTo.DSL_IPTV();
		}	// -------------------------------------------------------- dslIPTVObj
		else{

			if(!qisPostData.hasOwnProperty("dsltmp_cfg_iptv_pvclist")){
				postDataModel.insert(dslIPTVObj);       //reset IPTV
				qisPostData.dsltmp_cfg_iptv_enable = "0";
				qisPostData.dsltmp_cfg_iptv_rmvlan = "";
				qisPostData.dsltmp_cfg_iptv_mr = "";
				qisPostData.dsltmp_cfg_iptv_num_pvc = "0";
				qisPostData.dsltmp_cfg_iptv_pvclist = "";
				qisPostData.dsltmp_cfg_iptv_idx = "";
				qisPostData.dsltmp_cfg_ispname = "";
				qisPostData.dsltmp_cfg_country = "";
			}
			//if(isWANChanged() || window.pppAuthFailChecked){
				httpApi.nvramSet((function(){
					qisPostData.action_mode = "apply";
					qisPostData.rc_service = "restart_dslwan_qis 0";
					//alert(qisPostData); //Viz tmp
					return qisPostData;
				})());

				//updateOriginWan();
			//}
	
			goTo.Wireless();
		}
	};


</script>
