<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">
var now_flag = '<% get_parameter("flag"); %>';
var wantype = '';
var first_wanstate = -1;
var first_wansbstate = -1;
var first_wanauxstate = -1;
var second_wanstate = -1;
var second_wansbstate = -1;
var second_wanauxstate = -1;
var wan_wanstate = -1;
var wan_wansbstate = -1;
var wan_wanauxstate = -1;
var usb_wanstate = -1;
var usb_wansbstate = -1;
var usb_wanauxstate = -1;
<% wanlink(); %>
<% wanstate(); %>
<% dual_wanstate(); %>
var sim_state = '<% nvram_get("usb_modem_act_sim"); %>';

function initial(){
	var eth_wan = 0;
	var sim_wan = 0;
	var hint_str;

	if(parent.ISMOBILE){
		parent.set_step("internet_type");
		hideObjs();
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("QISmain_m").style.display = "";		
	}
	else{
		parent.set_step("t2");
		document.getElementById("next").focus();
	}

	getDualWANState();

	if(parent.ewan_index != -1){
		if(wan_wanstate  == 2 && wan_wansbstate == 0 && wan_wanauxstate == 0){
			document.getElementById("success_img").style.display = "";
			document.getElementById("success_desc").innerHTML = "<#QIS_dualconnect_desc1#>";
			document.getElementById("success_desc").style.display = "";
			hint_str = "<style style=\"text/css\"> a{text-decoration:underline;font-weight: bold; font-style: italic; cursor: pointer;} a:hover{text-decoration:underline;}</style>";
			hint_str += "<#QIS_dualconnect_hint11#> ";
			hint_str += "<#QIS_dualconnect_hint12#>";
			document.getElementById("dualwan_hint").innerHTML = hint_str;
			eth_wan = 1;
		}
	}

	if(parent.usb_index != -1){
		if(usb_wanstate == 2 && usb_wansbstate == 0 && usb_wanauxstate == 0){
			document.getElementById("success_img").style.display = "";
			document.getElementById("success_desc").innerHTML = "<#QIS_dualconnect_desc3#>";
			document.getElementById("success_desc").style.display = "";
			hint_str = "<style style=\"text/css\"> a{text-decoration:underline;font-weight: bold; font-style: italic; cursor: pointer;} a:hover{text-decoration:underline;}</style>";
			hint_str += "<#QIS_dualconnect_hint21#>";
			hint_str += "<#QIS_dualconnect_hint22#>";
			document.getElementById("dualwan_hint").innerHTML = hint_str;
			sim_wan = 1;	
		}		
	}
}

function getDualWANState(){
	if( parent.ewan_index == 0 ){
		wan_wanstate = first_wanstate;
		wan_wansbstate = first_wansbstate;
		wan_wanauxstate = first_wanauxstate;
	}
	else if(parent.ewan_index == 1){
		wan_wanstate = second_wanstate;
		wan_wansbstate = second_wansbstate;
		wan_wanauxstate = second_wanauxstate;
	}

	if( parent.usb_index == 0 ){
		usb_wanstate = first_wanstate;
		usb_wansbstate = first_wansbstate;
		usb_wanauxstate = first_wanauxstate;
	}
	else if(parent.usb_index == 1){
		usb_wanstate = second_wanstate;
		usb_wansbstate = second_wansbstate;
		usb_wanauxstate = second_wanauxstate;
	}
}

function redirect_page(redirect_flag){
	document.redirectForm.action = "/qis/QIS_"+redirect_flag+".htm";
	document.redirectForm.submit();
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		redirect_page("wireless");
   		return false;
  	}
	else
   		return true;
}

function detect_if_wan_plug(flag){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		
		error: function(xhr){
			detect_if_wan_plug();		
		},
		success: function(response){
			getDualWANState();
			if((wan_wanstate  == 2 && wan_wansbstate == 0 && wan_wanauxstate == 0) &&
			   (usb_wanstate == 2 && usb_wansbstate == 0 && usb_wanauxstate == 0)){
				redirect_page("wireless");
			}
			else if(autodet_state == 4){
				redirect_page("unplug_ewan");
			}
			else if(!(wan_wanstate  == 2 && wan_wansbstate == 0 && wan_wanauxstate == 0) && autodet_state == 2 ){
				redirect_pate("internet_type");
			}
			else if(usb_wanstate != 2){
				if( sim_state == 1 && (usb_wanstate == 1 || usb_wanstate == 4)){
					update_wan_info(1);
				}
				else if( sim_state == 2 || sim_state == 3){
					redirect_page("detect");
				}
				else{
					redirect_page("unplug_sim");
				}
			}
			else if(flag == null){
				document.getElementById("loadingIcon").style.display = "none";
				document.getElementById("next").style.display = "";
			}
		}
	});	
}

function update_wan_info(flag){
	$.ajax({
		url: '/start_autodet.asp',
		dataType: 'script',
		error: function(xhr){
			update_wan_info();		
		},
		success: function(response){
			if(flag == null){
				document.getElementById("next").style.display = "none";
				document.getElementById("loadingIcon").style.display = "";
				setTimeout("detect_if_wan_plug();", 1000);
			}
			else{
				setTimeout("detect_if_wan_plug(1);", 1000);
			}
		}
	});	
}

</script>
</head>

<body onLoad="initial();" onKeyPress="submitenter(this,event)">
<div class="QISmain" id="QISmain">
	<div id='waitarea'>
		<div class="formfonttitle" style="padding:6 0 0 10;">
				<div>
					<table width="730px">
						<tr>
							<td align="left">
								<div class="description_down"><#QIS_dualconnect_title#></div>
							</td>
						</tr>
					</table>
				</div>
				<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
		</div>
		<table id="tblsetting_1" class="QISform" width="auto" border=0 align="center" cellpadding="5" cellspacing="0">
		  <tr>
			<td align="right">
				<img id="success_img" style="display:none;" src="/images/checked_qis.png">
			</td>	  
			<td class="test_css">
				<strong><span id="success_desc" style="display:none;"></span></strong>
			</td>
		  </tr>
		  <tr id="dualwan_hint_tr">
		  	<td></td>
		  	<td class="QISGeneralFont">
		  		<div id="dualwan_hint"></div>
		  	</td>
		  </tr>
		</table>
		<br/>

		<div class='apply_gen'>
			<div id="fresharea">
				<!--input type="button" id="detectAgain" class="button_gen_long" onclick="update_wan_info();" value="<#CTL_Detect_Again#>"-->
				<input type="button" id="next" value="<#CTL_next#>" onclick="redirect_page('wireless');" class="button_gen">
				<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif">
			</div>
		</div>

	</div>
</div>

<div id="QISmain_m" style="display:none;">

</div>

<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="flag" value="">
</form>
</body>
