/* GT10 */
@-moz-keyframes evolution {
	0%   { background: linear-gradient(to right, rgb(20, 0, 255)  40%, rgb(80, 0, 200)  60%, rgb(200, 0, 80)  80%) ; }
	20%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 100) 60%, rgb(120, 0, 200) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 80)  60%, rgb(255, 0, 200) 80%) ; }
	60%  { background: linear-gradient(to right, rgb(255, 0, 200) 40%, rgb(255, 0, 80)  60%, rgb(255, 0, 20)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(120, 0, 200) 40%, rgb(255, 0, 100) 60%, rgb(255, 0, 20)  80%) ; }
	100% { background: linear-gradient(to right, rgb(200, 0, 160) 40%, rgb(80, 0, 200)  60%, rgb(20, 0, 255)  80%) ; }
}
@-webkit-keyframes evolution {
	0%   { background: linear-gradient(to right, rgb(20, 0, 255)  40%, rgb(80, 0, 200)  60%, rgb(200, 0, 80)  80%) ; }
	20%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 100) 60%, rgb(120, 0, 200) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 80)  60%, rgb(255, 0, 200) 80%) ; }
	60%  { background: linear-gradient(to right, rgb(255, 0, 200) 40%, rgb(255, 0, 80)  60%, rgb(255, 0, 20)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(120, 0, 200) 40%, rgb(255, 0, 100) 60%, rgb(255, 0, 20)  80%) ; }
	100% { background: linear-gradient(to right, rgb(200, 0, 160) 40%, rgb(80, 0, 200)  60%, rgb(20, 0, 255)  80%) ; }
}
@-o-keyframes evolution {
	0%   { background: linear-gradient(to right, rgb(20, 0, 255)  40%, rgb(80, 0, 200)  60%, rgb(200, 0, 80)  80%) ; }
	20%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 100) 60%, rgb(120, 0, 200) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 80)  60%, rgb(255, 0, 200) 80%) ; }
	60%  { background: linear-gradient(to right, rgb(255, 0, 200) 40%, rgb(255, 0, 80)  60%, rgb(255, 0, 20)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(120, 0, 200) 40%, rgb(255, 0, 100) 60%, rgb(255, 0, 20)  80%) ; }
	100% { background: linear-gradient(to right, rgb(200, 0, 160) 40%, rgb(80, 0, 200)  60%, rgb(20, 0, 255)  80%) ; }
}
@keyframes evolution {
	0%   { background: linear-gradient(to right, rgb(20, 0, 255)  40%, rgb(80, 0, 200)  60%, rgb(200, 0, 80)  80%) ; }
	20%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 100) 60%, rgb(120, 0, 200) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(255, 0, 20)  40%, rgb(255, 0, 80)  60%, rgb(255, 0, 200) 80%) ; }
	60%  { background: linear-gradient(to right, rgb(255, 0, 200) 40%, rgb(255, 0, 80)  60%, rgb(255, 0, 20)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(120, 0, 200) 40%, rgb(255, 0, 100) 60%, rgb(255, 0, 20)  80%) ; }
	100% { background: linear-gradient(to right, rgb(200, 0, 160) 40%, rgb(80, 0, 200)  60%, rgb(20, 0, 255)  80%) ; }
}
@-moz-keyframes evolution_Cobrand_5 {
	0%   { background: linear-gradient(to right, rgb(0, 0, 255)   40%, rgb(0, 20, 220)  60%, rgb(0, 160, 140) 80%) ; }
	20%  { background: linear-gradient(to right, rgb(0, 10, 255)  40%, rgb(0, 120, 200) 60%, rgb(0, 255, 120) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(0, 60, 255)  40%, rgb(0, 160, 140) 60%, rgb(0, 240, 40)  80%) ; }
	60%  { background: linear-gradient(to right, rgb(0, 220, 60)  40%, rgb(0, 200, 120) 60%, rgb(0, 60, 220)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(0, 200, 120) 40%, rgb(0, 120, 200) 60%, rgb(0, 10, 255)  80%) ; }
	100% { background: linear-gradient(to right, rgb(0, 80, 200)  40%, rgb(0, 20, 220)  60%, rgb(0, 0, 255)   80%) ; }
}
@-webkit-keyframes evolution_Cobrand_5 {
	0%   { background: linear-gradient(to right, rgb(0, 0, 255)   40%, rgb(0, 20, 220)  60%, rgb(0, 160, 140) 80%) ; }
	20%  { background: linear-gradient(to right, rgb(0, 10, 255)  40%, rgb(0, 120, 200) 60%, rgb(0, 255, 120) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(0, 60, 255)  40%, rgb(0, 160, 140) 60%, rgb(0, 240, 40)  80%) ; }
	60%  { background: linear-gradient(to right, rgb(0, 220, 60)  40%, rgb(0, 200, 120) 60%, rgb(0, 60, 220)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(0, 200, 120) 40%, rgb(0, 120, 200) 60%, rgb(0, 10, 255)  80%) ; }
	100% { background: linear-gradient(to right, rgb(0, 80, 200)  40%, rgb(0, 20, 220)  60%, rgb(0, 0, 255)   80%) ; }
}
@-o-keyframes evolution_Cobrand_5 {
	0%   { background: linear-gradient(to right, rgb(0, 0, 255)   40%, rgb(0, 20, 220)  60%, rgb(0, 160, 140) 80%) ; }
	20%  { background: linear-gradient(to right, rgb(0, 10, 255)  40%, rgb(0, 120, 200) 60%, rgb(0, 255, 120) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(0, 60, 255)  40%, rgb(0, 160, 140) 60%, rgb(0, 240, 40)  80%) ; }
	60%  { background: linear-gradient(to right, rgb(0, 220, 60)  40%, rgb(0, 200, 120) 60%, rgb(0, 60, 220)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(0, 200, 120) 40%, rgb(0, 120, 200) 60%, rgb(0, 10, 255)  80%) ; }
	100% { background: linear-gradient(to right, rgb(0, 80, 200)  40%, rgb(0, 20, 220)  60%, rgb(0, 0, 255)   80%) ; }
}
@keyframes evolution_Cobrand_5 {
	0%   { background: linear-gradient(to right, rgb(0, 0, 255)   40%, rgb(0, 20, 220)  60%, rgb(0, 160, 140) 80%) ; }
	20%  { background: linear-gradient(to right, rgb(0, 10, 255)  40%, rgb(0, 120, 200) 60%, rgb(0, 255, 120) 80%) ; }
	40%  { background: linear-gradient(to right, rgb(0, 60, 255)  40%, rgb(0, 160, 140) 60%, rgb(0, 240, 40)  80%) ; }
	60%  { background: linear-gradient(to right, rgb(0, 220, 60)  40%, rgb(0, 200, 120) 60%, rgb(0, 60, 220)  80%) ; }
	80%  { background: linear-gradient(to right, rgb(0, 200, 120) 40%, rgb(0, 120, 200) 60%, rgb(0, 10, 255)  80%) ; }
	100% { background: linear-gradient(to right, rgb(0, 80, 200)  40%, rgb(0, 20, 220)  60%, rgb(0, 0, 255)   80%) ; }
}