// Hardware Serial LED options
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy0-led_0,   0, 0,  0);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy0-led_1,   0, 1,  1);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy0-led_2,   0, 2, 32);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy1-led_0,   1, 0,  2);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy1-led_1,   1, 1,  3);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy1-led_2,   1, 2, 33);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy2-led_0,   2, 0,  4);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy2-led_1,   2, 1,  5);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy2-led_2,   2, 2, 34);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy3-led_0,   3, 0,  6);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy3-led_1,   3, 1,  7);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_gphy3-led_2,   3, 2, 35);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_rgmii-led_0,   4, 0,  8);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_rgmii-led_1,   4, 1,  9);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_rgmii-led_2,   4, 2, 36);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy0-led_0,   5, 0, 13);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy0-led_1,   5, 1, 14);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy0-led_2,   5, 2, 15);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy0-led_3,   5, 3, 38);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_wan_ae-led_0,   6, 0, 10);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_wan_ae-led_1,   6, 1, 11);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_wan_ae-led_2,   6, 2, 12);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_wan_ae-led_3,   6, 3, 37);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy1-led_0,   7, 0, 16);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy1-led_1,   7, 1, 17);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy1-led_2,   7, 2, 18);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_xgphy1-led_3,   7, 3, 39);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan0-led_0,   8, 0, 19);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan0-led_1,   8, 1, 20);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan0-led_2,   8, 2, 21);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan0-led_3,   8, 3, 40);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan1-led_0,   9, 0, 49);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan1-led_1,   9, 1, 50);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan1-led_2,   9, 2, 51);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan1-led_3,   9, 3, 58);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan2-led_0, 10, 0, 52);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan2-led_1, 10, 1, 53);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan2-led_2, 10, 2, 54);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan2-led_3, 10, 3, 59);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan3-led_0, 11, 0, 55);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan3-led_1, 11, 1, 56);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan3-led_2, 11, 2, 57);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_slan3-led_3, 11, 3, 60);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan0-led_0, 12, 0, 22);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan0-led_1, 12, 1, 23);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan0-led_2, 12, 2, 41);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan0-led_3, 12, 3, 42);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan1-led_0, 13, 0, 24);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan1-led_1, 13, 1, 25);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan1-led_2, 13, 2, 43);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan1-led_3, 13, 3, 44);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan2-led_0, 14, 0, 26);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan2-led_1, 14, 1, 27);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan2-led_2, 14, 2, 45);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan2-led_3, 14, 3, 46);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan3-led_0, 15, 0, 28);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan3-led_1, 15, 1, 29);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan3-led_2, 15, 2, 44);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_qlan3-led_3, 15, 3, 48);
HW_CROSSBAR_SERIAL_AGGREGATE_BIT(serial-aggregate_activity, 30);
HW_CROSSBAR_SERIAL_AGGREGATE_BIT(serial-aggregate_link, 31);

// Software Serial LED options
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_0 ,  0);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_1 ,  1);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_2 ,  2);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_3 ,  3);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_4 ,  4);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_5 ,  5);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_6 ,  6);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_7 ,  7);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_8 ,  8);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_9 ,  9);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_10, 10);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_11, 11);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_12, 12);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_13, 13);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_14, 14);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_15, 15);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_16, 16);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_17, 17);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_18, 18);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_19, 19);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_20, 20);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_21, 21);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_22, 22);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_23, 23);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_24, 24);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_25, 25);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_26, 26);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_27, 27);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_28, 28);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_29, 29);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_30, 30);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_31, 31);

// Hardware Parallel LED options:
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy0-led_0,   0, 0,  0);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy0-led_1,   0, 1,  1);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy0-led_2,   0, 2, 32);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy1-led_0,   1, 0,  2);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy1-led_1,   1, 1,  3);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy1-led_2,   1, 2, 33);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy2-led_0,   2, 0,  4);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy2-led_1,   2, 1,  5);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy2-led_2,   2, 2, 34);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy3-led_0,   3, 0,  6);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy3-led_1,   3, 1,  7);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_gphy3-led_2,   3, 2, 35);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_rgmii-led_0,   4, 0,  8);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_rgmii-led_1,   4, 1,  9);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_rgmii-led_2,   4, 2, 36);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy0-led_0,   5, 0, 13);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy0-led_1,   5, 1, 14);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy0-led_2,   5, 2, 15);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy0-led_3,   5, 3, 38);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_wan_ae-led_0,   6, 0, 10);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_wan_ae-led_1,   6, 1, 11);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_wan_ae-led_2,   6, 2, 12);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_wan_ae-led_3,   6, 3, 37);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy1-led_0,   7, 0, 16);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy1-led_1,   7, 1, 17);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy1-led_2,   7, 2, 18);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_xgphy1-led_3,   7, 3, 39);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan0-led_0,   8, 0, 19);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan0-led_1,   8, 1, 20);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan0-led_2,   8, 2, 21);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan0-led_3,   8, 3, 40);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan1-led_0,   9, 0, 49);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan1-led_1,   9, 1, 50);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan1-led_2,   9, 2, 51);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan1-led_3,   9, 3, 58);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan2-led_0, 10, 0, 52);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port-slan2-led_1, 10, 1, 53);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan2-led_2, 10, 2, 54);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan2-led_3, 10, 3, 59);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan3-led_0, 11, 0, 55);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan3-led_1, 11, 1, 56);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan3-led_2, 11, 2, 57);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_slan3-led_3, 11, 3, 60);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan0-led_0, 12, 0, 22);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan0-led_1, 12, 1, 23);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan0-led_2, 12, 2, 41);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan0-led_3, 12, 3, 42);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan1-led_0, 13, 0, 24);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan1-led_1, 13, 1, 25);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan1-led_2, 13, 2, 43);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan1-led_3, 13, 3, 44);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan2-led_0, 14, 0, 26);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan2-led_1, 14, 1, 27);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan2-led_2, 14, 2, 45);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan2-led_3, 14, 3, 46);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan3-led_0, 15, 0, 28);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan3-led_1, 15, 1, 29);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan3-led_2, 15, 2, 44);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_qlan3-led_3, 15, 3, 48);
HW_CROSSBAR_PARALLEL_AGGREGATE_BIT(parallel-aggregate_activity, 30);
HW_CROSSBAR_PARALLEL_AGGREGATE_BIT(parallel-aggregate_link, 31);

// Software Parallel LED options:
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_0 ,  0);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_1 ,  1);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_2 ,  2);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_3 ,  3);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_4 ,  4);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_5 ,  5);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_6 ,  6);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_7 ,  7);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_8 ,  8);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_9 ,  9);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_10, 10);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_11, 11);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_12, 12);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_13, 13);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_14, 14);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_15, 15);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_16, 16);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_17, 17);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_18, 18);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_19, 19);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_20, 20);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_21, 21);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_22, 22);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_23, 23);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_24, 24);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_25, 25);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_26, 26);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_27, 27);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_28, 28);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_29, 29);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_30, 30);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_31, 31);

