menu "Hardware Spinlock Support"

config DM_HWSPINLOCK
	bool "Enable U-Boot hardware spinlock support"
	help
	  This option enables U-Boot hardware spinlock support

config HWSPINLOCK_SANDBOX
	bool "Enable Hardware Spinlock support for Sandbox"
	depends on SANDBOX && DM_HWSPINLOCK
	help
	  Enable hardware spinlock support in Sandbox. This is a dummy device that
	  can be probed and support all the methods of HWSPINLOCK, but does not
	  really do anything.

config HWSPINLOCK_STM32
	bool "Enable Hardware Spinlock support for STM32"
	depends on ARCH_STM32MP && DM_HWSPINLOCK
	help
	  Enable hardware spinlock support in STM32MP. Hardware spinlocks are
	  hardware mutex which provide a synchronisation mechanism for the
	  various processors on the SoC.

endmenu
