Makefile
*.lo
*.o
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
doc/Makefile.in
install-sh
jansson.pc
jansson_private_config.h
jansson_private_config.h.in
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile.in
src/jansson_config.h
src/libjansson.la
test-driver
test/Makefile.in
test/bin/.deps/
test/bin/Makefile.in
test/suites/Makefile.in
test/suites/api/.deps/
test/suites/api/Makefile.in
