menuconfig FSL_PFE
	bool "NXP PFE Ethernet driver"
	help
	  This driver provides support for NXP's Packet Forwarding Engine.

if FSL_PFE

config SYS_FSL_PFE_ADDR
	hex "PFE base address"
	default 0x04000000

endif
