if TARGET_AM43XX_EVM

config SYS_BOARD
	default "am43xx"

config SYS_VENDOR
	default "ti"

config SYS_SOC
	default "am33xx"

config SYS_CONFIG_NAME
	default "am43xx_evm"

source "board/ti/common/Kconfig"

endif
