if TARGET_LS1021AQDS

config SYS_BOARD
	default "ls1021aqds"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "ls102xa"

config SYS_CONFIG_NAME
	default "ls1021aqds"

source "board/freescale/common/Kconfig"

endif
