// Hardware Serial LED options
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_0-led_0, 0, 0,  0);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_0-led_1, 0, 1,  1);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_0-led_2, 0, 2,  2);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_1-led_0, 1, 0,  3);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_1-led_1, 1, 1,  4);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_1-led_2, 1, 2,  5);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_2-led_0, 2, 0,  6);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_2-led_1, 2, 1,  7);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_2-led_2, 2, 2,  8);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_3-led_0, 3, 0,  9);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_3-led_1, 3, 1, 10);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_3-led_2, 3, 2, 11);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_4-led_0, 4, 0, 12);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_4-led_1, 4, 1, 13);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_4-led_2, 4, 2, 14);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_5-led_0, 5, 0, 15);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_5-led_1, 5, 1, 16);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_5-led_2, 5, 2, 17);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_5-led_3, 5, 3, 18);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_6-led_0, 6, 0, 19);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_6-led_1, 6, 1, 20);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_6-led_2, 6, 2, 21);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_6-led_3, 6, 3, 22);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_7-led_0, 7, 0, 23);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_7-led_1, 7, 1, 24);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_7-led_2, 7, 2, 25);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial-port_7-led_3, 7, 3, 26);
HW_CROSSBAR_SERIAL_AGGREGATE_BIT(serial-aggregate_link, 27);
HW_CROSSBAR_SERIAL_AGGREGATE_BIT(serial-aggregate_activity, 28);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial_dsl_act_0, 0, 0, 29);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial_dsl_act_1, 1, 0, 30);
HW_CROSSBAR_SERIAL_PORT_LED_BIT(serial_usb_0, 0, 0, 31);

// Software Serial LED options
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_0 ,  0);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_1 ,  1);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_2 ,  2);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_3 ,  3);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_4 ,  4);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_5 ,  5);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_6 ,  6);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_7 ,  7);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_8 ,  8);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_9 ,  9);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_10, 10);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_11, 11);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_12, 12);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_13, 13);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_14, 14);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_15, 15);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_16, 16);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_17, 17);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_18, 18);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_19, 19);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_20, 20);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_21, 21);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_22, 22);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_23, 23);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_24, 24);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_25, 25);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_26, 26);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_27, 27);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_28, 28);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_29, 29);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_30, 30);
SW_CROSSBAR_SERIAL_BIT(sw_serial_led_31, 31);

// Hardware Parallel LED options:
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_0-led_0, 0, 0,  0);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_0-led_1, 0, 1,  1);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_0-led_2, 0, 2,  2);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_1-led_0, 1, 0,  3);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_1-led_1, 1, 1,  4);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_1-led_2, 1, 2,  5);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_2-led_0, 2, 0,  6);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_2-led_1, 2, 1,  7);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_2-led_2, 2, 2,  8);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_3-led_0, 3, 0,  9);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_3-led_1, 3, 1, 10);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_3-led_2, 3, 2, 11);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_4-led_0, 4, 0, 12);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_4-led_1, 4, 1, 13);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_4-led_2, 4, 2, 14);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_5-led_0, 5, 0, 15);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_5-led_1, 5, 1, 16);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_5-led_2, 5, 2, 17);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_5-led_3, 5, 3, 18);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_6-led_0, 6, 0, 19);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_6-led_1, 6, 1, 20);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_6-led_2, 6, 2, 21);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_6-led_3, 6, 3, 22);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_7-led_0, 7, 0, 23);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_7-led_1, 7, 1, 24);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_7-led_2, 7, 2, 25);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel-port_7-led_3, 7, 3, 26);
HW_CROSSBAR_PARALLEL_AGGREGATE_BIT(parallel-aggregate_link, 27);
HW_CROSSBAR_PARALLEL_AGGREGATE_BIT(parallel-aggregate_activity, 28);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel_dsl_act_0, 0, 0, 29);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel_dsl_act_1, 1, 0, 30);
HW_CROSSBAR_PARALLEL_PORT_LED_BIT(parallel_usb_0, 0, 0, 31);

// Software Parallel LED options:
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_0 ,  0);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_1 ,  1);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_2 ,  2);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_3 ,  3);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_4 ,  4);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_5 ,  5);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_6 ,  6);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_7 ,  7);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_8 ,  8);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_9 ,  9);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_10, 10);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_11, 11);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_12, 12);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_13, 13);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_14, 14);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_15, 15);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_16, 16);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_17, 17);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_18, 18);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_19, 19);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_20, 20);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_21, 21);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_22, 22);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_23, 23);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_24, 24);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_25, 25);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_26, 26);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_27, 27);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_28, 28);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_29, 29);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_30, 30);
SW_CROSSBAR_PARALLEL_BIT(sw_parallel_led_31, 31);

