if TARGET_ZC5202

config SYS_BOARD
	default "el6x"

config SYS_VENDOR
	default "el"

config SYS_CONFIG_NAME
	default "zc5202"

endif

if TARGET_ZC5601

config SYS_BOARD
	default "el6x"

config SYS_VENDOR
	default "el"

config SYS_CONFIG_NAME
	default "zc5601"

endif
