.dark {
    --color-icon-default: 147, 162, 169; /* #93A2A9 */
    --color-icon-active: 255, 255, 255; /* #FFFFFF */
    --color-icon-hover: 255, 255, 255; /*  #141414 */
    --color-icon-traffic-up: 19, 211, 202; /* #13D3CA */
    --color-icon-traffic-down: 72, 162, 255; /* #48A2FF */
    --color-bg-mainBody: 0, 0, 0; /* #000000 */
    --color-bg-lang-item: 0, 0, 0; /* #000000 */
    --color-bg-lang-item-focus: 0, 145, 255; /* #0091FF */
    --color-bg-nav: 27, 64, 76; /* #1B404C */
    --color-bg-menu-active: 0, 145, 255; /* #0091FF */
    --color-bg-banner: 0, 0, 0; /* #000000 */
    --color-bg-time: 36, 80, 100; /* #245064 */
    --color-bg-shade: 9, 38, 54; /* #092636 */
    --color-bg-card: 42, 59, 72; /* #2A3B48 */
    --color-bg-card-shadow: 9, 38, 54; /* #000000 */
    --color-bg-btn-regular: 39, 41, 43; /* #27292B */
    --color-bg-btn-confirm: 28, 113, 255; /* #1C71FF */
    --color-bg-btn-switch-active: 0, 145, 255; /* #0091FF */
    --color-bg-loader: 120, 120, 120; /* #787878 */
    --color-bg-content: 0, 0, 0; /* #000000 */
    --color-bg-circle-chart: 37, 58, 73; /* #253A49 */
    --color-bg-divide-line: 255, 255, 255; /* #FFFFFF */
    --color-gradient-body-1: 4, 19, 29; /* #04131D */
    --color-gradient-body-2: 10, 35, 45; /* #0A232D */
    --color-gradient-body-3: 22, 31, 37; /* #161F25 */
    --color-gradient-header-1: 9, 38, 54; /* #092636 */
    --color-gradient-header-2: 6, 56, 77; /* #06384D */
    --color-gradient-nav-1: 1, 98, 202; /* #0162CA */
    --color-gradient-nav-2: 38, 251, 255; /* #26FBFF */
    --color-gradient-card-1: 35, 53, 68; /* #233544 */
    --color-gradient-card-2: 57, 100, 124; /* #39647C */
    --color-header-shadow: 0, 95, 192; /* #005FC0 */
    --color-nav-shadow: 0, 0, 0; /* #000000 */
    --color-banner-shadow: 0, 95, 192; /* #005FC0 */
    --color-text-regular: 255, 255, 255; /* #FFFFFF */
    --color-text-feature-title: 147, 162, 169; /* #93A2A9 */
    --color-text-highlight: 255, 255, 255; /* #FFFFFF */
    --color-text-menu-title: 147, 162, 169; /* #93A2A9 */
    --color-text-title: 255, 255, 255; /* #FFFFFF */
    --color-text-value: 147, 162, 169; /* #93A2A9 */
    --color-text-time-day: 99, 209, 254; /* #63D1FE */
    --color-text-copyright: 95, 170, 200; /* #5FAAC8 */
    --color-text-hint: 255, 204, 0; /* #FFCC00 */
    --color-text-page-title: 255, 255, 255; /* #FFFFFF */
    --color-text-card-title: 0, 234, 255; /* #00EAFF */
    --color-text-loading: 120, 120, 120; /* #787878 */
    --color-text-loading-active: 30, 255, 202; /* #1EFFCA */
    --color-text-underline: 30, 255, 202; /* #1EFFCA */
    --color-text-invert: 255, 255, 255; /* #FFFFFF */
    --color-text-success: 52, 199, 89; /* 34c759 */
    --color-border-time: 0, 145, 255; /* #0091FF */
    --color-border-divide-line: 55, 97, 114; /* #376172 */
    --color-loader-active-1: 0, 145, 255; /* #0091FF */
    --color-loader-active-2: 38, 251, 255; /* #26FBFF */
    --color-chart-1: 19, 211, 202; /* #13D3CA */
    --color-chart-2: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-1: 22, 215, 118; /* #16D776 */
    --color-circle-chart-2: 255, 110, 28; /* #FF6E1C */
    --color-circle-chart-3: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-4: 224, 185, 3; /* #E0B903 */
    --color-circle-chart-5: 179, 100, 91; /* #B3645B */
    --color-chart-good: 37, 193, 0; /* 25C100 */
    --color-chart-warning: 236, 192, 0; /* ECC000 */
    --color-chart-unplug: 215, 215, 215; /* D7D7D7 */
}
.rog {
    --color-icon-default: 146, 146, 146; /* #929292 */
    --color-icon-active: 255, 255, 255; /* #FFFFFF */
    --color-icon-hover: 255, 255, 255; /* #FFFFFF */
    --color-icon-traffic-up: 19, 211, 202; /* #13D3CA */
    --color-icon-traffic-down: 72, 162, 255; /* #48A2FF */
    --color-bg-mainBody: 0, 0, 0; /* #000000 */
    --color-bg-lang-item: 0, 0, 0; /* #000000 */
    --color-bg-lang-item-focus: 248, 23, 38; /* #F81726 */
    --color-bg-nav: 225, 225, 225; /* #303030 */
    --color-bg-menu-active: 248, 23, 38; /* #F81726 */
    --color-bg-banner: 0, 0, 0; /* #000000 */
    --color-bg-time: 68, 68, 68; /* #444444 */
    --color-bg-shade: 14, 14, 14; /* #0E0E0E */
    --color-bg-card: 36, 36, 36; /* #242424 */
    --color-bg-card-shadow: 64, 64, 64; /* #FFFFFF */
    --color-bg-btn-regular: 68, 68, 68; /* #444444 */
    --color-bg-btn-confirm: 194, 0, 19; /* #C20013 */
    --color-bg-btn-switch-active: 248, 23, 38; /* #F81726 */
    --color-bg-loader: 100, 100, 100; /* #646464 */
    --color-bg-content: 100, 100, 100; /* #646464 */
    --color-bg-circle-chart: 59, 59, 59; /* #3B3B3B */
    --color-bg-divide-line: 255, 255, 255; /* #FFFFFF */
    --color-gradient-body-1: 20, 20, 20; /* #141414 */
    --color-gradient-body-2: 20, 20, 20; /* #141414 */
    --color-gradient-body-3: 20, 20, 20; /* #141414 */
    --color-gradient-header-1: 32, 32, 32; /* #202020 */
    --color-gradient-header-2: 32, 32, 32; /* #202020 */
    --color-gradient-nav-1: 255, 20, 17; /* #FF1411 */
    --color-gradient-nav-2: 225, 100, 88; /* #FF6458 */
    --color-gradient-card-1: 36, 36, 36; /* #242424 */
    --color-gradient-card-2: 36, 36, 36; /* #242424 */
    --color-header-shadow: 0, 0, 0; /* #000000 */
    --color-nav-shadow: 0, 0, 0; /* #000000 */
    --color-banner-shadow: 100, 100, 100; /* #646464 */
    --color-text-regular: 255, 255, 255; /* #FFFFFF */
    --color-text-feature-title: 146, 146, 146; /* #929292 */
    --color-text-highlight: 255, 255, 255; /* #FFFFFF */
    --color-text-menu-title: 146, 146, 146; /* #929292 */
    --color-text-title: 225, 225, 225; /* #FFFFFF */
    --color-text-value: 255, 255, 255; /* #03FEDB */
    --color-text-time-day: 255, 121, 0; /* #FF7900 */
    --color-text-copyright: 153, 153, 153; /* #999999 */
    --color-text-hint: 51, 254, 170; /* #33FEAA */
    --color-text-page-title: 248, 23, 38; /* #F81726 */
    --color-text-card-title: 178, 255, 38; /* #B2FF26 */
    --color-text-loading: 100, 100, 100; /* #646464 */
    --color-text-loading-active: 248, 23, 38; /* #F81726 */
    --color-text-underline: 248, 23, 38; /* #F81726 */
    --color-text-invert: 255, 255, 255; /* #FFFFFF */
    --color-text-success: 52, 199, 89; /* 34c759 */
    --color-border-time: 248, 23, 38; /* #F81726 */
    --color-border-divide-line: 241, 138, 81; /* #F18A51 */
    --color-loader-active-1: 165, 0, 42; /* #A5002A */
    --color-loader-active-2: 248, 23, 38; /* #F81726 */
    --color-chart-1: 19, 211, 202; /* #13D3CA */
    --color-chart-2: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-1: 22, 215, 118; /* #16D776 */
    --color-circle-chart-2: 255, 110, 28; /* #FF6E1C */
    --color-circle-chart-3: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-4: 224, 185, 3; /* #E0B903 */
    --color-circle-chart-5: 179, 100, 91; /* #B3645B */
    --color-chart-good: 37, 193, 0; /* 25C100 */
    --color-chart-warning: 236, 192, 0; /* ECC000 */
    --color-chart-unplug: 215, 215, 215; /* D7D7D7 */
}
.tuf {
    --color-icon-default: 168, 168, 168; /* #A8A8A8 */
    --color-icon-active: 255, 255, 255; /* #FFFFFF */
    --color-icon-hover: 255, 255, 255; /* #FFFFFF */
    --color-icon-traffic-up: 19, 211, 202; /* #13D3CA */
    --color-icon-traffic-down: 72, 162, 255; /* #48A2FF */
    --color-bg-mainBody: 32, 32, 32; /* #202020 */
    --color-bg-lang-item: 0, 0, 0; /* #000000 */
    --color-bg-lang-item-focus: 248, 185, 66; /* #F8B942 */
    --color-bg-nav: 56, 56, 56; /* #383838 */
    --color-bg-menu-active: 255, 158, 27; /* #FF9E1B */
    --color-bg-banner: 0, 0, 0; /* #000000 */
    --color-bg-time: 68, 68, 68; /* #444444 */
    --color-bg-shade: 24, 24, 24; /* #181818 */
    --color-bg-card: 48, 48, 48; /* #303030 */
    --color-bg-card-shadow: 124, 124, 124; /* #FFFFFF */
    --color-bg-btn-regular: 39, 41, 43; /* #27292B */
    --color-bg-btn-confirm: 243, 173, 0; /* #F3AD00 */
    --color-bg-btn-switch-active: 248, 185, 66; /* #F8B942 */
    --color-bg-loader: 100, 100, 100; /* #646464 */
    --color-bg-content: 100, 100, 100; /* #646464 */
    --color-bg-circle-chart: 59, 59, 59; /* #3B3B3B */
    --color-bg-divide-line: 255, 255, 255; /* #FFFFFF */
    --color-gradient-body-1: 32, 32, 32; /* #202020 */
    --color-gradient-body-2: 32, 32, 32; /* #202020 */
    --color-gradient-body-3: 32, 32, 32; /* #202020 */
    --color-gradient-header-1: 32, 32, 32; /* #202020 */
    --color-gradient-header-2: 32, 32, 32; /* #202020 */
    --color-gradient-nav-1: 239, 168, 6; /* #EFA806 */
    --color-gradient-nav-2: 249, 207, 87; /* #F9CF57 */
    --color-gradient-card-1: 48, 48, 48; /* #303030 */
    --color-gradient-card-2: 48, 48, 48; /* #303030 */
    --color-header-shadow: 0, 0, 0; /* #000000 */
    --color-nav-shadow: 0, 0, 0; /* #000000 */
    --color-banner-shadow: 100, 100, 100; /* #646464 */
    --color-text-regular: 203, 193, 177; /* #CBC1B1 */
    --color-text-feature-title: 168, 168, 168; /* #A8A8A8 */
    --color-text-highlight: 255, 255, 255; /* #FFFFFF */
    --color-text-menu-title: 168, 168, 168; /* #A8A8A8 */
    --color-text-title: 203, 193, 177; /* #CBC1B1 */
    --color-text-value: 255, 158, 27; /* #FF9E1B */
    --color-text-time-day: 248, 185, 66; /* #F8B942 */
    --color-text-copyright: 153, 153, 153; /* #999999 */
    --color-text-hint: 255, 158, 27; /* #FF9E1B */
    --color-text-page-title: 225, 108, 51; /* ##E16C33 */
    --color-text-card-title: 255, 168, 0; /* #FFA800 */
    --color-text-loading: 100, 100, 100; /* #646464 */
    --color-text-loading-active: 248, 185, 66; /* #F8B942 */
    --color-text-underline: 248, 185, 66; /* #F8B942 */
    --color-text-invert: 255, 255, 255; /* #FFFFFF */
    --color-text-success: 52, 199, 89; /* 34c759 */
    --color-border-time: 248, 185, 66; /* #F8B942 */
    --color-border-divide-line: 149, 111, 73; /* #956F49 */
    --color-loader-active-1: 255, 132, 0; /*#FF8400 */
    --color-loader-active-2: 248, 185, 66; /* #F8B942 */
    --color-chart-1: 19, 211, 202; /* #13D3CA */
    --color-chart-2: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-1: 22, 215, 118; /* #16D776 */
    --color-circle-chart-2: 255, 110, 28; /* #FF6E1C */
    --color-circle-chart-3: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-4: 224, 185, 3; /* #E0B903 */
    --color-circle-chart-5: 179, 100, 91; /* #B3645B */
    --color-chart-good: 37, 193, 0; /* 25C100 */
    --color-chart-warning: 236, 192, 0; /* ECC000 */
    --color-chart-unplug: 215, 215, 215; /* D7D7D7 */
}
.white {
    --color-icon-default: 120, 120, 120; /* #787878 */
    --color-icon-active: 20, 20, 20; /*  #141414 */
    --color-icon-hover: 38, 38, 38; /*  #141414 */
    --color-icon-traffic-up: 19, 211, 202; /* #13D3CA */
    --color-icon-traffic-down: 72, 162, 255; /* #48A2FF */
    --color-bg-mainBody: 245, 245, 245; /* #F5F5F5 */
    --color-bg-lang-item: 245, 245, 245; /* #F5F5F5 */
    --color-bg-lang-item-focus: 0, 145, 255; /* #0091FF */
    --color-bg-nav: 245, 245, 245; /* #F5F5F5 */
    --color-bg-menu-active: 0, 145, 255; /* #0091FF */
    --color-bg-banner: 225, 225, 225; /* #E1E1E1 */
    --color-bg-time: 180, 207, 255; /* #B4CFFF */
    --color-bg-shade: 9, 38, 54; /* #092636 */
    --color-bg-card: 255, 255, 255; /* #F5F5F5 */
    --color-bg-card-shadow: 64, 64, 64; /* #000000 */
    --color-bg-btn-regular: 178, 223, 238; /*#B2DFEE */
    --color-bg-btn-confirm: 13, 110, 253; /* #0D6EFD */
    --color-bg-btn-switch-active: 0, 145, 255; /* #0091FF */
    --color-bg-loader: 100, 100, 100; /* #646464 */
    --color-bg-content: 225, 225, 225; /*#E1E1E1 */
    --color-bg-circle-chart: 205, 215, 218; /* #CDD7DA */
    --color-bg-divide-line: 18, 18, 18; /* #121212 */
    --color-gradient-body-1: 245, 245, 245; /* #F5F5F5 */
    --color-gradient-body-2: 245, 245, 245; /* #F5F5F5 */
    --color-gradient-body-3: 245, 245, 245; /* #F5F5F5 */
    --color-gradient-header-1: 245, 245, 245; /* #F5F5F5 */
    --color-gradient-header-2: 245, 245, 245; /* #F5F5F5 */
    --color-gradient-nav-1: 1, 98, 202; /* #0162CA */
    --color-gradient-nav-2: 38, 251, 255; /* #26FBFF */
    --color-gradient-card-1: 255, 255, 255; /* #FFFFFF */
    --color-gradient-card-2: 255, 255, 255; /* #FFFFFF */
    --color-header-shadow: 100, 100, 100; /* #646464 */
    --color-nav-shadow: 120, 120, 120; /* #787878 */
    --color-banner-shadow: 100, 100, 100; /* #646464 */
    --color-text-regular: 18, 18, 18; /* #121212 */
    --color-text-feature-title: 120, 120, 120; /* #787878 */
    --color-text-highlight: 20, 20, 20; /*  #141414 */
    --color-text-menu-title: 120, 120, 120; /* #787878 */
    --color-text-title: 18, 18, 18; /* #121212  */
    --color-text-value: 120, 120, 120; /* #787878 */
    --color-text-time-day: 0, 108, 225; /* #006CE1 */
    --color-text-copyright: 153, 153, 153; /* #999999 */
    --color-text-hint: 255, 0, 0; /* #8400FF */
    --color-text-page-title: 18, 18, 18; /* #121212  */
    --color-text-card-title: 0, 108, 225; /* #006CE1 */
    --color-text-loading: 100, 100, 100; /* #646464 */
    --color-text-loading-active: 0, 108, 225; /* #006CE1 */
    --color-text-underline: 248, 23, 38; /* #F81726 */
    --color-text-invert: 255, 255, 255; /* #FFFFFF */
    --color-text-success: 52, 199, 89; /* 34c759 */
    --color-border-time: 0, 108, 225; /* #006CE1 */
    --color-border-divide-line: 191, 191, 191; /* #BFBFBF */
    --color-loader-active-1: 0, 108, 225; /* #006CE1 */
    --color-loader-active-2: 38, 251, 255; /* #26FBFF */
    --color-chart-1: 19, 211, 202; /* #13D3CA */
    --color-chart-2: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-1: 22, 215, 118; /* #16D776 */
    --color-circle-chart-2: 255, 110, 28; /* #FF6E1C */
    --color-circle-chart-3: 72, 162, 255; /* #48A2FF */
    --color-circle-chart-4: 224, 185, 3; /* #E0B903 */
    --color-circle-chart-5: 179, 100, 91; /* #B3645B */
    --color-chart-good: 37, 193, 0; /* 25C100 */
    --color-chart-warning: 236, 192, 0; /* ECC000 */
    --color-chart-unplug: 215, 215, 215; /* D7D7D7 */
}