@charset "UTF-8";
.page-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--page-title-color);
    padding-left: 24px;
}
.card-header {
    font-size: 14px;
    /* font-weight: bolder; */
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: none;
    color: var(--text-brand-color);
}
.chart-client-value {
    color: var(--text-caption-color);
    font-size: 16px;
    font-weight: 400;
    height: 28px;
}

.card-body .card-body-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #f6f6f6;
    padding: 1rem;
    gap: 16px;
}

@media (min-width: 768px) {
    .page-title {
        padding-left: 13px;
    }
}