.eula_container{
    margin: auto;
    width: 50%;
}

.alert_ASUS_EULA{
	line-height: 160%;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, MS UI Gothic, MS P Gothic, sans-serif;
	height:auto;
	position:absolute;
	background: rgba(0,0,0,0.9);
	z-index:10;
	width: 50%;
	margin-top:150px;
	border-radius:10px;
	padding:25px;
	display: none;
}

.custom_ol{
	counter-reset:item;
	list-style: none;
	margin-left: -2em;
}

.custom_ol li:before{
 content:"(" counter(item) ")";
 counter-increment:item;
 margin-right:0.5em;
}

.custom_ol li{
 padding-left:1em;
 text-indent:-2em;
}

.custom_ol li li{
	counter-reset:item;
	list-style: none;
	text-indent: -1em;
	margin-left:-3em;
}

.custom_ol li li:before{
	content: "-";
}

#cancelBtn, #applyBtn{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
	background: #121C1E;
	background: -webkit-linear-gradient(#233438 0%, #0F1011 100%);
	background: -o-linear-gradient(#233438 0%, #0F1011 100%);
	background: linear-gradient(#233438 0%, #0F1011 100%);
	border-radius: 8px;
  border:0;
  color: #FFFFFF;
	height:33px;
	font-family:Verdana;
	font-size:12px;
  padding:0 .70em 0 .70em;
  	width: auto;
 	min-width: 122px;
  overflow:visible;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
	 word-break: break-all;
	 line-height: 33px;
	 text-align: center;
}
#tm_eula_content{
	overflow-y: auto;
	font-size: 14px;
	padding: 18px 42px;
	background-color: #293438;
	border-top: 1px solid #3b374B;
	border-bottom: 1px solid #3b374B;
}
.title-container{
	margin: 24px 20px 8px 40px;
	font-size: 36px;
}
.control-field{
	margin: 18px 0;
	display: flex;
	justify-content: space-around;
}
.eula-content-padding{
	margin-top: 18px;
}