.eula_container{
    margin: auto;
    width: 50%;
}

.alert_ASUS_EULA{
	line-height: 160%;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, MS UI Gothic, MS P Gothic, Microsoft Yahei UI, sans-serif;
	height:auto;
	position:absolute;
	background: rgba(0,0,0,0.9);
	z-index:10;
	width: 50%;
	margin-top:150px;
	border-radius:10px;
	padding:25px;
	display: none;
}

.custom_ol{
	counter-reset:item;
	list-style: none;
	margin-left: -2em;
}

.custom_ol li:before{
 content:"(" counter(item) ")";
 counter-increment:item;
 margin-right:0.5em;
}

.custom_ol li{
 padding-left:1em;
 text-indent:-2em;
}

.custom_ol li li{
	counter-reset:item;
	list-style: none;
	text-indent: -1em;
	margin-left:-3em;
}

.custom_ol li li:before{
	content: "-";
}

#cancelBtn, #applyBtn {
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
	border-radius: 8px;
	border: 0;
	color: #FFFFFF;
	height: 33px;
	font-family: Verdana;
	font-size: 12px;
	padding: 0 .70em 0 .70em;
	width: auto;
	min-width: 122px;
	overflow: visible;
	cursor: pointer;
	outline: none; /* for Firefox */
	hlbr: expression(this.onFocus=this.blur()); /* for IE */
	white-space: normal;
	word-break: break-all;
	line-height: 33px;
	text-align: center;
}
#tm_eula_content{
	overflow-y: auto;
	font-size: 14px;
	padding: 18px 42px;
	background-color: #293438;
	border-top: 1px solid #3b374B;
	border-bottom: 1px solid #3b374B;
}
.title-container{
	margin: 24px 20px 8px 40px;
	font-size: 36px;
}
.control-field{
	margin: 18px 0;
	display: flex;
	justify-content: space-around;
}
.eula-content-padding{
	margin-top: 18px;
}

#eulaButtonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#eulaButtonContainer .button_gen{
	margin: auto !important;
}

#eulaConfirmContainer{
	display: flex;
	flex-direction: column;
}

#eulaConfirmContainer > div:has(#ASUS_EULA_enable) {
	display: flex;
	align-items: center;
}

#asus_pp_header {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

#asus_pp_title {
	font-size: 35px;
	font-weight: bold;
}

#asus_pp_title_sub {
	font-size: 18px;
	font-weight: bold;
}

#asus_pp_desc {
	font-size: 10px;
	font-weight: bold;
}

#eula_pp_main, #eula_pp_popup_main {
	padding: 20px;
	display: flex;
	gap: 15px;
	flex-direction: column;
}

#applyBtn.disabled, #cancelBtn.disabled{
	background: #808080!important;
	border: 2px	solid #FFFFFF!important;
	cursor: not-allowed!important;
	color: #FFFFFF!important;
}

#eulaConfirmInfo {
	font-size: 8px!important;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	background-color: unset!important;
}