@font-face{
	font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff) format("woff"),
         url(../fonts/Roboto-Regular.ttf) format("opentype");
}
@font-face{
	font-family: Xolonium;
    src: url(../fonts/xolonium.regular.woff) format("woff"),
         url(../fonts/xolonium.regular.otf) format("opentype");
}
*{
    /*box-sizing: border-box;*/
}
.flexbox{
    display: flex;
}
.flex-j-center{
    justify-content: center;
}
.flex-j-spaceB{
    justify-content: space-between;
}
.flex-a-center{
    align-items: center;
}
.flex-as-start{
    align-self: flex-start;
}
.flex-d-column{
    flex-direction: column;
}
.flex-w-wrap{
    flex-wrap: wrap;
}
.flex-j-end{
    justify-content: flex-end;
}

.border-container{
    width: 769px; 
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #5C0C0B;
    border-top-left-radius: 18px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}
.border-corner{
    width: 26px; 
    height: 40px;
    position: absolute;
    background-image: url('../images/gameprofile/card-frame-corner.svg');
}
.border-corner-top-left{
    top: -1px;
    left: -3px;
}
.border-corner-bottom-left{
    bottom: -1px;
    left: -3px;
    transform: scaleY(-1);
}
.border-bar{
    width: 5px;
    height: 77%;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 3px;
    background-color: #5C0C0B;
}

/* Title */
.title-container{
    margin: 40px 20px 0 40px;
}
.title-symbol{
    width: 9px;
    transform: skew(24deg);
    background-color: #E64100;
}
.title-content{
    width: 100%;
    font-size: 24px;
    margin: 0 0 0 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #5C0C0B;
}
/* End Title */
/* Description */
.description-container{
    font-size: 14px;
    font-family: Xolonium;
    color:#DFDFDF;
    margin: 12px 20px 12px 68px;
}
/* End Description */
/* Control Feild */
.switch-button-container{
   margin: 0 12px 0 24px; 
}
.switch-button-container label{
    cursor: pointer;
}
.switch-button-bg{
    width: 38px;
    height: 15px;
    border-radius: 15px;
    background-color: #717171;
}
.switch-button-circle{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: -15px 0 0 0;
    transition-duration: .1s;
}
.switch-button{
    display:none; 
}
.switch-button:checked ~.switch-button-bg{
    background-color: #E64100;
}
.switch-button:checked ~.switch-button-circle{
    margin:-15px 0 0 23px;
}
/* End Control Feild */
/* Button*/
.button-container:hover, .button-container:active,
.icon-button-container:hover, .icon-button-container:active{
    border: 2px solid #E64100;
    background-color: #000000;
}
.button-container{
    display: table;
    border: 2px solid #842500;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #141618;
    cursor: pointer;
}
.button-container-left{
    margin: 18px 20px 18px 68px;
}
.button-container-center{
    margin: 18px auto;
}
.button-text{
    display: table-cell;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 14px;
    padding-left: 12px;
}
.button-icon{
    width: 18px;
    height: 18px;
    display:table-cell;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-plus{
    background-image: url('../images/gameprofile/plus.svg');
}
/* End Button */
.divide-line{
    height:1px;
    margin: 18px 24px 18px 36px;
    background-color: #5C0C0B;
}
/* checkbox */
input[type="checkbox"]{
    /*display: none;*/
}
.checkbox-container{
    display: flex;
    align-items: center;
    margin: 4px 8px;
}
.checkbox-container  input{
    display: none;
}
input[type="checkbox"] + label{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    background: #0C0C0D;
    border: 1px solid #70000E;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding:2px;
}
input[type="checkbox"] + label:hover{
    border: 1px solid #AB0015;
}
input[type="checkbox"]:checked + label{
    background: #AB0015;
}
input[type="checkbox"] + label > div{
    background: url('../images/gameprofile/check.svg') no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: contain;
    transition: ease-in-out 0.1s;
    transform: scale(0, 0);
    content: '';
}
input[type="checkbox"]:checked + label > div{
    transform: scale(1, 1);
}
.checkbox-desc{
    font-size: 12px;
    font-family: Xolonium;
    color: #848c98;
    margin-left: 8px;
}
/* End checkbox */
/* select option*/
.select-container{
    position: relative;
    overflow: hidden;
}
.select-container > select{
    width: 245px;
    height: 36px;
    border: 1px solid #70000E;
    border-radius: 4px;
    background-color:#0C0C0D;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color:#FFF;
    font-size: 14px;
    font-family: Xolonium;
    padding: 8px 36px 8px 8px;
    outline: none;
    cursor: pointer;
}
.select-container > select:focus{
    border: 1px solid #AB0015;
}
.select-arrow{
    width: 24px;
    height: 36px;
    border-left: 1px solid #70000E;
    position: absolute;
    top: 0;
    right: 4px;
    /*pointer-events: none;*/
}
.select-arrow > div{
    width: 12px;
    height: 12px;
    background-image: url('../images/gameprofile/arrow-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 12px 0 0 7px;
    transform: rotate(-90deg);
}
/* End select option*/

/* input*/
.input-container{
    width: 245px;
    height: 36px;
    color: #FFF;
    padding: 8px;
    border: 1px solid #70000E;
    border-radius: 4px;
    background-color: #0C0C0D;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Roboto;
    outline: none;
}
.input-container:focus{
    border: 1px solid #AB0015;
}
/* End input */
.icon-button-container{
    width: 36px;
    height: 36px;
    border: 2px solid #842500;
    background-color:#262626;
    margin: 12px 0;
    border-radius: 8px;
    cursor: pointer;
}
.icon-button{
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 9px 0 0 9px;
}
.icon-cancel{
    background-image: url('../images/gameprofile/cancel.svg');
}
.button-icon-check{
    background-image: url('../images/gameprofile/ok.svg');
}
.icon-go{
    background-image: url('../images/triLvGameAcceleration/go.svg');
}
.icon-pause{
    background-image: url('../images/gameprofile/pause.svg');
}
.icon-edit{
    background-image: url('../images/gameprofile/edit.svg');
}
.icon-delete{
    background-image: url('../images/gameprofile/trashcan.svg');
}
.hint{
    font-size: 12px;
    font-family: Roboto;
    color:#f5a623;
    margin-left: 8px;
}




