#gundam_page{
    background-color: #000 !important;
}
/*
.gundam-bg{
    background-image: url('../images/gundam_body_bg.png');
    background-repeat: no-repeat;
}
*/
.gundam-footer-field{
    width: 100%;
    height: 144px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.GD-bg{
    background-image: url('../images/gundam_bg.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 600px;					
}
.GD-logo{
    background-image: url('../images/gundam-logo.png');
    width: 195px;
    height: 120px;
    top: -35px;
    right: 10%;
    position: absolute;
}
.GD-head{
    animation-name: GD-header-rotation;
    animation-duration: 2s;
    animation-iteration-count: 3;
    position: absolute;
    background-image: url('../images/gundam-head.png');
    width: 120px;
    height: 120px;
    z-index: 9;
    top: -125px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.GD-wait{
    position: absolute;
    background-image: url('../images/gundam-waiting.png');
    width: 240px;
    height: 102px;
    top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.GD-wait > div{
    color:#FFF;
    margin: 40px 0 0 60px;
}
.GD-footer-left{
    background-image: url('../images/gundam_bg_bottom03.png');
    background-repeat: no-repeat;
    height: 144px;
    width: 174px;
}
.GD-footer-center{
    background-image: url('../images/gundam_bg_bottom02.png');
    background-repeat: no-repeat;
    height: 144px;
    width: 660px;
}
.GD-footer-right{
    background-image: url('../images/gundam_bg_bottom04.png');
    background-repeat: no-repeat;
    height: 144px;
    width: 174px;
}
.GD-footer-extend{
    background-image: url('../images/gundam_bg_bottom01.png');
    height: 144px;
    flex-grow: 1;
}
.GD-law-label{
    background-image: url('../images/gundam_lawlabel.png');
    width: 150px;
    height: 24px;
    right: 7%;
    top: 5%;
    position: absolute;
}

@keyframes GD-header-rotation{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
    
}
.GD-content{
    transform: scale(1);
}

@media screen and (max-width: 1000px){
    .gundam-footer-field{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .gundam-bg{
        background-image: url('../images/gundam_body_bg.png');
        background-repeat: no-repeat;
    }
}