// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 Philippe Reynes <philippe.reynes@softathome.com>
 */

/dts-v1/;

#include "bcm6858.dtsi"

/ {
	model = "Broadcom bcm68580xref";
	compatible = "broadcom,bcm68580xref", "brcm,bcm6858";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x20000000>;
	};
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&nand {
	status = "okay";
	write-protect = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		brcm,nand-oob-sector-size = <16>;
	};
};

&leds {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	brcm,serial-led-en-pol;
	brcm,serial-led-data-ppol;

	led@2 {
		reg = <2>;
		label = "green:inet";
	};

	led@5 {
		reg = <5>;
		label = "red:alarm";
	};

	led@8 {
		reg = <8>;
		label = "green:wlan_link";
	};

	led@11 {
		reg = <11>;
		label = "green:fxs1";
	};

	led@14 {
		reg = <14>;
		label = "green:fxs2";
	};

	led@15 {
		reg = <15>;
		label = "green:usb0";
	};

	led@16 {
		reg = <16>;
		label = "green:usb1";
	};

	led@17 {
		reg = <17>;
		label = "green:wps";
	};
};

&hsspi {
	status = "okay";

	flash: mt25@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};
