// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 Broadcom Ltd.
 */


/dts-v1/;

#include "bcm6756.dtsi"

/ {
	model = "Broadcom bcm96756";
	compatible = "broadcom,bcm96756", "brcm,bcm96756";

	aliases {
		serial0 = &uart0;
		spi1 = &hsspi;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x08000000>;
	};
};

&uart0 {
	status = "okay";
};

&nand {
	status = "okay";
	write-protect = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
	};
};

&hsspi {
	status = "okay";
	spi-nand {
		compatible = "spi-nand";
		reg = <0>;
		pinctrl-0 = <&spim_ss0_b_pin_75>;
		pinctrl-names = "default";	
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-pre-reloc;
		spi-max-frequency = <50000000>;
	};
	spi-nor@0 {
		pinctrl-0 = <&spim_ss0_b_pin_75>;
		pinctrl-names = "default";
		compatible = "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <50000000>;
		u-boot,dm-pre-reloc;
	};
};

&usb0 {
	status = "okay";
	pinctrl-0 = <&usb0_pwr_pins>;
	pinctrl-names="default";
};

&usb1 {
	status = "okay";
	pinctrl-0 = <&usb1_pwr_pins>;
	pinctrl-names="default";
};