// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2019 Broadcom Ltd.
 */


/dts-v1/;

#include "bcm6846.dtsi"

/ {
	model = "Broadcom bcm96846";
	compatible = "broadcom,bcm96846", "brcm,bcm96846";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

    memory {
        device_type = "memory";
        reg = <0x0 0x08000000>;
    };
};

&uart0 {
    u-boot,dm-pre-reloc;
    status = "okay";
};

&nand {
    status = "okay";
    write-protect = <0>;
    #address-cells = <1>;
    #size-cells = <0>;

    nandcs@0 {
        compatible = "brcm,nandcs";
        reg = <0>;
    };
};

&hsspi {
	status = "okay";
	spi-nand {
		compatible = "spi-nand";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-pre-reloc;				
		spi-max-frequency = <67000000>;
	};
};

&usb0 {
	status = "okay";
	pinctrl-0 = <&usb0a_pwrflt_pins &usb0a_pwron_pins>;
	pinctrl-names="default";
};

&usb1 {
	status = "okay";
	pinctrl-0 = <&usb1a_pwrflt_pins &usb1a_pwron_pins>;
	pinctrl-names="default";
};
