if ARCH_KEYSTONE

choice
	prompt "TI Keystone board select"
	optional

config TARGET_K2HK_EVM
	bool "TI Keystone 2 Kepler/Hawking EVM"
	select SPL_BOARD_INIT if SPL
	select CMD_DDR3
	imply DM_I2C
	imply SOC_TI
	imply TI_KEYSTONE_SERDES

config TARGET_K2E_EVM
	bool "TI Keystone 2 Edison EVM"
	select SPL_BOARD_INIT if SPL
	select CMD_DDR3
	imply DM_I2C
	imply SOC_TI
	imply TI_KEYSTONE_SERDES

config TARGET_K2L_EVM
	bool "TI Keystone 2 Lamar EVM"
	select SPL_BOARD_INIT if SPL
	select CMD_DDR3
	imply DM_I2C
	imply SOC_TI
	imply TI_KEYSTONE_SERDES

config TARGET_K2G_EVM
	bool "TI Keystone 2 Galileo EVM"
        select BOARD_LATE_INIT
	select SPL_BOARD_INIT if SPL
        select TI_I2C_BOARD_DETECT
	select CMD_DDR3
	imply DM_I2C
	imply SOC_TI
	imply TI_KEYSTONE_SERDES

endchoice

config SYS_SOC
	default "keystone"

source "board/ti/ks2_evm/Kconfig"

endif
