V	EE_EXPIRATION		01	unknown	/C=CH/O=strongSwan Project/OU=Sales/CN=dave@strongswan.org
V	EE_EXPIRATION		02	unknown	/C=CH/O=strongSwan Project/OU=Sales OCSP Signing Authority/CN=ocsp.sales.strongswan.org
V	EE_EXPIRATION		03	unknown	/C=CH/O=strongSwan Project/OU=Research/CN=Research CA
