<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/validator.js"></script>
<style>
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}
.stb_msg{
	font-size:12px;
	font-weight:bolder;
	color:#FFCC00;
}
#DE_ISP_note{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-left:75px;	
	margin-top:-10px;
}
.isp_note_title{
	color:#FFCC00;
}
.isp_note{	
	margin-top:5px;
	line-height:100%;
}
.account_format{
	margin-top:5px;
	margin-left:30px;
}
.num2{
	color:#569AC7;
	font-weight: bold;
}
.num1{
	color:#CCFF00;
	font-weight: bold;
}
</style>
<script type="text/JavaScript" src="jstz.min.js"></script>
<script>

var ISP_List;
var ISP_List_IPTV;
var RAW_ISP_List = [<% get_isp_list("/www/ISP_List.txt"); %>];
var RAW_ISP_List_IPTV = [<% get_isp_list("/www/ISP_List_IPTV.txt"); %>];
var RAW_ISP_PTM_List = [<% get_isp_list("/www/ISP_PTM_List.txt"); %>];
var RAW_ISP_PTM_List_IPTV = [<% get_isp_list("/www/ISP_PTM_List_IPTV.txt"); %>];

var w_Setting = "<% nvram_get("w_Setting"); %>";
var detect_status = "<% nvram_get("dsltmp_autodet_state"); %>";
var prctl_str = "default";
var prctl_val = "";
var gvt_note = "";
var vpi_val = "<% nvram_get("dsltmp_autodet_vpi"); %>";
var vci_val = "<% nvram_get("dsltmp_autodet_vci"); %>";
var encap_val = "<% nvram_get("dsltmp_autodet_encap"); %>";
var vlanid_val = "";	//tmp
var wan_type = "<%nvram_get("dsltmp_autodet_wan_type");%>";

if(detect_status == "pppoe") {
	prctl_str = "PPPoE";
	prctl_val = "0";
}
else {
	prctl_str = "PPPoA";
	prctl_val = "1";
}

var encap_str = "LLC";
if (encap_val == "1") encap_str = "VC-Mux";

function QKfinish_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_all_title#>";
	parent.set_step("t2");

	if(detect_status == "pppoe")
		document.form.dsltmp_qis_proto.value = "pppoe";
	else
		document.form.dsltmp_qis_proto.value = "pppoa";

	//Brazil timezone GMT-03:00
	//India timezone GMT+05:30
	var timezone = jstz.determine_timezone();
	var timez = timezone.offset();

	if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoe" && timez == "-03:00")
	{	//Brazil - GVT
		gvt_note = "<br><br>" + "(<#isp_br_gvt_note#>)"
		document.getElementById('hint_msg').innerHTML = gvt_note;
	}
	else if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoe" && timez == "+05:30")
	{	//India - BSNL (PPPOE). This will also change Dada Infosys and HCL Infinet Ltd's MTU to 1442, but it's ok.
		document.form.dsltmp_qis_pppoe_mtu.value = "1442";
	}
	else if (vpi_val == "0" && vci_val == "35" && encap_val == "0" && detect_status == "pppoa" && timez == "+05:30")
	{	//India - BSNL (PPPOA)
		document.form.dsltmp_qis_pppoe_mtu.value = "1442";
	}
	else if (vpi_val == "0" && vci_val == "32" && encap_val == "0" && detect_status == "pppoe" && timez == "+05:30")
	{	//India - MTNL (PPPOE)
		document.form.dsltmp_qis_pppoe_mtu.value = "1442";
	}
	else if (vpi_val == "0" && vci_val == "32" && encap_val == "0" && detect_status == "pppoa" && timez == "+05:30")
	{	//India - MTNL (PPPOA)
		document.form.dsltmp_qis_pppoe_mtu.value = "1442";
	}

	if(wan_type == "ATM")
	{
		document.form.dsltmp_transmode.value = "atm";
		document.form.prev_page.value = "/qis/QIS_manual_setting.htm";
		ISP_List = RAW_ISP_List;
		ISP_List_IPTV = RAW_ISP_List_IPTV;
	}
	else //PTM
	{
		document.form.dsltmp_transmode.value = "ptm";
		document.form.prev_page.value = "/qis/QIS_PTM_manual_setting.htm";
		ISP_List = RAW_ISP_PTM_List;
		ISP_List_IPTV = RAW_ISP_PTM_List_IPTV;
	}

	showHideIPTVList(false);
	if(haveIPTVService()) {
		showhide("iptv_manual_setting", 1);		
	}
	else {
		showhide("iptv_manual_setting", 0);
	}
	showhide("STBPortMsg", 0);
	
	DE_ISP_note_detect();
}

function DE_ISP_note_detect(){
	if(wan_type == "ATM" && vpi_val == "1" && vci_val == "32" && prctl_str == "PPPoE" && encap_str == "LLC"){
		//ATM, VPI: 1/ VCI: 32/ Protocol: PPPoE/ Encap: LLC 
		document.getElementById("DE_ISP_note").style.display="";
		document.getElementById("DE_ISP_title1").style.display="";
		document.getElementById("Deutsche_Telekom").style.display="";
		document.getElementById("Deutsche_1n1_ATM").style.display="";
		document.getElementById("DE_ISP_title2").style.display="none";
		document.getElementById("Deutsche_NetCologne").style.display="none";
			
	}
	else if(wan_type == "ATM" && vpi_val == "8" && vci_val == "35" && prctl_str == "PPPoE" && encap_str == "LLC"){
		//ATM, VPI: 8/ VCI: 35/ Protocol: PPPoE/ Encap: LLC	
		document.getElementById("DE_ISP_note").style.display="";
		document.getElementById("DE_ISP_title1").style.display="none";
		document.getElementById("Deutsche_Telekom").style.display="none";
		document.getElementById("Deutsche_1n1_ATM").style.display="none";
		document.getElementById("DE_ISP_title2").style.display="";
		document.getElementById("Deutsche_NetCologne").style.display="";
	}
	else
		document.getElementById("DE_ISP_note").style.display="none";
}

function validForm(){
		if(document.form.dsltmp_qis_pppoe_username.value.length <= 0){
			alert("<#WANJS9Text#>.");
			document.form.dsltmp_qis_pppoe_username.focus();
			return false;
		}
		if(document.form.dsltmp_qis_pppoe_passwd.value.length <= 0){
			alert("<#WANJS9Text#>.");
			document.form.dsltmp_qis_pppoe_passwd.focus();
			return false;
		}
		if(!validator.string(document.form.dsltmp_qis_pppoe_username)
		|| !validator.string(document.form.dsltmp_qis_pppoe_passwd)
		) {
			alert("return false: "+document.form.dsltmp_qis_pppoe_username.value+"/"+document.form.dsltmp_qis_pppoe_passwd.value);
			return false;
		}
		if(document.form.dsltmp_qis_pppoe_passwd.value != document.form.confirm_cfg_pppoe_passwd.value){
			alert("<#File_Pop_content_alert_desc7#>");
			document.form.dsltmp_qis_pppoe_passwd.focus();
			return false;
		}
	return true;
}

function submitForm(){
	if(validForm()){
			document.form.next_page.value = "/qis/QIS_wireless.htm";
			if(document.form.dsltmp_cfg_iptv_enable.value == "1"){
				if(valid_ISP())
					setIptvNumPvc();
				else{
					document.form.ISP.focus();
					return false;	
				}
			}
			document.form.submit();
	}
}

function haveIPTVService() {
	//compare detection result with isp list
	for(var i = 0; i < ISP_List.length; i++){
		if(wan_type == "ATM") {
			if(vpi_val == ISP_List[i][6]	//vpi
				&& vci_val == ISP_List[i][7]	//vci
				&& prctl_val == ISP_List[i][8]	//proto
				&& encap_val == ISP_List[i][9]	//encap
				&& (ISP_List[i][12] != "" || ISP_List[i][13] != "")	//mr, iptv idx
			) {
				return true;
			}
		}
		else {	//PTM
			if(prctl_val == ISP_List[i][8]	//proto
				&& vlanid_val == ISP_List[i][10]	//vlan id
				&& (ISP_List[i][12] != "" || ISP_List[i][13] != "")	//mr, iptv idx
			) {
				return true;
			}
		}
	}

	return false;
}

function showHideIPTVList(iptv_enable) {
	if(iptv_enable.checked) {
		document.form.dsltmp_cfg_iptv_enable.value = "1";
		document.getElementById("ISP_table").style.display = "";
		showCountryList();
		showISPList("");
	}
	else {
		document.form.dsltmp_cfg_iptv_enable.value = "0";
		document.getElementById("ISP_table").style.display = "none";
		showhide("STBPortMsg", 0);
	}
}

function showCountryList(){
	var code = "";
	var showed_country = "";

	code +="<select name='country' onchange='showISPList(this.value);' class='input_option'>";
	code +="<option value='default'><#Select_menu_default#></option>";
	for(var i = 0; i < ISP_List.length; i++){
		if(ISP_List[i][5] == "")
			continue;

		if(prctl_val == ISP_List[i][8])  {	//proto
			if(wan_type == "ATM") {
				if(vpi_val == ISP_List[i][6]	//vpi
					&& vci_val == ISP_List[i][7]	//vci
					&& encap_val == ISP_List[i][9]	//encap
				) {
					if(showed_country != ISP_List[i][1]){
						code +="<option value='"+ISP_List[i][1];
						code +="'>"+ISP_List[i][2]+"</option>";
						showed_country = ISP_List[i][1];
					}
				}
			}
			else {	//PTM
				if(vlanid_val == ISP_List[i][10]) {	//vlan id
					if(showed_country != ISP_List[i][1]){
						code +="<option value='"+ISP_List[i][1];
						code +="'>"+ISP_List[i][2]+"</option>";
						showed_country = ISP_List[i][1];
					}
				}
			}
		}
	}
	code +="</select>";
	document.getElementById("CountryList").innerHTML = code;
}

function showISPList(country){
	var code = "";
	var showed_isp = "";
	var first_element = 0;
	var sel_idx = 0;

	code +="<select id='ISP' name='ISP' onChange='ChgSVC(this.value);' class='input_option'>";
	code +="<option value='default'><#Select_menu_default#></option>";
	for(var i = 0; i < ISP_List.length; i++){
		if(country == ISP_List[i][1]){
			if(ISP_List[i][5] == "")
				continue;
			if(ISP_List[i][12] == "" && ISP_List[i][13] == "")	//no iptv service
				continue;			

			if(prctl_val == ISP_List[i][8])  {	//proto
				if(wan_type == "ATM") {
					if(vpi_val == ISP_List[i][6]	//vpi
						&& vci_val == ISP_List[i][7]	//vci
						&& encap_val == ISP_List[i][9]	//encap
					) {
						if (first_element==0) {
							first_element=1;
							sel_idx = i;
							code +="<option value='"+ISP_List[i][0]+"' selected='selected'>"+ISP_List[i][4]+", "+ISP_List[i][5]+"</option>";
						}
						else {
							code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][4]+", "+ISP_List[i][5]+"</option>";
						}
					}
				}
				else {	//PTM
					if(vlanid_val == ISP_List[i][10]) {	//vlan id
						if (first_element==0) {
							first_element=1;
							code +="<option value='"+ISP_List[i][0]+"' selected='selected'>"+ISP_List[i][4]+", "+ISP_List[i][5]+"</option>";
						}
						else {
							code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][4]+", "+ISP_List[i][5]+"</option>";
						}
					}
				}
			}
			
		}
	}

	code +="</select>";
	document.getElementById("ISPnServiceList").innerHTML = code;
	ChgSVC(sel_idx);
}

function ChgSVC(idx) {
	if(ISP_List[idx][13] != "") {	//iptv idx
		if(wan_type == "ATM" && ISP_List[idx][5] == "ADSL+MOD")
			document.getElementById("STBPortMsg").innerHTML = "Please connect the MOD(STB) to LAN Port 1";
		else if(wan_type == "PTM" && ISP_List[idx][5] == "VDSL+MOD")
			document.getElementById("STBPortMsg").innerHTML = "Please connect the MOD(STB) to LAN Port 1";
		
		showhide("STBPortMsg", 1);
	}
	else {
		showhide("STBPortMsg", 0);
	}
}

function valid_ISP(){
	if(document.getElementById("ISP").value == "default")
		return false;
	else
		return true;
}

function setIptvNumPvc() {
	var pvc_cnt = 0;
	var isp_idx = document.getElementById("ISP").value
	var iptv_idx = ISP_List[isp_idx][13];
	var dsltmp_cfg_iptv_pvclist_value = "";

	if (iptv_idx != "") {
		for(var i = 0; i < ISP_List_IPTV.length; i++){
			if (ISP_List_IPTV[i][0] == iptv_idx) {
				pvc_cnt++;
				dsltmp_cfg_iptv_pvclist_value +=
					"<" + ISP_List_IPTV[i][1]
					+ ">" + ISP_List_IPTV[i][2]
					+ ">" + ISP_List_IPTV[i][3]
					+ ">" + ISP_List_IPTV[i][4]
					+ ">" + ISP_List_IPTV[i][5]
			}
		}
	}
	document.form.dsltmp_cfg_iptv_num_pvc.value = pvc_cnt.toString();
	document.form.dsltmp_cfg_iptv_rmvlan.value = ISP_List[isp_idx][11];
	document.form.dsltmp_cfg_iptv_mr.value = ISP_List[isp_idx][12];
	document.form.dsltmp_cfg_iptv_pvclist.value = dsltmp_cfg_iptv_pvclist_value;
}

function gotoHome() {
	if (w_Setting == "0") {
		alert("<#QIS_recommand_encryption#>");
		location.href = '/qis/QIS_wireless.htm';
	}
	else {
		parent.location.href = "<% abs_index_page(); %>";
	}
}
</script>

</head>

<body onLoad="QKfinish_load_body();" >
<form method="post" name="form" action="/start_apply.htm" target="">
<input type="hidden" name="prev_page" value="/qis/QIS_manual_setting.htm">
<input type="hidden" name="current_page" value="/qis/QIS_ppp_cfg.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
<input type="hidden" name="dsltmp_cfg_iptv_rmvlan" value="">
<input type="hidden" name="dsltmp_cfg_iptv_mr" value="">
<input type="hidden" name="dsltmp_cfg_iptv_num_pvc" value="">
<input type="hidden" name="dsltmp_cfg_iptv_pvclist" value="">
<input type="hidden" name="dsltmp_cfg_iptv_enable" value="0">
<input type="hidden" name="dsltmp_qis_vpi" value="<% nvram_get("dsltmp_autodet_vpi"); %>">
<input type="hidden" name="dsltmp_qis_vci" value="<% nvram_get("dsltmp_autodet_vci"); %>">
<input type="hidden" name="dsltmp_qis_proto" value="">
<input type="hidden" name="dsltmp_qis_encap" value="<% nvram_get("dsltmp_autodet_encap"); %>">
<input type="hidden" name="dsltmp_qis_pppoe_dial_on_demand" value="0">
<input type="hidden" name="dsltmp_qis_pppoe_idletime" value="0">
<input type="hidden" name="dsltmp_qis_pppoe_mtu" value="1492">
<input type="hidden" name="dsltmp_qis_pppoe_mru" value="1492">
<input type="hidden" name="dsltmp_qis_pppoe_service" value="">
<input type="hidden" name="dsltmp_qis_pppoe_options" value="">
<input type="hidden" name="dsltmp_qis_DHCPClient" value="1">
<input type="hidden" name="dsltmp_qis_ipaddr" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_netmask" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_gateway" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_dnsenable" value="1">
<input type="hidden" name="dsltmp_qis_dns1" value="">
<input type="hidden" name="dsltmp_qis_dns2" value="">
<input type="hidden" name="dsltmp_qis_svc_cat" value="0">
<input type="hidden" name="dsltmp_qis_pcr" value="0">
<input type="hidden" name="dsltmp_qis_scr" value="0">
<input type="hidden" name="dsltmp_qis_mbs" value="0">
<input type="hidden" name="dsltmp_qis_dsl_pvc_set" value="1">
<input type="hidden" name="dsltmp_qis_pppoe_relay" value="0">
<input type="hidden" name="dsltmp_transmode" value="">
<div class="QISmain">
	<table width="730px">
		<tr>
			<td align="left">
				<span class="description_down">PPPoE / PPPoA</span>
			</td>
		</tr>
	</table>
	<div style="margin-left:5px;margin-top:10px;margin-bottom:10px"><img style="width: 700px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	<br/>

<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
  	<td>	
     <#Layer3Forwarding_x_ConnectionType_itemname#>: <span class="cfg_val"><script>document.write(prctl_str);</script></span>, VPI/VCI: <span class="cfg_val"><% nvram_get("dsltmp_autodet_vpi"); %>/<% nvram_get("dsltmp_autodet_vci"); %>, <script>document.write(encap_str);</script></span><br>
     <br>	
     <#PPP_cfg_usersel_desc#>
     <div id="hint_msg"></div>
     <br>
    </td> 
  </tr>
</table>
  
<table id="tblsetting_2" class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
	<th width="120"><#HSDPAConfig_Username_itemname#></th>
	<td>
	  <input type="text" name="dsltmp_qis_pppoe_username" class="input_32_table" value="" maxlength="64" tabindex="1" autocorrect="off" autocapitalize="off">
	</td>
  </tr>
  <tr>
	<th width="120"><#PPPConnection_Password_itemname#></th>
	<td>
	  <input type="password" name="dsltmp_qis_pppoe_passwd" class="input_32_table" value="" maxlength="32" tabindex="2" autocorrect="off" autocapitalize="off">
	</td>
  </tr>
  <tr>
		<th width="120"><#PASS_retype#></th>
		<td>
			<input type="password" name="confirm_cfg_pppoe_passwd" class="input_32_table" value="" maxlength="32" tabindex="3" autocorrect="off" autocapitalize="off" autocapitalize="off" autocomplete="off">
		</td>
	</tr>
</table>
<br>
<div id="DE_ISP_note" style="display:none;">
		<div id="DE_ISP_title1" style="display:none;"><span class="isp_note_title">Notice (specifically for Germany ISP Telekom / 1&1):</span><br> Bitte geben Sie diese Zugangsdaten in folgendem Format ein.</div>
		<div class="isp_note" id="Deutsche_Telekom" style="display:none;">
			Für Telekom ADSL und VDSL Anschlüsse<br>
			Bei einer 12-stelligen Zugangsnummer (Neue Zugangsdaten):<br>
			<div class="account_format">Anschlusskennung<span class="num1">Zugangsnummer</span><span class="num2">Mitbenutzernummer</span>@t-online.de</div><br>
			Bei einer Zugangsnummer mit weniger als 12 Stellen (Alte Zugangsdaten):<br>
			<div class="account_format">Anschlusskennung<span class="num1">Zugangsnummer</span>#<span class="num2">Mitbenutzernummer</span>@t-online.de</div><br>
		</div>			
		<div class="isp_note" id="Deutsche_1n1_ATM" style="display:none;">
			Bei einem 1&1 ADSL Anschluss:<br>
			<div class="account_format">1und1/<span class="num1">benutzername</span>@online.de (1&1 Internetzugangs-Kennung)</div>
		</div>
		<div id="DE_ISP_title2" style="display:none;"><span class="isp_note_title">Notice (specifically for Germany ISP NetCologne):</span><br> Bitte geben Sie diese Zugangsdaten in folgendem Format ein.</div>
		<div class="isp_note" id="Deutsche_NetCologne" style="display:none;">
			<div class="account_format">nc-<span class="num1">username</span>@netcologne.de</div>
		</div>
	</div>
<br>	

	<div>
	<table id="iptv_manual_setting" width="92%" border="0" align="left" cellpadding="3" cellspacing="0" style="margin-left:8%;">
			<tr>
				<td>
					<input type="checkbox" id="specialisp" name="specialisp" onclick="showHideIPTVList(this);">
					<label for="specialisp">
						<span class="QISGeneralFont" style="margin-left:0px;font-style:normal;color:#66CCFF;font-size:12px;font-weight:bolder;"><#PPPConnection_x_HostNameForISP_sectionname#> ( IPTV Service )</span>
					</label>
					<span class="stb_msg" id="STBPortMsg"> Please connect the IPTV STB to LAN Port 1</span>	<!-- untranslated -->
				</td>
			</tr>
	</table>
	</div>	

	<div style="margin-left:-80px;">
	<table id="ISP_table" class="FormTable" width="475px" border="0" align="center" cellpadding="3" cellspacing="0">
		<tbody>
			<tr>
				<th width="40%"><#Manual_Setting_contry#></th>
				<td>
					<div id="CountryList"></div>
				</td>
			</tr>			
			<tr>
				<th width="40%"><#HSDPAConfig_ISP_itemname#> & <#qis_service#></th>
				<td>
					<div id="ISPnServiceList"></div>
				</td>
			</tr>			
		</tbody>
	</table>
	</div>

	<div class="apply_gen" style="margin-top:20px">
		<input type="button" id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="button_gen_long" tabindex="5">
<!--
		<input type="button" id="nextButton" value="Ethernet WAN" onclick="redirect_page('internet_type');" class="button_gen" >
-->
		<input type="button" id="nextButton" value="<#CTL_next#>" onclick="submitForm();" class="button_gen_long" tabindex="4">
	</div>

</div>
</form>
</body>
</html>
