// Hardware Serial LED options

HW_SERIAL_PORT_LED_BIT(port_0-led_0-bit_0 , 0, 0,  0);
HW_SERIAL_PORT_LED_BIT(port_0-led_1-bit_1 , 0, 1,  1);
HW_SERIAL_PORT_LED_BIT(port_0-led_2-bit_2 , 0, 2,  2);
HW_SERIAL_PORT_LED_BIT(port_1-led_0-bit_3 , 1, 0,  3);
HW_SERIAL_PORT_LED_BIT(port_1-led_1-bit_4 , 1, 1,  4); 
HW_SERIAL_PORT_LED_BIT(port_1-led_2-bit_5 , 1, 2,  5); 
HW_SERIAL_PORT_LED_BIT(port_2-led_0-bit_6 , 2, 0,  6);
HW_SERIAL_PORT_LED_BIT(port_2-led_1-bit_7 , 2, 1,  7); 
HW_SERIAL_PORT_LED_BIT(port_2-led_2-bit_8 , 2, 2,  8);
HW_SERIAL_PORT_LED_BIT(port_3-led_0-bit_9 , 3, 0,  9);
HW_SERIAL_PORT_LED_BIT(port_3-led_1-bit_10, 3, 1, 10); 
HW_SERIAL_PORT_LED_BIT(port_3-led_2-bit_11, 3, 2, 11);
HW_SERIAL_PORT_LED_BIT(port_4-led_0-bit_12, 4, 0, 12);
HW_SERIAL_PORT_LED_BIT(port_4-led_1-bit_13, 4, 1, 13); 
HW_SERIAL_PORT_LED_BIT(port_4-led_2-bit_14, 4, 2, 14);
HW_SERIAL_PORT_LED_BIT(port_5-led_0-bit_15, 5, 0, 15);
HW_SERIAL_PORT_LED_BIT(port_5-led_1-bit_16, 5, 1, 16); 
HW_SERIAL_PORT_LED_BIT(port_5-led_2-bit_17, 5, 2, 17);
HW_SERIAL_PORT_LED_BIT(port_6-led_0-bit_18, 6, 0, 18);
HW_SERIAL_PORT_LED_BIT(port_6-led_1-bit_19, 6, 1, 19); 
HW_SERIAL_PORT_LED_BIT(port_6-led_2-bit_20, 6, 2, 20);
HW_SERIAL_PORT_LED_BIT(port_7-led_0-bit_21, 7, 0, 21);
HW_SERIAL_PORT_LED_BIT(port_7-led_1-bit_22, 7, 1, 22);
HW_SERIAL_PORT_LED_BIT(port_7-led_2-bit_23, 7, 2, 23);
HW_SERIAL_AGGREGATE_BIT(aggregate_link-bit_28, 28);
HW_SERIAL_AGGREGATE_BIT(aggregate_activity-bit_29, 29);

SW_SERIAL_BIT(sw_led-bit_0 ,  0);
SW_SERIAL_BIT(sw_led-bit_1 ,  1);
SW_SERIAL_BIT(sw_led-bit_2 ,  2);
SW_SERIAL_BIT(sw_led-bit_3 ,  3);
SW_SERIAL_BIT(sw_led-bit_4 ,  4);
SW_SERIAL_BIT(sw_led-bit_5 ,  5);
SW_SERIAL_BIT(sw_led-bit_6 ,  6);
SW_SERIAL_BIT(sw_led-bit_7 ,  7);
SW_SERIAL_BIT(sw_led-bit_8 ,  8);
SW_SERIAL_BIT(sw_led-bit_9 ,  9);
SW_SERIAL_BIT(sw_led-bit_10, 10);
SW_SERIAL_BIT(sw_led-bit_11, 11);
SW_SERIAL_BIT(sw_led-bit_12, 12);
SW_SERIAL_BIT(sw_led-bit_13, 13);
SW_SERIAL_BIT(sw_led-bit_14, 14);
SW_SERIAL_BIT(sw_led-bit_15, 15);
SW_SERIAL_BIT(sw_led-bit_16, 16);
SW_SERIAL_BIT(sw_led-bit_17, 17);
SW_SERIAL_BIT(sw_led-bit_18, 18);
SW_SERIAL_BIT(sw_led-bit_19, 19);
SW_SERIAL_BIT(sw_led-bit_20, 20);
SW_SERIAL_BIT(sw_led-bit_21, 21);
SW_SERIAL_BIT(sw_led-bit_22, 22);
SW_SERIAL_BIT(sw_led-bit_23, 23);
SW_SERIAL_BIT(sw_led-bit_24, 24);
SW_SERIAL_BIT(sw_led-bit_25, 25);
SW_SERIAL_BIT(sw_led-bit_26, 26);
SW_SERIAL_BIT(sw_led-bit_27, 27);
SW_SERIAL_BIT(sw_led-bit_28, 28);
SW_SERIAL_BIT(sw_led-bit_29, 29);
SW_SERIAL_BIT(sw_led-bit_30, 30);
SW_SERIAL_BIT(sw_led-bit_31, 31);

// Hardware Parallel LED options:
// Option A
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_0-pin_0 , 0, 0,  0, a_per_led_00_pin_0);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_1-pin_1 , 0, 1,  1, a_per_led_01_pin_1);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_2-pin_2 , 0, 2,  2, a_per_led_02_pin_2);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_0-pin_3 , 1, 0,  3, a_per_led_03_pin_3);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_1-pin_4 , 1, 1,  4, a_per_led_04_pin_4);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_2-pin_5 , 1, 2,  5, a_per_led_05_pin_5);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_0-pin_6 , 2, 0,  6, a_per_led_06_pin_6);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_1-pin_7 , 2, 1,  7, a_per_led_07_pin_7);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_2-pin_8 , 2, 2,  8, a_per_led_08_pin_8);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_0-pin_9 , 3, 0,  9, a_per_led_09_pin_9);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_1-pin_10, 3, 1, 10, a_per_led_10_pin_10);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_2-pin_11, 3, 2, 11, a_per_led_11_pin_11);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_0-pin_12, 4, 0, 12, a_per_led_12_pin_12);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_1-pin_13, 4, 1, 13, a_per_led_13_pin_13);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_2-pin_14, 4, 2, 14, a_per_led_14_pin_14);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_0-pin_15, 5, 0, 15, a_per_led_15_pin_15);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_1-pin_16, 5, 1, 16, a_per_led_16_pin_16);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_2-pin_17, 5, 2, 17, a_per_led_17_pin_17);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_0-pin_18, 6, 0, 18, a_per_led_18_pin_18);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_1-pin_19, 6, 1, 19, a_per_led_19_pin_19);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_2-pin_20, 6, 2, 20, a_per_led_20_pin_20);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_0-pin_21, 7, 0, 21, a_per_led_21_pin_21);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_1-pin_22, 7, 1, 22, a_per_led_22_pin_22);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_2-pin_23, 7, 2, 23, a_per_led_23_pin_23);
HW_PARALLEL_AGGREGATE_BIT_PIN_NAME(aggregate_link-pin_50, 28, a_per_led_28_pin_50);
HW_PARALLEL_AGGREGATE_BIT_PIN_NAME(aggregate_activity-pin_51, 29, a_per_led_29_pin_51);

// Hardware Parallel LED options:
// Option B
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_0-pin_62, 0, 0,  0, b_per_led_00_pin_62);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_1-pin_63, 0, 1,  1, b_per_led_01_pin_63);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_0-led_2-pin_64, 0, 2,  2, b_per_led_02_pin_64);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_0-pin_65, 1, 0,  3, b_per_led_03_pin_65);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_1-pin_66, 1, 1,  4, b_per_led_04_pin_66);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_1-led_2-pin_67, 1, 2,  5, b_per_led_05_pin_67);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_0-pin_68, 2, 0,  6, b_per_led_06_pin_68);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_1-pin_69, 2, 1,  7, b_per_led_07_pin_69);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_2-led_2-pin_70, 2, 2,  8, b_per_led_08_pin_70);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_0-pin_71, 3, 0,  9, b_per_led_09_pin_71);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_1-pin_72, 3, 1, 10, b_per_led_10_pin_72);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_3-led_2-pin_73, 3, 2, 11, b_per_led_11_pin_73);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_0-pin_3 , 4, 0, 12, b_per_led_12_pin_3);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_1-pin_4 , 4, 1, 13, b_per_led_13_pin_4);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_4-led_2-pin_5 , 4, 2, 14, b_per_led_14_pin_5);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_0-pin_6 , 5, 0, 15, b_per_led_15_pin_6);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_1-pin_7 , 5, 1, 16, b_per_led_16_pin_7);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_5-led_2-pin_8 , 5, 2, 17, b_per_led_17_pin_8);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_0-pin_9 , 6, 0, 18, b_per_led_18_pin_9);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_1-pin_10, 6, 1, 19, b_per_led_19_pin_10);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_6-led_2-pin_11, 6, 2, 20, b_per_led_20_pin_11);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_0-pin_32, 7, 0, 21, b_per_led_21_pin_32);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_1-pin_29, 7, 1, 22, b_per_led_22_pin_29);
HW_PARALLEL_PORT_LED_BIT_PIN_NAME(port_7-led_2-pin_30, 7, 2, 23, b_per_led_23_pin_30);
HW_PARALLEL_AGGREGATE_BIT_PIN_NAME(aggregate_link-pin_20, 28, b_per_led_28_pin_20);
HW_PARALLEL_AGGREGATE_BIT_PIN_NAME(aggregate_activity-pin_21, 29, b_per_led_29_pin_21);

// Software Parallel LED options:
// Option A
SW_PARALLEL_BIT_PIN_NAME(sw_led_0-pin_0  ,  0, a_per_led_00_pin_0);
SW_PARALLEL_BIT_PIN_NAME(sw_led_1-pin_1  ,  1, a_per_led_01_pin_1);
SW_PARALLEL_BIT_PIN_NAME(sw_led_2-pin_2  ,  2, a_per_led_02_pin_2);
SW_PARALLEL_BIT_PIN_NAME(sw_led_3-pin_3  ,  3, a_per_led_03_pin_3);
SW_PARALLEL_BIT_PIN_NAME(sw_led_4-pin_4  ,  4, a_per_led_04_pin_4);
SW_PARALLEL_BIT_PIN_NAME(sw_led_5-pin_5  ,  5, a_per_led_05_pin_5);
SW_PARALLEL_BIT_PIN_NAME(sw_led_6-pin_6  ,  6, a_per_led_06_pin_6);
SW_PARALLEL_BIT_PIN_NAME(sw_led_7-pin_7  ,  7, a_per_led_07_pin_7);
SW_PARALLEL_BIT_PIN_NAME(sw_led_8-pin_8  ,  8, a_per_led_08_pin_8);
SW_PARALLEL_BIT_PIN_NAME(sw_led_9-pin_9  ,  9, a_per_led_09_pin_9);
SW_PARALLEL_BIT_PIN_NAME(sw_led_10-pin_10, 10, a_per_led_10_pin_10);
SW_PARALLEL_BIT_PIN_NAME(sw_led_11-pin_11, 11, a_per_led_11_pin_11);
SW_PARALLEL_BIT_PIN_NAME(sw_led_12-pin_12, 12, a_per_led_12_pin_12);
SW_PARALLEL_BIT_PIN_NAME(sw_led_13-pin_13, 13, a_per_led_13_pin_13);
SW_PARALLEL_BIT_PIN_NAME(sw_led_14-pin_14, 14, a_per_led_14_pin_14);
SW_PARALLEL_BIT_PIN_NAME(sw_led_15-pin_15, 15, a_per_led_15_pin_15);
SW_PARALLEL_BIT_PIN_NAME(sw_led_16-pin_16, 16, a_per_led_16_pin_16);
SW_PARALLEL_BIT_PIN_NAME(sw_led_17-pin_17, 17, a_per_led_17_pin_17);
SW_PARALLEL_BIT_PIN_NAME(sw_led_18-pin_18, 18, a_per_led_18_pin_18);
SW_PARALLEL_BIT_PIN_NAME(sw_led_19-pin_19, 19, a_per_led_19_pin_19);
SW_PARALLEL_BIT_PIN_NAME(sw_led_20-pin_20, 20, a_per_led_20_pin_20);
SW_PARALLEL_BIT_PIN_NAME(sw_led_21-pin_21, 21, a_per_led_21_pin_21);
SW_PARALLEL_BIT_PIN_NAME(sw_led_22-pin_22, 22, a_per_led_22_pin_22);
SW_PARALLEL_BIT_PIN_NAME(sw_led_23-pin_23, 23, a_per_led_23_pin_23);
SW_PARALLEL_BIT_PIN_NAME(sw_led_24-pin_28, 24, a_per_led_24_pin_28);
SW_PARALLEL_BIT_PIN_NAME(sw_led_25-pin_29, 25, a_per_led_25_pin_29);
SW_PARALLEL_BIT_PIN_NAME(sw_led_26-pin_30, 26, a_per_led_26_pin_30);
SW_PARALLEL_BIT_PIN_NAME(sw_led_27-pin_31, 27, a_per_led_27_pin_31);
SW_PARALLEL_BIT_PIN_NAME(sw_led_28-pin_50, 28, a_per_led_28_pin_50);
SW_PARALLEL_BIT_PIN_NAME(sw_led_29-pin_51, 29, a_per_led_29_pin_51);
SW_PARALLEL_BIT_PIN_NAME(sw_led_30-pin_52, 30, a_per_led_30_pin_52);
SW_PARALLEL_BIT_PIN_NAME(sw_led_31-pin_53, 31, a_per_led_31_pin_53);

// Software Parallel LED options:
// Option B
SW_PARALLEL_BIT_PIN_NAME(sw_led_0-pin_62 ,  0, b_per_led_00_pin_62);
SW_PARALLEL_BIT_PIN_NAME(sw_led_1-pin_63 ,  1, b_per_led_01_pin_63);
SW_PARALLEL_BIT_PIN_NAME(sw_led_2-pin_64 ,  2, b_per_led_02_pin_64);
SW_PARALLEL_BIT_PIN_NAME(sw_led_3-pin_65 ,  3, b_per_led_03_pin_65);
SW_PARALLEL_BIT_PIN_NAME(sw_led_4-pin_66 ,  4, b_per_led_04_pin_66);
SW_PARALLEL_BIT_PIN_NAME(sw_led_5-pin_67 ,  5, b_per_led_05_pin_67);
SW_PARALLEL_BIT_PIN_NAME(sw_led_6-pin_68 ,  6, b_per_led_06_pin_68);
SW_PARALLEL_BIT_PIN_NAME(sw_led_7-pin_69 ,  7, b_per_led_07_pin_69);
SW_PARALLEL_BIT_PIN_NAME(sw_led_8-pin_70 ,  8, b_per_led_08_pin_70);
SW_PARALLEL_BIT_PIN_NAME(sw_led_9-pin_71 ,  9, b_per_led_09_pin_71);
SW_PARALLEL_BIT_PIN_NAME(sw_led_10-pin_72, 10, b_per_led_10_pin_72);
SW_PARALLEL_BIT_PIN_NAME(sw_led_11-pin_73, 11, b_per_led_11_pin_73);
SW_PARALLEL_BIT_PIN_NAME(sw_led_12-pin_3 , 12, b_per_led_12_pin_3);
SW_PARALLEL_BIT_PIN_NAME(sw_led_13-pin_4 , 13, b_per_led_13_pin_4);
SW_PARALLEL_BIT_PIN_NAME(sw_led_14-pin_5 , 14, b_per_led_14_pin_5);
SW_PARALLEL_BIT_PIN_NAME(sw_led_15-pin_6 , 15, b_per_led_15_pin_6);
SW_PARALLEL_BIT_PIN_NAME(sw_led_16-pin_7 , 16, b_per_led_16_pin_7);
SW_PARALLEL_BIT_PIN_NAME(sw_led_17-pin_8 , 17, b_per_led_17_pin_8);
SW_PARALLEL_BIT_PIN_NAME(sw_led_18-pin_9 , 18, b_per_led_18_pin_9);
SW_PARALLEL_BIT_PIN_NAME(sw_led_19-pin_10, 19, b_per_led_19_pin_10);
SW_PARALLEL_BIT_PIN_NAME(sw_led_20-pin_11, 20, b_per_led_20_pin_11);
SW_PARALLEL_BIT_PIN_NAME(sw_led_21-pin_32, 21, b_per_led_21_pin_32);
SW_PARALLEL_BIT_PIN_NAME(sw_led_22-pin_29, 22, b_per_led_22_pin_29);
SW_PARALLEL_BIT_PIN_NAME(sw_led_23-pin_30, 23, b_per_led_23_pin_30);
SW_PARALLEL_BIT_PIN_NAME(sw_led_24-pin_31, 24, b_per_led_24_pin_31);
SW_PARALLEL_BIT_PIN_NAME(sw_led_25-pin_22, 25, b_per_led_25_pin_22);
SW_PARALLEL_BIT_PIN_NAME(sw_led_26-pin_23, 26, b_per_led_26_pin_23);
SW_PARALLEL_BIT_PIN_NAME(sw_led_27-pin_28, 27, b_per_led_27_pin_28);
SW_PARALLEL_BIT_PIN_NAME(sw_led_28-pin_20, 28, b_per_led_28_pin_20);
SW_PARALLEL_BIT_PIN_NAME(sw_led_29-pin_21, 29, b_per_led_29_pin_21);
