p { 
  color: #333; 
  font: 400 0.8em verdana,arial,sans-serif;
}
table {
   margin: auto;
}
td {
   color: #333;
   font: 400 0.8em verdana,arial,sans-serif;
   padding: 3px;
}
li {
   color: #333;
   font: 400 0.8em verdana,arial,sans-serif;
   padding: 3px 0 3px 0;
}
h1 {
   color: #333;
   font-size: 150%;
}
#login, #contact, #register, #map {
   padding-bottom: 15px;
   width: 80%;
   margin: auto;
}
#map {
   width: 100%;
}
#login_form, #contact_form, #register_form {
   text-align: center;
   margin: auto;
}
#header {
   width: 90%;
   margin: auto;
   height: 80px;
   line-height: 80px;
   vertical-align: center;
   text-align: middle;
}
#body {
   clear: both;
   width: 80%;
   margin: auto;
}
#footer { 
   color: #666;
   font-size: 60%;
   clear: both;
   padding-top: 20px;
   margin: auto;
}
#terms {
   text-align: left;
   margin: auto;
}
body {
   height: 90%;
   width: 100%;
   margin: 10px auto 0px auto;
   padding: 0;
   text-align: center;
   font: 400 0.8em verdana,arial,sans-serif;
   line-height: 170%;
   background: #fff;
   color: #333;
}
#openid_url {
  background: url(openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
#openid-label,#login-label {
  font-size: smaller;
  line-height: 14px;
  vertical-align: middle;
}
.err{
   font-weight: bold;
   color: #000;
   width: 70%;
   margin: 0px auto 10px auto;
}
