To: $to
From: $from
Subject: HotSpot Access - Contact

Location:     $LOCATION_NAME
Name:         $FORM_realname
E-mail:       $FORM_email
MAC Address:  $FORM_mac
IP Address:   $FORM_ip
Original URL: $FORM_userurl

Message:
$FORM_message

