To: $to
From: $from
Subject: HotSpot Access

Location:   $LOCATION_NAME
Name:       $FORM_realname
Username:   $FORM_username
Password:   $FORM_password
E-mail:     $FORM_email

Message:
$FORM_message

