<!--
  --  The message between the header and the form on the login page
  -->
<h1>Welcome to my HotSpot!</h1> 
You can use the Internet, but have to login first.<br> You must also 
agree to these $(href terms.chi "terms and conditions").<p>