<!--
  --  The local area map page with some customization examples
  -->

<table cellpadding=0 cellspacing=2 border=0 width="700">
<tr>
<td width=525 valign=top><div id="themap" style="width: 525px; height:350px"></div></td>
<td rowspan=2 width=175 valign=top><div id="searchwell" style="text-size:80%;width:175px;height:0;"></div></td>
</tr>
<tr>
<td align=left valign=top>
  <table width=500>
  <tr>
  <td width=300 align=left><div id="searchform"></div></td>
  <td width=100 align=center><a href="#" onClick="return resetMap();">reset</a></td>
  <td width=100 align=center><a href="#" onClick="window.location='$FORM_userurl';">done</a></td>
  </tr>
  </table>
</td>
<td></td>
</tr>
</table>


<!-- Example showing local interest links:

  <table>
  <tr><td valign=top>Places of interest:</td>
  <td valign=top><ul>
  <li><a href="#" onclick="return showAddress(this.innerHTML)">Amsterdam CS, Netherlands</a></li>
  <li><a href="#" onclick="return showAddress(this.innerHTML)">UC Berkeley, CA</a></li>
  </td></tr>
  </table>

-->

  </div>
  </form>
