<!--
  --  Terms and conditions page
  -->
<p style="clear:both;"><b>Proper Use</b></p>

<p>This free hotspot provides a wireless network that allows you to connect to
the Internet. You must have a wireless-enabled device to connect to this
hotspot. </p>

<p> You may use the technology provided to you by this hotspot for the sole
purpose of using the free service as described here. You must immediately
notify the owner of any unauthorized use of the free service or any other
security breach. We will give you an IP address each time you access the
free hotspot, and it may change. You shall not program any other IP or MAC
address into your device that accesses the free hotspot. You may not use
the free service for any other reason, including reselling any aspect of
the free service. Other examples of improper activities include, without
limitation:

<ol>
<li>attempting to break security, access, tamper with or use any unauthorized
areas of the free service;</li>

<li>removing any copyright, trademark or other proprietary rights notices
contained in or on the free service;</li>

<li>attempting to collect or maintain any information about other users of the
free service (including usernames and/or email addresses) or other third
parties for unauthorized purposes; </li>

<li>logging onto the free service under false or fraudulent pretenses;</li>

<li>creating or transmitting unwanted electronic communications such as SPAM
or chain letters to other users or otherwise interfering with other user's
enjoyment of the service;</li>

<li>transmitting any viruses, worms, defects, Trojan Horses or other items of a
destructive nature; or </li>

<li>using the free service for any unlawful, harassing, abusive, criminal or
fraudulent purpose. </li>
</ol>
</p>

<p><b>Changes to Terms of Service and Termination</b>
</p>

<p>We may modify or terminate the free service and these Terms of Service and
any accompanying policies, for any reason, and without notice, including the
right to terminate with or without notice, without liability to you, any
user or any third party. Please review these Terms of Service from
time to time so that you will be apprised of any changes
</p>

<p>We reserve the right to terminate your use of the free service, for any
reason, and without notice. Upon any such termination, any and all rights
granted to you by this hotspot owner or Coova shall terminate.
</p>

<p><b>Your Responsibilities</b>
</p>

<p>You understand that the free service, which utilizes wireless technologies,
is not inherently secure and that wireless communications can be intercepted
by technology designed and intended for that purpose. While the hotspot
owner and Coova use commercially reasonable efforts to provide a secure
service, we cannot guarantee the effectiveness of our efforts. We will not
be liable to you or any other party for any lack of security that may result
from your use of the free service.
</p>

<p>You agree that you are responsible for providing security measures that are
suited for your intended use of the free service. For example, you shall
take full responsibility for taking adequate measures to safeguard your data
from loss. Also, other than the technology provided by Coova, you must
provide all equipment, technology and software to use the free service.
</p>

<p><b>Content Disclaimer</b>
</p>

<p>The hotspot owner or Coova do not control and is not responsible for data,
content, services, or products that you access or download through the free
service. We may, but are not obliged to, block data transmissions to
protect the owner, Coova, or the public.
</p>

<p><b>Disclaimer of Warranties</b>
</p>

<p>The hotspot owner and Coova disclaim any and all responsibility or liability
for the accuracy, content, completeness, legality, reliability, or
operability or availability of information or material displayed in or
accessible through the free service. We disclaim any responsibility for
the deletion, failure to store, misdelivery, or untimely delivery of any
information or material. We disclaim any responsibility for any harm
resulting from downloading or accessing any information or material on the
Internet through the free service.
</p>

<p>THE FREE SERVICE, AND ALL MATERIALS, INFORMATION, PRODUCTS AND SERVICES
INCLUDED IN THE FREE SERVICE ARE PROVIDED "AS IS," WITH NO WARRANTIES
WHATSOEVER. THE OWNER, COOVA, THEIR SUPPLIERS AND THEIR LICENSORS EXPRESSLY
DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED, AND
STATUTORY WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF
PROPRIETARY RIGHTS. THE OWNER, COOVA, THEIR SUPPLIERS AND THEIR LICENSORS
DISCLAIM ANY WARRANTIES REGARDING THE SECURITY, RELIABILITY, TIMELINESS, AND
PERFORMANCE OF THE FREE SERVICE. THE OWNER, COOVA, THEIR SUPPLIERS AND THEIR LICENSORS
DISCLAIM, ANY WARRANTIES FOR ANY INFORMATION OR ADVICE OBTAINED THROUGH THE
FREE SERVICE. THE OWNER, COOVA, THEIR SUPPLIERS AND THEIR LICENSORS DISCLAIM ANY
WARRANTIES FOR SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE
FREE SERVICE OR RECEIVED THROUGH ANY LINKS PROVIDED BY THE FREE SERVICE,
AS WELL AS FOR ANY INFORMATION OR ADVICE RECEIVED THROUGH ANY LINKS PROVIDED
IN THE FREE SERVICE.
</p>

<p>YOU UNDERSTAND AND AGREE THAT (A) THE FREE SERVICE WILL NOT BE UNINTERRUPTED
OR ERROR-FREE, (B) THERE IS NO WARRANTY OR GUARANTEE THAT THE FREE SERVICE
WILL OPERATE AT ANY MINIMUM DATA TRANSFER SPEED (C) THE OWNER AND COOVA
HAVE NO CONTROL OVER THIRD PARTY NETWORKS OR SITES YOU MAY ACCESS IN THE
COURSE OF YOUR USE OF THE FREE SERVICE, AND (D) YOU DOWNLOAD OR OTHERWISE
OBTAIN MATERIAL OR DATA THROUGH THE USE OF THE FREE SERVICE AT YOUR OWN
DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES
TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF
SUCH MATERIAL OR DATA.
</p>

<p>SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED
WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE
OTHER RIGHTS THAT VARY FROM STATE TO STATE AND JURISDICTION TO JURISDICTION.
</p>

<p><b>Limitation of Liability</b></p>

<p>UNDER NO CIRCUMSTANCES SHALL THE OWNER, COOVA, THEIR SUPPLIERS OR THEIR
LICENSORS BE LIABLE TO YOU, ANY USER, OR ANY THIRD PARTY ON ACCOUNT OF YOUR
OR THAT PARTY'S USE OR MISUSE OF OR RELIANCE ON THE FREE SERVICE ARISING
FROM ANY CLAIM RELATING TO THIS AGREEMENT OR THE SUBJECT MATTER HEREOF. SUCH
LIMITATION OF LIABILITY SHALL APPLY TO PREVENT RECOVERY OF DIRECT, INDIRECT,
INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE DAMAGES WHETHER
SUCH CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR
OTHERWISE, (EVEN IF THE OWNER, COOVA, THEIR SUPPLIERS OR THEIR LICENSORS
HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). SUCH LIMITATION OF
LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND
RELIANCE ON THE FREE SERVICE, FROM INABILITY TO USE THE FREE SERVICE, OR
FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF THE FREE SERVICE
(INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES). THIS LIMITATION SHALL
ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR
GOODS RECEIVED THROUGH OR ADVERTISED ON THE FREE SERVICE OR RECEIVED THROUGH
ANY LINKS PROVIDED IN THE FREE SERVICE, AS WELL AS BY REASON OF ANY
INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED ON THE FREE SERVICE OR
RECEIVED THROUGH ANY LINKS PROVIDED IN THE FREE SERVICE. THIS LIMITATION
SHALL ALSO APPLY, WITHOUT LIMITATION, TO THE COSTS OF PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, OR LOST DATA. SUCH LIMITATION
SHALL FURTHER APPLY WITH RESPECT TO THE PERFORMANCE OR NON-PERFORMANCE OF
THE FREE SERVICE OR ANY INFORMATION OR MERCHANDISE THAT APPEARS ON, OR IS
LINKED OR RELATED IN ANY WAY TO, THE FREE SERVICE. SUCH LIMITATION SHALL
APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY
AND TO THE FULLEST EXTENT PERMITTED BY LAW.
</p>
<p>SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION
OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
</p>

<p><b>Indemnity</b></p>

<p>You agree to hold harmless and indemnify the owner, Coova, their suppliers
and licensors from and against any third party claim arising from or in any
way related to your use of the free service, including any liability or
expense arising from all claims, losses, damages (actual and consequential),
suits, judgments, litigation costs and attorneys' fees, of every kind and
nature. </p>
</div>
<p>
