*.o
*.lo
*.pc
Makefile
config.h
config.log
config.status
libtool
doc/doxygen.conf
examples/testd
libdaemon/libdaemon.la
.libs
autom4te.cache
aclocal.m4
configure
doc/README.html
m4/ltsugar.m4
Makefile.in
compile
config.guess
config.h.in
config.sub
depcomp
doc/Makefile.in
examples/Makefile.in
install-sh
libdaemon/Makefile.in
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
