#######################################################################
##
##  Foo Module 
## --------------- 
##
server.modules += ( "mod_Foo" )

##
## foo
##
#foo.bar = 1

##
#######################################################################
