/* Copyright 2012 Google Inc. All Rights Reserved. */

.google-visualization-tooltip-action: hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip {
  border:solid 1px #bdbdbd;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  font-size: 12px;
  padding: 0px;
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
}
.google-visualization-tooltip-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0em 0.5em 0em;
  cursor: hand;
}
.google-visualization-tooltip-action {
  margin: 0;
  cursor: pointer;
  padding: 0.5em 2em 0.5em 1em;
}
.google-visualization-tooltip-action:hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip-item-list {
  list-style-type: none;
  margin: 1em 0 1em 0;
  padding: 0em;
}
.google-visualization-tooltip-item {
  margin: 0.65em 0em 0.65em 0em;
  padding: 0em 2em 0em 1em;
}
.google-visualization-tooltip-item-list
.google-visualization-tooltip-item:first-child {
  margin: 1em 0em 1em 0em;
}
.google-visualization-tooltip-separator {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #dddddd;
}
.google-visualization-tooltip-square {
  display: inline-block;
  /* IE does not support inline-block fall back to float left */
  float: left;
  clear: none;
  width: 0.5em;
  height: 0.5em;
  margin: 0.16em 0.7em 0em 0em;
  border-bottom: solid 0.1em white;
}
