if TARGET_CHROMEBOOK_LINK || TARGET_CHROMEBOOK_LINK64

config SYS_BOARD
	default "chromebook_link"

config SYS_VENDOR
	default "google"

config SYS_SOC
	default "ivybridge"

config SYS_CONFIG_NAME
	default "chromebook_link"

config SYS_TEXT_BASE
	default 0xfff00000 if !SUPPORT_SPL
	default 0x10000000 if SUPPORT_SPL

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select X86_RESET_VECTOR
	select NORTHBRIDGE_INTEL_IVYBRIDGE
	select HAVE_INTEL_ME
	select BOARD_ROMSIZE_KB_8192
	select SPI_FLASH_WINBOND

config PCIE_ECAM_BASE
	default 0xf0000000

config EARLY_POST_CROS_EC
	bool "Enable early post to Chrome OS EC"
	default y

config SYS_CAR_ADDR
	hex
	default 0xff7e0000

config SYS_CAR_SIZE
	hex
	default 0x20000

endif
