if OMAP44XX

choice
	prompt "OMAP4 board select"
	optional

config TARGET_DUOVERO
	bool "OMAP4430 Gumstix Duovero"

config TARGET_OMAP4_PANDA
	bool "TI OMAP4 PandaBoard"

config TARGET_OMAP4_SDP4430
	bool "TI OMAP4 SDP4430"

config TARGET_KC1
	bool "Amazon Kindle Fire (first generation)"

endchoice

config SYS_SOC
	default "omap4"

source "board/gumstix/duovero/Kconfig"
source "board/ti/panda/Kconfig"
source "board/ti/sdp4430/Kconfig"
source "board/amazon/kc1/Kconfig"

endif
