<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link href="../form_style.css"  rel="stylesheet" type="text/css">
<style type="text/css">
.wan_type_title{
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
 	margin-top:100px;
	padding:10 0 5 0;
	text-align:left;
	width:95%;
	text-shadow: 1px 1px 0px black;
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000);
}
.wan_type_dec{
	line-height:20px;
	color:#FFFFFF;
	font-size:14px;
	text-align:left;
}

.iptvTable{
	width:360px;
	margin-left:-7px;
}

.iptvTable th{
	text-align:right;
	width:160px;
	color:#66CCFF;
}

.iptvTable td{
	text-align:left;
}

.dialUp{
	height:157px;
	background:url('../images/New_ui/new_qis/PPPoE.png') no-repeat;
	background-position:50% 0%;
}
.non_dialUp{
	height:320px;
	background:url('../images/New_ui/new_qis/WAN-connection-type.png') no-repeat;
	background-position:50% 0%;
}
.non_dialUp_RT-AC66U_V2{
	width:310px;
	height:320px;
	background:url('../images/RT-AC66U_V2/WAN-connection-type.png') no-repeat;
	background-position:50% 0%;
}
.static_image{
	height:280px;
	background:url('../images/New_ui/new_qis/staticIP.png') no-repeat;
	background-position:50% 0%;

}
.image_field{
	height:300px;
	background:url('../images/New_ui/new_qis/WAN-connection-defaultPage.png') no-repeat;
	background-position: center;
}
.image_field_RT-AC66U_V2{
	height:300px;
	background:url('../images/RT-AC66U_V2/WAN-connection-defaultPage.png') no-repeat;
	background-position: center;
}

.iptvSplitLine{
	width: 350px;
	*width: 340px;
	margin: 5px 5px 5px 10px;
}
</style>
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="../validator.js"></script>
<script type="text/javascript">
<% wan_get_parameter(); %>
var now_flag = '<% get_parameter("flag"); %>';
var contentM_height_orig = parent.document.getElementById("contentM").height;
var odmpid = '<% nvram_get("odmpid"); %>';

var isSku = function(country){
	var ttc = '<% nvram_get("territory_code"); %>';
	return (ttc.search(country) == -1) ? false : true;
}

var iptv_support = (isSku("CN") || isSku("US") || isSku("CA"))? false:true;

function QKinternettype_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_type_head#>";

	/*workaround for PPTP, L2TP connection*/
	if(isSku("TW") || isSku("CN") || isSku("US")){
		var dial_desc_string = document.getElementById("dialUp_string").innerHTML;
		var key_index = dial_desc_string.indexOf("PPPoE");
		var dial_desc_string = dial_desc_string.substr(0, key_index+5);
		document.getElementById("dialUp_string").innerHTML = dial_desc_string;
	}

	if(parent.ISMOBILE){
		parent.set_step("detect");
		document.getElementById("field_general").style.display = "none";
		document.getElementById("field_mobile").style.display = "";		
		hideObjs();

		document.getElementById("unifyBtn").style.display = "none";
	}
	else{
		parent.set_step("t2");
		if('<% nvram_get("autodet_state"); %>' == "6" || '<% nvram_get("autodet_auxstate"); %>' == "6")
			document.applyForm.wan_proto.value = "pppoe"
		else			
			document.applyForm.wan_proto.value = '<% nvram_get("wan_proto"); %>';
		
		if(parent.get_internet_type_reducedmode() == "enable")
			blocking("dhcppppoe_sec", false);

		if(!iptv_support){
			document.getElementById("specialISP_tr").style.display = "none";
		}
		else{
			if(isSku("TW")){
				ISP_Profile_Selection("none");
				document.getElementById("specialisp_desc").innerHTML = "Hinet MOD";
				document.getElementById("select_profile").style.display = "none";
			}
			else
				ISP_Profile_Selection(parent.original_switch_wantag);
		}
	
		if(parent.ruisp_support)
			document.getElementById("ruisp_btn").style.display = "";
	
		if(!parent.manualstb_support) 
			document.applyForm.switch_wantag.remove(8);

		if(odmpid == "RT-AC66U_B1" || odmpid == "RT-AC1750_B1" || odmpid == "RT-N66U_C1" || odmpid == "RT-AC1900U")
			document.getElementById("image_field").className = "image_field_RT-AC66U_V2";

		detect_if_wan_plug();
	}

	parent.create_ISP_select(document.applyForm.switch_wantag);
	if(parent.based_modelid == "GT-AC5300" || parent.based_modelid == "GT-AC9600")
		document.getElementById("right_panel").style.background = "rgba(207,10,44,.5)";
}

function inputCCtrl4(o, flag){
	o[0].checked = false;
	o[1].checked = false;
	o[2].checked = false;
	o[3].checked = false;
	o[4].checked = false;
	
	o[flag].checked = true;
}

function submitForm(){
	if(parent.ISMOBILE){
		if(document.applyForm.specialisp.checked != true){
			document.applyForm.switch_wantag.value = 'none';
		}
		else{
			if(document.applyForm.switch_wantag.value == ''){
				document.applyForm.switch_wantag.value = 'none';
			}
			else if(document.applyForm.switch_wantag.value == 'manual'){
				document.applyForm.switch_wan0tagid.value = document.applyForm._switch_wan0tagid.value;
				document.applyForm.switch_wan0prio.value = document.applyForm._switch_wan0prio.value;
				document.applyForm.switch_wan1tagid.value = document.applyForm._switch_wan1tagid.value;
				document.applyForm.switch_wan1prio.value = document.applyForm._switch_wan1prio.value;
				document.applyForm.switch_wan2tagid.value = document.applyForm._switch_wan2tagid.value;
				document.applyForm.switch_wan2prio.value = document.applyForm._switch_wan2prio.value;
			}
		}
	}

	if(parent.get_internet_type_reducedmode() == "enable" &&
			(document.applyForm.x_WANType[3].checked == false &&
			document.applyForm.x_WANType[4].checked == false
			)){
		alert("<#QKSet_type_rechoice#>");
		return false;
	}

	parent.document.QKform.wan_proto.value = document.applyForm.wan_proto.value;
	
	if(parent.original_switch_wantag != document.applyForm.switch_wantag.value){
		var reboot_time = eval("<% get_default_reboot_time(); %> + 10");
		document.applyForm.action_script.value = "saveNvram";
		document.applyForm.action_wait.value = "0";
		parent.sysReboot = true;
		if(reboot_time > parent.rebootTime)
			parent.rebootTime = reboot_time;
	}

	document.applyForm.flag.value = "no_wait";
	document.applyForm.submit();
	location.href = "QIS_wireless.htm";
	return true;
}

function gotoprev_type(){
	parent.location.href = "/";
}

function ISP_Profile_Selection(isp){
	var isp_settings = parent.get_isp_settings(isp);

	if(isp_settings.voip_port != "" || isp_settings.iptv_port != "" || isp_settings.bridge_port != "")
		document.getElementById("port_line").style.display = "";
	else
		document.getElementById("port_line").style.display = "none";

	if(isp == "manual"){
		set_manual_items();
	}
	else{
		document.getElementById("wan_internet_x").style.display = "none";
		document.getElementById("wan_iptv_port4_x").style.display = "none";
		document.getElementById("wan_voip_port3_x").style.display = "none";

		if(isp == "none")
			document.applyForm.switch_stb_x.disabled = false;
		else
			document.applyForm.switch_stb_x.disabled = true;

		document.applyForm.switch_wan0tagid.disabled = true;
		document.applyForm.switch_wan0prio.disabled = true;
		document.applyForm.switch_wan1tagid.disabled = true;
		document.applyForm.switch_wan1prio.disabled = true;
		document.applyForm.switch_wan2tagid.disabled = true;
		document.applyForm.switch_wan2prio.disabled = true;
		if(isp_settings.voip_port != "")
			document.getElementById("wan_voip_x").style.display = "";
		else
			document.getElementById("wan_voip_x").style.display = "none";

		if(isp_settings.voip_port != ""){
			document.getElementById("voip_port").innerHTML = isp_settings.voip_port;
			document.getElementById("voip_port").style.display = "";
		}

		if(isp_settings.iptv_port != "")
			document.getElementById("wan_iptv_x").style.display = "";
		else
			document.getElementById("wan_iptv_x").style.display = "none";

		if(isp_settings.iptv_port != ""){
			document.getElementById("iptv_port").innerHTML = isp_settings.iptv_port;
			document.getElementById("iptv_port").style.display = "";
		}

		if(isp_settings.bridge_port != ""){
			document.getElementById("wan_bridge_x").style.display = "";
			document.getElementById("bridge_port").innerHTML = isp_settings.bridge_port;
		}
		else
			document.getElementById("wan_bridge_x").style.display = "none";
	}

	if(isp_settings.iptv_config == "1")
		document.getElementById("iptv_configuration").style.display = "";
	else
		document.getElementById("iptv_configuration").style.display = "none";

	/* Special Applications */
	if(isp_settings.mr_enable_x != ""){
		document.applyForm.mr_enable_x.value = isp_settings.mr_enable_x;
	}
	else{
		document.applyForm.mr_enable_x.value = parent.orig_mr_enable;
	}

	if(isp_settings.emf_enable != ""){
		document.applyForm.emf_enable.value = isp_settings.emf_enable;
	}
	else{
		document.applyForm.emf_enable.value = parent.orig_emf_enable;
	}

	if(isp_settings.wan_vpndhcp != ""){
		document.applyForm.wan_vpndhcp.value = isp_settings.wan_vpndhcp;
	}
	else{
		document.applyForm.wan_vpndhcp.value = parent.orig_wan_vpndhcp;
	}

	if(isp_settings.quagga_enable != ""){
		document.applyForm.quagga_enable.value = isp_settings.quagga_enable;
	}
	else{
		document.applyForm.quagga_enable.value = parent.orig_quagga_enable;
	}

	document.applyForm.mr_altnet_x.value = isp_settings.mr_altnet_x;

	if(isp_settings.ttl_inc_enable != ""){
		document.applyForm.ttl_inc_enable.value = isp_settings.ttl_inc_enable;
	}
	else{
		document.applyForm.ttl_inc_enable.value = parent.orig_ttl_inc_enable;
	}
	/*--*/
}

function set_manual_items(){
	var stb_port_list = parent.iptv_profiles.stb_x_options;
	var manual_settings = parent.get_isp_settings("manual");
	var port_name = "";

	document.getElementById("wan_iptv_x").style.display = "none";
	document.getElementById("wan_voip_x").style.display = "none";
	document.getElementById("wan_bridge_x").style.display = "none";
	document.getElementById("wan_internet_x").style.display = "";
	document.applyForm.switch_wan0tagid.disabled = false;
	document.applyForm.switch_wan0prio.disabled = false;
	document.applyForm.switch_wan1tagid.disabled = false;
	document.applyForm.switch_wan1prio.disabled = false;
	document.applyForm.switch_wan2tagid.disabled = false;
	document.applyForm.switch_wan2prio.disabled = false;

	if(parent.original_switch_wantag == "manual"){
		document.applyForm.switch_wan0tagid.value = parent.original_switch_wan0tagid;
		document.applyForm.switch_wan0prio.value = parent.original_switch_wan0prio;
		document.applyForm.switch_wan1tagid.value = parent.original_switch_wan1tagid;
		document.applyForm.switch_wan1prio.value = parent.original_switch_wan1prio;
		document.applyForm.switch_wan2tagid.value = parent.original_switch_wan2tagid;
		document.applyForm.switch_wan2prio.value = parent.original_switch_wan2prio;
	}
	else{
		document.applyForm.switch_wan0tagid.value = "";
		document.applyForm.switch_wan0prio.value = "0";
		document.applyForm.switch_wan1tagid.value = "";
		document.applyForm.switch_wan1prio.value = "0";
		document.applyForm.switch_wan2tagid.value = "";
		document.applyForm.switch_wan2prio.value = "0";
	}

	if(manual_settings.iptv_port != ""){
		port_name = "LAN Port " + manual_settings.iptv_port.substr(3);
		document.getElementById("wan_iptv_port4_x").style.display = "";
		document.getElementById("iptv_port4").innerHTML = "IPTV (" + port_name + "):";
	}

	if(manual_settings.voip_port != ""){
		port_name = "LAN Port " + manual_settings.voip_port.substr(3);
		document.getElementById("wan_voip_port3_x").style.display = "";
		document.getElementById("voip_port3").innerHTML = "VoIP (" + port_name + "):";
	}
}

function change_auth(auth_mode){
	if(auth_mode == "8021x-md5"){
		document.getElementById("tr_pppoe_username").style.display = "";
		document.getElementById("tr_pppoe_password").style.display = "";
	}
	else{
		document.getElementById("tr_pppoe_username").style.display = "none";
		document.getElementById("tr_pppoe_password").style.display = "none";
	}
}

/* password item show or not */
function pass_checked_iptv(obj){
	parent.switchType(obj, document.applyForm.show_pass_iptv.checked, true);
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}

function focus_radio(obj){
	if(obj.value == "1")
			document.applyForm.x_WANType[1].focus();
	else if(obj.value == "4")
			document.applyForm.x_WANType[2].focus();
	else if(obj.value == "2")
			document.applyForm.x_WANType[3].focus();
	else if(obj.value == "3")
			document.applyForm.x_WANType[4].focus();
	else
			document.applyForm.x_WANType[0].focus();
}

function switch_dialUp_type(obj){
	if(obj.id == "dialUp_yes"){
		document.getElementById("image_field").className = "dialUp";
		document.getElementById("isp_card_desc").style.display = "";
		document.getElementById("dhcp_scenario_1").style.display = "none";
		document.getElementById("dhcp_scenario_2").style.display = "none";
	}
	else if(obj.id == "non_dialUp"){
		if(odmpid == "RT-AC66U_B1" || odmpid == "RT-AC1750_B1" || odmpid == "RT-N66U_C1" || odmpid == "RT-AC1900U")
			document.getElementById("image_field").className = "non_dialUp_RT-AC66U_V2";
		else
			document.getElementById("image_field").className = "non_dialUp";
		document.getElementById("isp_card_desc").style.display = "none";
		document.getElementById("dhcp_scenario_1").style.display = "";
		document.getElementById("dhcp_scenario_2").style.display = "";
	}
}


function detect_if_wan_plug(flag){
	String.prototype.strlenHandler = function(maxLen, handler){
		var len = 0;
		for(var i=0; i<this.length; i++){
			var c = this.charCodeAt(i);
			if((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)){len++;}
			else{len+=2;}
		}

		if(len > maxLen) handler();
	}

	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		error: function(xhr){
			detect_if_wan_plug();
		},
		success: function(response){
			if(autodet_state == 4){ // ethernet did not plug
				document.getElementById("wan_unplug").innerHTML.strlenHandler(135, function(){
					document.getElementById("unknownIsp").style.display = "none";
				});
				document.getElementById("wan_unplug").style.display = "";
			}
			else if(autodet_state == 0)
				detect_if_wan_plug();
			else
				return true;
		}
	});
}
var stage = 0;

function verify_vlan_settings(){//true: settings are modified
	if(parent.original_switch_wantag != document.applyForm.switch_wantag.value)
		return true;
	else if(parent.original_switch_wantag == "manual"){
		if((document.applyForm.switch_wan0tagid.value == '<% nvram_get("switch_wan0tagid"); %>') && (document.applyForm.switch_wan0prio.value == '<% nvram_get("switch_wan0prio"); %>') && (document.applyForm.switch_wan1tagid.value == '<% nvram_get("switch_wan1tagid"); %>') && (document.applyForm.switch_wan1prio.value == '<% nvram_get("switch_wan1prio"); %>') && (document.applyForm.switch_wan2tagid.value == '<% nvram_get("switch_wan2tagid"); %>') && (document.applyForm.switch_wan2prio.value != '<% nvram_get("switch_wan2prio"); %>'))
			return false;
		else
			return true;
	}
}
function next_step(flag){
	if( !document.applyForm.wan_type[0].checked && !document.applyForm.wan_type[1].checked){
		alert("<#QKSet_type_desc#>");
		return false;
	}

	if(flag == 0){
		stage = 1;
		if(document.applyForm.wan_type[0].checked){	// dial-up
			parent.document.QKform.wan_dhcpenable_x.value = 1;
			parent.document.QKform.wan_dnsenable_x.value = 1;
			parent.document.QKform.wan_proto.value = document.applyForm.wan_proto.value;

			document.applyForm.wan_proto.value = "pppoe";
			document.applyForm.next_page.value = "QIS_internet_account.htm";
			location.href = document.applyForm.next_page.value;
		}
		else if(document.applyForm.wan_type[1].checked){
			document.getElementById('dialUp_tr').style.display = "none";
			document.getElementById('dialUp_desc').style.display = "none";
			document.getElementById('non_dialUp_tr').style.display = "none";
			document.getElementById('non_dialUp_desc').style.display = "none";
			document.getElementById('previous_button').style.display = "";
			document.getElementById('dhcp_tr').style.display = "";
			document.getElementById('dhcp_desc').style.display = "";
			document.getElementById('static_tr').style.display = "";
			document.getElementById('static_desc').style.display = "";
			if(iptv_support)
				document.getElementById('specialISP_tr').style.display = "";
			document.applyForm.dhcp_type[0].checked = true;
		}

		if(parent.original_switch_wantag != "none" && iptv_support){
			document.applyForm.specialisp.checked = true;
			enable_ISP_special();
		}
		else
			document.applyForm.specialisp.checked = false;
	}
	else if(flag == 1){
		stage = 2;

		if(document.applyForm.specialisp.checked){
			if(document.applyForm.switch_wantag.value == "manual"){//Check VID
				if(document.applyForm.switch_wan1tagid.value == "" && document.applyForm.switch_wan2tagid.value == "")
					document.applyForm.switch_stb_x.value = "0";
				else if(document.applyForm.switch_wan1tagid.value == "" && document.applyForm.switch_wan2tagid.value != "")
					document.applyForm.switch_stb_x.value = "3";
				else if(document.applyForm.switch_wan1tagid.value != "" && document.applyForm.switch_wan2tagid.value == "")
					document.applyForm.switch_stb_x.value = "4";
				else
					document.applyForm.switch_stb_x.value = "6";

		        if(document.applyForm.switch_wan0tagid.value.length > 0 && !validator.rangeNull(document.applyForm.switch_wan0tagid, 2, 4094, "")){
					document.applyForm.switch_wan0tagid.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan1tagid.value.length > 0 && !validator.rangeNull(document.applyForm.switch_wan1tagid, 2, 4094, "")){
					document.applyForm.switch_wan1tagid.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan2tagid.value.length > 0 && !validator.rangeNull(document.applyForm.switch_wan2tagid, 2, 4094, "")){
					document.applyForm.switch_wan2tagid.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan0prio.value.length > 0 && !validator.range(document.applyForm.switch_wan0prio, 0, 7)){
					document.applyForm.switch_wan0prio.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan1prio.value.length > 0 && !validator.range(document.applyForm.switch_wan1prio, 0, 7)){
					document.applyForm.switch_wan1prio.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan2prio.value.length > 0 && !validator.range(document.applyForm.switch_wan2prio, 0, 7)){
					document.applyForm.switch_wan2prio.focus();
					stage = 1;
					return false;
				}

				if(document.applyForm.switch_wan0tagid.value.length == 0 && document.applyForm.switch_wan1tagid.value.length == 0 && document.applyForm.switch_wan2tagid.value.length == 0){
					alert("Please configure VLAN settings");//Untranslated
					stage = 1;
					return false;
				}
			}
		}
		else{
			if(parent.original_switch_wantag != "none"){
				document.applyForm.switch_wantag.value = "none";
				document.applyForm.switch_stb_x.disabled = false;
				document.applyForm.switch_stb_x.value = "0";
			}
		}

		update_QKForm();

		if(document.applyForm.dhcp_type[0].checked){	//DHCP
			var modified = false;
			if(parent.document.QKform.wan_proto.value != "dhcp" || verify_vlan_settings()){
				modified = true;
			}
			document.applyForm.wan_proto.value = "dhcp";
			parent.document.QKform.wan_proto.value = document.applyForm.wan_proto.value;
			parent.document.QKform.wan_dhcpenable_x.value = 1;
			parent.document.QKform.wan_dnsenable_x.value = 1;
			if(modified){
				submitForm();
				return true;
			}
			else{
				document.applyForm.next_page.value = "QIS_wireless.htm";
			}
		}
		else if(document.applyForm.dhcp_type[1].checked){	//static IP
			document.applyForm.wan_proto.value = "static";
			parent.document.QKform.wan_proto.value = document.applyForm.wan_proto.value;
			parent.document.QKform.wan_dhcpenable_x.value = 0;
			parent.document.QKform.wan_dnsenable_x.value = 0;
			document.applyForm.next_page.value = "QIS_internet_ip.htm";
			document.getElementById("dhcp_scenario_1").style.display = "none";
			document.getElementById("dhcp_scenario_2").style.display = "none";
		}

		location.href = document.applyForm.next_page.value;
		return true;
	}
}

function update_QKForm()
{
	parent.document.QKform.switch_wantag.value = document.applyForm.switch_wantag.value;
	parent.document.QKform.switch_stb_x.value = document.applyForm.switch_stb_x.value;
	parent.document.QKform.mr_enable_x.value = document.applyForm.mr_enable_x.value;
	parent.document.QKform.emf_enable.value = document.applyForm.emf_enable.value;
	parent.document.QKform.ttl_inc_enable.value = document.applyForm.ttl_inc_enable.value;
	parent.document.QKform.wan_vpndhcp.value = document.applyForm.wan_vpndhcp.value;
	parent.document.QKform.quagga_enable.value = document.applyForm.quagga_enable.value;
	parent.document.QKform.mr_altnet_x.value = document.applyForm.mr_altnet_x.value;
	if(document.applyForm.switch_wantag.value == "manual"){
		parent.document.QKform.switch_wan0tagid.value = document.applyForm.switch_wan0tagid.value;
		parent.document.QKform.switch_wan0prio.value = document.applyForm.switch_wan0prio.value;
		parent.document.QKform.switch_wan1tagid.value = document.applyForm.switch_wan1tagid.value;
		parent.document.QKform.switch_wan1prio.value = document.applyForm.switch_wan1prio.value;
		parent.document.QKform.switch_wan2tagid.value = document.applyForm.switch_wan2tagid.value;
		parent.document.QKform.switch_wan2prio.value = document.applyForm.switch_wan2prio.value;
	}
}

function switch_dhcp_type(obj){
	if(!document.applyForm.specialisp.checked){
		if(obj.id == "non_dialUp_static"){
			document.getElementById("image_field").className = "static_image";
			document.getElementById("dhcp_scenario_1").style.display = "none";
			document.getElementById("dhcp_scenario_2").style.display = "none";
			document.getElementById("static_ip_desc").style.display = "";
		}
		else{
			if(odmpid == "RT-AC66U_B1" || odmpid == "RT-AC1750_B1" || odmpid == "RT-N66U_C1" || odmpid == "RT-AC1900U")
				document.getElementById("image_field").className = "non_dialUp_RT-AC66U_V2";
			else
				document.getElementById("image_field").className = "non_dialUp";
			document.getElementById("dhcp_scenario_1").style.display = "";
			document.getElementById("dhcp_scenario_2").style.display = "";
			document.getElementById("static_ip_desc").style.display = "none";
		}
	}

}

function previous_step(flag){
	if(flag == 1){
		document.getElementById('dhcp_tr').style.display = "none";
		document.getElementById('dhcp_desc').style.display = "none";
		document.getElementById('static_tr').style.display = "none";
		document.getElementById('static_desc').style.display = "none";
		document.getElementById('dialUp_tr').style.display = "";
		document.getElementById('dialUp_desc').style.display = "";
		document.getElementById('non_dialUp_tr').style.display = "";
		document.getElementById('non_dialUp_desc').style.display = "";
		document.getElementById('specialISP_tr').style.display = "none";
		document.getElementById('previous_button').style.display = "none";
		document.getElementById('title_desc').innerHTML = "<#QIS_SmartConn_title1#>";
		if(document.getElementById("image_field").className == "static_image"){
			if(odmpid == "RT-AC66U_B1" || odmpid == "RT-AC1750_B1" || odmpid == "RT-N66U_C1" || odmpid == "RT-AC1900U")
				document.getElementById("image_field").className = "non_dialUp_RT-AC66U_V2";
			else
				document.getElementById("image_field").className = "non_dialUp";
			document.getElementById("dhcp_scenario_1").style.display = "";
			document.getElementById("dhcp_scenario_2").style.display = "";
			document.getElementById("static_ip_desc").style.display = "none";
		}
		document.getElementById("special_ISP_field").style.display = "none";

		stage = 0;
	}
}

function enable_ISP_special(){
	if(document.applyForm.specialisp.checked){
		if(isSku("TW")){
			ISP_Profile_Selection("hinet");
			document.getElementById("profile_setting").style.display = "";
		}
		else
			ISP_Profile_Selection(parent.original_switch_wantag);

		document.getElementById('image_field').style.display = "none";
		document.getElementById('special_ISP_field').style.display = "";
		if(document.getElementById('image_field').className == "static_image")
			document.getElementById('static_ip_desc').style.display = "none";
		document.getElementById("dhcp_scenario_2").style.display = "none";
	}
	else{
		document.getElementById('image_field').style.display = "";
		document.getElementById('special_ISP_field').style.display = "none";
		if(document.getElementById('image_field').className == "static_image")
			document.getElementById('static_ip_desc').style.display = "";
		document.getElementById("dhcp_scenario_2").style.display = "";
	}
}
</script>
</head>  

<body onLoad="QKinternettype_load_body();" onunload="" onKeyPress="submitenter(this,event)">

<form method="post" name="applyForm" action="../start_apply.htm" target="hidden_frame" onsubmit="return submitForm();" autocomplete="off">
<input type="hidden" name="current_page" value="QIS_internet_type.htm">
<input type="hidden" name="next_page" value="/qis/QIS_finish.htm">
<input type="hidden" name="prev_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="wan_unit" value="<% nvram_get("wan_unit"); %>">
<input type="hidden" name="wan_proto" value="">
<input type="hidden" name="switch_stb_x" value='<% nvram_get("switch_stb_x"); %>' disabled>
<input type="hidden" name="mr_enable_x" value="<% nvram_get("mr_enable_x"); %>">
<input type="hidden" name="emf_enable" value="<% nvram_get("emf_enable"); %>">
<input type="hidden" name="ttl_inc_enable" value="<% nvram_get("ttl_inc_enable"); %>">
<input type="hidden" name="wan_vpndhcp" value="<% nvram_get("wan_vpndhcp"); %>">
<input type="hidden" name="quagga_enable" value="<% nvram_get("quagga_enable"); %>">
<input type="hidden" name="mr_altnet_x" value="<% nvram_get("mr_altnet_x"); %>">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="restart_wan_if">
<input type="hidden" name="action_wait" value="5">
<input type="hidden" name="flag" value="">
<input type="hidden" name="wan10_proto" value="<% nvram_get("wan10_proto"); %>">
<input type="hidden" name="wan11_proto" value="<% nvram_get("wan11_proto"); %>">

<div class="QISmain">
	<div id="descTltle">
		<table width="100%">
			<tr>
				<td align="left">
					<div class="description_down"><#QKSet_type_desc#></div>
				</td>
			</tr>
		</table>
	</div>
	<div style="margin:5px;" id="splitLine">
		<div style="width: 720px; *width: 710px; height: 2px;" class="splitLine"></div>
	</div>

</div>
<br/>
<div id="field_general">

<div id='dhcppppoe_sec'>
  <table border="0" align="left" cellpadding="2" cellspacing="0">
	<tr>
		<td style="width:380px;">
			<table class="QISform" style="width:98%;">
				<tr>
					<td colspan="2">
						<div id="title_desc" style="font-size:14px; margin:0 0 10px 10px;"><#QIS_SmartConn_title1#></div>
					</td>
				</tr>

				<tr id="dialUp_tr">
					<td align="center"><input type="radio" id="dialUp_yes" name="wan_type" value="0" onClick="switch_dialUp_type(this)" onKeyPress=""></td>
					<td class="wan_type_title"><label for="dialUp_yes"><#checkbox_Yes#></label></td>
				</tr>
				<tr height="40px" id="dialUp_desc">
					<td align="center"></td>
					<td valign="top"><span id="dialUp_string" class="wan_type_dec"><#QIS_SmartConn_TypeDial#></span></td>
				</tr>

				<tr id="non_dialUp_tr">
					<td align="center"><input type="radio" id="non_dialUp" name="wan_type" value="1"onClick="switch_dialUp_type(this)" onKeyPress=""></td>
					<td class="wan_type_title"><label for="non_dialUp"><#checkbox_No#></label></td>
				</tr>
				<tr height="40px" id="non_dialUp_desc">
					<td align="center"></td>
					<td valign="top"><span class="wan_type_dec"><#QIS_SmartConn_TypeAuto#></span></td>
				</tr>

				<tr id="dhcp_tr" style="display:none">
					<td align="center">
						<input type="radio" id="non_dialUp_dhcp" name="dhcp_type" value="0" tabindex="1" onClick="switch_dhcp_type(this)" onKeyPress="">
					</td>
					<td class="wan_type_title">
						<label for="non_dialUp_dhcp"><#BOP_ctype_title1#> (DHCP)</label>
					</td>
				</tr>
				<tr id="dhcp_desc" style="display:none;height:40px;">
					<td align="center"></td>
					<td valign="top"><span class="wan_type_dec"><#QIS_SmartConn_TypeAutoDesc#></span></td>
				</tr>

				<tr style="height:10px;"></tr>
				<tr id="static_tr" style="display:none">
					<td align="center"><input type="radio" id="non_dialUp_static" name="dhcp_type" value="1" tabindex="2" onClick="switch_dhcp_type(this)" onKeyPress=""></td>
					<td class="wan_type_title"><label for="non_dialUp_static"><#BOP_ctype_title5#></label></td>
				</tr>
				<tr id="static_desc" style="display:none;height:40px;">
					<td align="center"></td>
					<td valign="top"><span class="wan_type_dec"><#BOP_ctype_item5#></span></td>
				</tr>

				<tr id="specialISP_tr" style="display:none">
					<td align="center">
						<input type="checkbox" id="specialisp" name="specialisp" onclick="enable_ISP_special()">
					</td>
					<td>
						<label for="specialisp">
							<span id="specialisp_desc" class="QISGeneralFont" style="margin-left:0px;font-style:normal;color:#66CCFF;font-size:12px;font-weight:bolder;"><#PPPConnection_x_HostNameForISP_sectionname#></span>
						</label>
					</td>
				</tr>

				<tr>
					<td align="center" colspan="2">
						<div class="apply_gen">
							<input type="button" id="previous_button" value="<#CTL_prev#>" onclick="previous_step(stage);" class="button_gen" width="70px" align="center" style="display:none">
							<input type="button" value="<#CTL_next#>" onclick="next_step(stage);" class="button_gen" width="70px" align="center">
						</div>
					</td>
				</tr>
			</table>
		</td>
		<td id="right_panel" style="width:365px; height:400px;background:#444F52;border-radius:10px;">
			<div id="image_field" class="image_field"></div>
			<div id="isp_card_desc" style="padding:15px;display:none;line-height:15px;"><#QIS_SmartConn_ISPDesc#></div>
			<div id="static_ip_desc" style="padding:15px;display:none;line-height:15px;"><#QIS_SmartConn_StaticDesc#></div>
			<div id="dhcp_scenario_1" style="color:#5F9EA0;font-weight:bold;position:absolute;margin:-312px 0px 0px 112px;font-size:12px; display:none;"><#QIS_SmartConn_Scen1#></div>
			<div id="dhcp_scenario_2" style="color:#5F9EA0;font-weight:bold;position:absolute;margin:-149px 0px 0px 112px;font-size:12px; display:none;"><#QIS_SmartConn_Scen2#></div>
			<div id="special_ISP_field" style="margin-top:-100px;display:none">
			<div style="line-height:25px;height:250px;">
				<div id="select_profile">
					<table class="iptvTable">
					<tr>
						<th><#Select_ISPfile#>: </th>
						<td><select id="switch_wantag" name="switch_wantag" class="input_option" onChange="ISP_Profile_Selection(this.value)">
						</select></td>
					</tr>
					</table>
				</div>

				<div id="profile_setting" style="display:none;">
					<table class="iptvTable">
						<tr>
							<th><#Select_ISPfile#>:</th>
							<td>Hinet MOD</td>
						</tr>
					</table>
				</div>

				<table class="iptvTable">
					<tr id="port_line"><td colspan="2"><div class="iptvSplitLine splitLine"></div></td></tr>
					<tr id="wan_voip_x" style="display:none;">
						<th><span id="voip_title">VoIP Port: </span></th>
						<td id="voip_port">LAN3</td>
					</tr>
					</div>
					<tr id="wan_iptv_x" style="display:none;">
						<th><span id="iptv_title">IPTV STB Port: </span></th>
						<td id="iptv_port">LAN4</td>
					</tr>
					<tr id="wan_bridge_x" style="display:none;">
						<th width="30%">Bridge Port: </th>
						<td><span id="bridge_port">LAN4</span></td>
					</tr>
					<tr id="wan_internet_x">
						<th><#Internet#>:</th>
						<td>
							VID:<input type="text" name="switch_wan0tagid" class="input_6_table" maxlength="4" value='<% nvram_get( "switch_wan0tagid"); %>' autocorrect="off" autocapitalize="off" disabled>
							&nbsp;PRIO:<input type="text" name="switch_wan0prio" class="input_6_table" maxlength="1" value='<% nvram_get( "switch_wan0prio"); %>' autocorrect="off" autocapitalize="off" disabled>
						</td>
					</tr>
					<tr id="wan_iptv_port4_x">
						<th id="iptv_port4">IPTV (LAN port 4):</th>
						<td>
							VID:<input type="text" name="switch_wan1tagid" class="input_6_table" maxlength="4" value='<% nvram_get( "switch_wan1tagid"); %>' autocorrect="off" autocapitalize="off" disabled>
							&nbsp;PRIO:<input type="text" name="switch_wan1prio" class="input_6_table" maxlength="1" value='<% nvram_get( "switch_wan1prio"); %>' autocorrect="off" autocapitalize="off" disabled>
						</td>
					</tr>
					<tr id="wan_voip_port3_x">
						<th id="voip_port3">VoIP (LAN port 3):</th>
						<td>
							VID:<input type="text" name="switch_wan2tagid" class="input_6_table" maxlength="4" value='<% nvram_get( "switch_wan2tagid"); %>' autocorrect="off" autocapitalize="off" disabled>
							&nbsp;PRIO:<input type="text" name="switch_wan2prio" class="input_6_table" maxlength="1" value='<% nvram_get( "switch_wan2prio"); %>' autocorrect="off" autocapitalize="off" disabled>
						</td>
					</tr>
				</table>

				<table id="iptv_configuration" class="iptvTable">
					<tr ><td colspan="2"><div class="iptvSplitLine splitLine"></div></td></tr>
					<tr>
						<th>IPTV Connection</th>
					</tr>
					<tr>
						<th><#Layer3Forwarding_x_ConnectionType_itemname#>: </th>
						<td><#BOP_ctype_title5#></td>
					</tr>
					<tr>
						<th><#IPConnection_ExternalIPAddress_itemname#>: </th>
						<td><input type="text" name="wan10_ipaddr_x" maxlength="15" class="input_15_table" value="<% nvram_get("wan10_ipaddr_x"); %>" onKeyPress="return validator.isIPAddr(this, event);" autocorrect="off" autocapitalize="off"></td>
					</tr>
					<tr>
						<th><#IPConnection_x_ExternalSubnetMask_itemname#>: </th>
						<td><input type="text" name="wan10_netmask_x" maxlength="15" class="input_15_table" value="<% nvram_get("wan10_netmask_x"); %>" onKeyPress="return validator.isIPAddr(this, event);" autocorrect="off" autocapitalize="off"></td>
					</tr>
					<tr>
						<th><#IPConnection_x_ExternalGateway_itemname#>: </th>
						<td><input type="text" name="wan10_gateway_x" maxlength="15" class="input_15_table" value="<% nvram_get("wan10_gateway_x"); %>" onKeyPress="return validator.isIPAddr(this, event);" autocorrect="off" autocapitalize="off"></td>
					</tr>
					<tr>
						<th><#IPConnection_x_DNSServer1_itemname#>: </th>
						<td><input type="text" name="wan10_dns1_x" maxlength="15" class="input_15_table" value="<% nvram_get("wan10_dns1_x"); %>" onKeyPress="return validator.isIPAddr(this, event);" autocorrect="off" autocapitalize="off"></td>
					</tr>
					<tr>
						<th><#IPConnection_x_DNSServer2_itemname#>: </th>
						<td><input type="text" name="wan10_dns2_x" maxlength="15" class="input_15_table" value="<% nvram_get("wan10_dns2_x"); %>" onKeyPress="return validator.isIPAddr(this, event);" autocorrect="off" autocapitalize="off"></td>
					</tr>
					<tr>
						<th style="color:#6CF;"><#PPPConnection_Authentication_itemname#>: </th>
						<td style="text-align:left;">
							<select style="margin-left:2px;" class="input_option" name="wan10_auth_x" onChange="change_auth(this.value);">
								<option value="" <% nvram_match("wan10_auth_x", "", "selected"); %>><#wl_securitylevel_0#></option>
								<option value="8021x-md5" <% nvram_match("wan10_auth_x", "8021x-md5", "selected"); %>>802.1x MD5</option>
							</select>
						</td>
					</tr>
					<tr id="tr_pppoe_username" style="display:none;">
					<th style="color:#6CF;"><#Username#>: </th>
						<td style="text-align:left;"><input type="text" maxlength="64" class="input_15_table" name="wan10_pppoe_username" value="<% nvram_get("wan10_pppoe_username"); %>" onkeypress="return validator.isString(this, event)"></td>
					</tr>
					<tr id="tr_pppoe_password" style="display:none;">
						<th style="color:#6CF;"><div style="margin-top:-25px;"><#PPPConnection_Password_itemname#>: </div></th>
						<td style="text-align:left;"><input type="password" autocapitalization="off" maxlength="64" class="input_15_table" id="wan10_pppoe_passwd" name="wan10_pppoe_passwd" value="<% nvram_get("wan10_pppoe_passwd"); %>">
						<div style="margin-top:1px;"><input type="checkbox" name="show_pass_iptv" onclick="pass_checked_iptv(document.form.wan10_pppoe_passwd);"><#QIS_show_pass#></div>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div style="width: 100%; *width: 710px; margin-top: 15px;height: 2px;" class="splitLine"></div>
			<div id="unknownIsp" style="color:#FC0;font-size:14px;margin-left:10px;margin-top:10px;"><#QIS_SmartConn_TypeNote#></div>
			<div id="wan_unplug" style="color:#FC0;font-size:14px;margin-left:10px;margin-top:5px;display:none">* <#web_redirect_suggestion1#></div>
		</td>
	</tr>
  </table>
</div>

<div id="special_ISP_img" style="margin-top:0px;margin-left:500px;display:none;"><img width="220px" height="300px" src="../images/qis/border.png"></div>
</div>

<div style="display:none;" id="field_mobile">
	<span class="QISGeneralFont" id="theDesc" style="margin-left:0px;"><#QIS_type_desc1#><br><br></span>
	<fieldset class="theFieldset" id="internetType_m">
		<div class="row">
			<a class="iuiA" onclick="document.applyForm.x_WANType[0].checked=true;submitForm();"><#BOP_ctype_title1#> (DHCP)</a>
		</div>
		<div class="row">
			<a class="iuiA" onclick="document.applyForm.x_WANType[1].checked=true;submitForm();">PPPoE</a>
		</div>
		<div class="row">
			<a class="iuiA" onclick="document.applyForm.x_WANType[2].checked=true;submitForm();"><#BOP_ctype_title5#></a>
		</div>
		<div class="row">
			<a class="iuiA" onclick="document.applyForm.x_WANType[3].checked=true;submitForm();">PPTP</a>
		</div>
		<div class="row_end">
			<a class="iuiA" onclick="document.applyForm.x_WANType[4].checked=true;submitForm();">L2TP</a>
		</div>
	</fieldset>
	<fieldset class="theFieldset" id="unifyBtn">
		<div class="row_end">
			<a class="iuiA_unsel_check" id="unify_switcher" onclick="document.applyForm.specialisp.checked=this.getAttribute('myselected');mySel(this, false);" myselected="false">Unify</a>
			<span class="sel_check" onclick='showHidden_slide("field_mobile_unify", ["internetType_m", "unifyBtn", "theDesc"]);'></span>
		</div>
	</fieldset>

	<div id="field_mobile_unify" style="display:none;left:100%;position:absolute;width:100%">
		<fieldset class="theFieldset">
			<div class="row">
				<a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='unifi_home';mySel(this, false);" myselected="false">Unifi-Home</a>
			</div>
			<div class="row">
				<a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='unifi_biz';mySel(this, false);" myselected="false">Unifi-Business</a>
			</div>
			<div class="row">
				<a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='singtel_mio';mySel(this, false);" myselected="false">Singtel-MIO</a>
			</div>
			<div class="row">
				<a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='singtel_others';mySel(this, false);" myselected="false">Singtel-Others</a>
			</div>
			<div class="row">
				<a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='m1_fiber';mySel(this, false);" myselected="false">M1-Fiber</a>
			</div>
                        <div class="row">
                                <a class="iuiA_unsel" onclick="document.applyForm.switch_wantag.value='hinet';mySel(this, false);" myselected="false">Hinet MOD</a>
                        </div>
			<div class="row_end">
				<a class="iuiA_unsel_check" onclick="document.applyForm.switch_wantag.value='manual';mySel(this, false);" myselected="false"><#Manual_Setting_btn#></a>
				<span class="sel_check" onclick='showHidden_slide("unify_input", ["field_mobile_unify"]);'></span>
			</div>
		</fieldset>
		<div class="QISGeneralFont" id="voipport" style="margin-left:0px;">VoIP Port: <b style="color:#FC0">LAN3</b></div>
		<div class="QISGeneralFont" id="iptvport" style="margin-left:0px;">IPTV STB Port: <b style="color:#FC0">LAN4</b></div>
	</div>

	<div id="unify_input" style="display:none;left:100%;position:absolute;width:100%">
		<div class="itemTitle"><#Internet#>:</div>
		<fieldset class="theFieldset" id="unify_input_1">
			<div class="row">
				<label>VID</label>
				<input type="number" name="_switch_wan0tagid" value="">
			</div>
			<div class="row_end">
				<label>PRIO</label>
				<input type="number" name="_switch_wan0prio" value="">
			</div>
		</fieldset>
		
		<div class="itemTitle">VoIP(LAN port 3):</div>		
		<fieldset class="theFieldset" id="unify_input_2">
			<div class="row">
				<label>VID</label>
				<input type="number" name="_switch_wan1tagid" value="">
			</div>
			<div class="row_end">
				<label>PRIO</label>
				<input type="number" name="_switch_wan1prio" value="">
			</div>
		</fieldset>
		
		<div class="itemTitle">IPTV(LAN port 4):</div>		
		<fieldset class="theFieldset" id="unify_input_3">
			<div class="row">
				<label>VID</label>
				<input type="number" name="_switch_wan2tagid" value="">
			</div>
			<div class="row_end">
				<label>PRIO</label>
				<input type="number" name="_switch_wan2prio" value="">
			</div>
		</fieldset>
	</div>
</div>
</form>
</body> 
