if ARCH_MX23

config MX23
	bool
	default y

choice
	prompt "MX23 board select"
	optional

config TARGET_MX23_OLINUXINO
	bool "Support mx23_olinuxino"
	select BOARD_EARLY_INIT_F

config TARGET_MX23EVK
	bool "Support mx23evk"
	select BOARD_EARLY_INIT_F

config TARGET_SANSA_FUZE_PLUS
	bool "Support sansa_fuze_plus"

config TARGET_XFI3
	bool "Support xfi3"

endchoice

config SYS_SOC
	default "mxs"

source "board/olimex/mx23_olinuxino/Kconfig"
source "board/freescale/mx23evk/Kconfig"
source "board/sandisk/sansa_fuze_plus/Kconfig"
source "board/creative/xfi3/Kconfig"

endif

if ARCH_MX28

config MX28
	bool
	default y

choice
	prompt "MX28 board select"
	optional

config TARGET_APX4DEVKIT
	bool "Support apx4devkit"

config TARGET_BG0900
	bool "Support bg0900"

config TARGET_MX28EVK
	bool "Support mx28evk"
	select BOARD_EARLY_INIT_F

config TARGET_SC_SPS_1
	bool "Support sc_sps_1"

config TARGET_TS4600
	bool "Support TS4600"

endchoice

config SYS_SOC
	default "mxs"

source "board/bluegiga/apx4devkit/Kconfig"
source "board/freescale/mx28evk/Kconfig"
source "board/ppcag/bg0900/Kconfig"
source "board/schulercontrol/sc_sps_1/Kconfig"
source "board/technologic/ts4600/Kconfig"

endif
