if TARGET_KYLIN_RK3036

config SYS_BOARD
	default "kylin_rk3036"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "kylin_rk3036"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
