if TARGET_EDISON

config SYS_BOARD
	default "edison"

config SYS_VENDOR
	default "intel"

config SYS_SOC
	default "tangier"

config SYS_CONFIG_NAME
	default "edison"

config SYS_TEXT_BASE
	default 0x01101000

config ROM_TABLE_ADDR
	default 0x0e4500

config ROM_TABLE_SIZE
	default 0x007b00

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select X86_LOAD_FROM_32_BIT
	select INTEL_MID
	select INTEL_TANGIER
	select BOARD_LATE_INIT
	select MD5

endif
