config TEGRA_CAR_CLOCK
	bool "Enable Tegra CAR-based clock driver"
	depends on TEGRA_CAR
	help
	  Enable support for manipulating Tegra's on-SoC clocks via direct
	  register access to the Tegra CAR (Clock And Reset controller).

config TEGRA186_CLOCK
	bool "Enable Tegra186 BPMP-based clock driver"
	depends on TEGRA186_BPMP
	help
	  Enable support for manipulating Tegra's on-SoC clocks via IPC
	  requests to the BPMP (Boot and Power Management Processor).
