compatible = "brcm,bcmbca-ehci";

reg-names = "usb-ehci";
reg = <USB_ADDR USB_SIZE>;
usb_port-id = <USB_PORT_ID>;
interrupts = <GIC_SPI USB_IRQ IRQ_TYPE_LEVEL_HIGH>;
status = "disabled";
/* coherency_enable */ /* For DMA coherency enabled on 63158 only */
/* to let add multiple usb without errors undefine usb definitions */
#undef USB_ADDR
#undef USB_SIZE
#undef USB_PORT_ID
#undef USB_IRQ
